[2018-09-24 22:44] fabriciorissetto commented on #1002
Great idea @matheusca . I think something like this should work (`plus` example):

[code]

[2018-10-02 20:09] JLLeitschuh opened #1033 "Master is broken"
Running `./gradlew` against `master` currently throws the following exception:
[code]

[2018-10-02 20:10] JLLeitschuh commented on #1033
Looking at the bintray repository, this looks accurate. There isn't a version 0.7.1 published:
https://jcenter.bintray.com/io/arrow-kt/ank-gradle-plugin/

[2018-10-02 21:06] pakoito commented on #1033
Are you in a branch maybe?

<img width="1075" alt="screen shot 2018-10-02 at 10 05 39 pm" src="https://user-images.githubusercontent.com/514871/46376963-55636380-c68f-11e8-9ba5-f74d04b15c36.png">

[2018-10-02 21:08] pakoito commented on #1033
Weird, I can't find it either. @Guardiola31337 do you know ??

[2018-10-04 23:47] pakoito opened #1034 "Add co-data datatypes to the datatypes Intro page"
Also, the menu links seem to be broken at the moment. I've fixed the ones using `datatype` without `s`, but that doesn't seem to be the problem.

[2018-10-05 18:52] JLLeitschuh commented on #1033
Just pulled master and tried to build. This seems to have been resolved.

[2018-10-05 18:52] #1033 closed

[2018-10-06 14:28] Mishkun commented on #729
Seems no progress on issue... :hmm:
Eq cannot be provided with equals() op, because every class have equals() member function, which shadows the extension op.
Semigroup was already provided with `+` syntax in #768 .
Order can be provied with compareTo() easily, can submit a PR.
Haven't come up with other useful operators yet

[2018-10-06 23:57] #729 closed

[2018-10-07 00:01] pakoito commented on #581
I believe we don't need the extension, but yes, it'd be nice to have a consistent value name between Either.(Left, Right), Option.Some, Ior.(Left, Right, Both), Try.Sucess and Id. Any others I forgot would be nice too, as long as the value isn't calculated, like in Eval for example.

[2018-10-07 10:46] pakoito opened #1036 "Create Contributing guidelines"
A small doc with:

* How to add a new datatype
* How to add a new typeclass
* How to build the docs
* How to run the tests

[2018-10-07 15:12] richard-gibson commented on #958
Happy to take this one

[2018-10-08 17:09] calvellido commented on #1013
I have this ready, but I'd like to ask you for feedback on the best way to integrate it with ΛNK. If you fetch the changes in [interactive-snippets](https://github.com/arrow-kt/arrow/tree/jv-1013-interactive-snippets) branch you can have a look at it.

Basically we will have the snippets on _readOnly_ mode by default, and to make one of the snippets editable and runnable it can be made by adding `

[2018-10-08 17:54] raulraja commented on #1013
@calvellido @dominv this is awesome. Kudos!

This is going to be extremely useful for new users trying out the library.

I think snippets should be expanded and as far as we are concerned in Arrow there is no need for collapsing sections at all since the snippets should be small enough. Having the option to activate collapsing as part of the `{: data-executable='true'}` directive would be ideal in

[2018-10-08 18:00] raulraja commented on #1013
/cc @Guardiola31337

[2018-10-10 20:43] pakoito commented on #455
Closed by @Cotel

[2018-10-10 20:43] #455 closed

[2018-10-11 09:04] #1013 closed

[2018-10-11 16:02] leandroBorgesFerreira opened #1044 "Support for Pair extension functions to Tuple2"
It would be nice to have the same extension functions if Pair in the Tuple2, like `toMap`, for example.

What do you think? I would be happy to add then.

[2018-10-11 16:07] raulraja commented on #1044
Sounds great!

[2018-10-11 23:02] #1034 closed

[2018-10-16 10:59] AdrianRaFo commented on #332
I'll take this if there is no problem

[2018-10-16 20:11] starkej2 commented on #943
I'd like to help out with this issue. Is it something that I could work on now that Kotlin 1.3-RC is out? or should I wait for the final release?

[2018-10-16 20:34] pakoito commented on #943
I thought there was a branch for it, or someone who offered help (?)

In any case if you'd like to go for it, please base it off the branch `paco-kotlin1.3`

[2018-10-17 10:14] calvellido opened #1052 "Docs styles tweaks"
This is an issue to track various docs current styling needed fixes and tweaks. If you are reading this and want to add anything please do!

* Increment vertical spacing on the code snippets typography to improve readability (as suggested by @pakoito here https://github.com/arrow-kt/arrow/pull/1051#issuecomment-430556381).

* Take care of the [Watch video] button on mobile viewports (it clashes wi

[2018-10-19 03:13] iboss-ptk commented on #314
Would love to help with this but I wonder how to build docs?

[2018-10-19 06:57] iboss-ptk commented on #314
Sorry, I didn't look into #311. Thank you :D

[2018-10-23 23:45] vejeta commented on #333
I can take this task.

[2018-10-24 00:12] pakoito commented on #333
@vejeta PLEASE YES

[2018-10-24 07:55] calvellido commented on #333
Please consider it yours though you are not assigned :+1:

[2018-10-28 18:00] LordRaydenMK commented on #871
Hey @JorgeCastilloPrz

as @jereksel mentions Dagger 2.15 is newer than 2.5
The latest Dagger release is 2.18 released 9 days ago: https://github.com/google/dagger/releases

Dagger 2.15 was released on Mar 7 and Dagger 2.5 was released on Jun 15, 2016.

There is a [PR](https://github.com/JorgeCastilloPrz/ArrowAndroidSamples/pull/23/files) on your Android sample project where you mention a Dagger do

[2018-10-28 18:01] #871 closed

[2018-10-31 18:05] ZakTaccardi opened #1078 "Should `Try.raise` have a `Nothing` generic?"
Problem:

[code]

The issue is having to define `Try.raise<String>(exception)` instead of just `Try.raise(exception)`.

[code]

I'm sure there's a reason this was designed this way, so changing it now may be too late...but what is that reasoning?

[2018-10-31 19:16] pakoito commented on #1078
And change error recovery to `recoverWith` #wishlist

[2018-11-05 15:56] pakoito opened #1084 "Make `-instances` module names consistent"
We have arrow-instances-data and also arrow-effects-instances. It should be arrow-data-instances, etc for the recursion, core, and data modules

[2018-11-06 01:04] raulraja opened #1085 "Enforce Kotlin and Coroutine release version when releasing Arrow"
Ensure Kotlin version and coroutines version only point to released versions as part of the Arrow release. In 0.8.0 we released depending on RC builds and that should never happen.

[2018-11-06 22:30] #332 closed

[2018-11-08 09:37] routis commented on #840
Updated the https://github.com/routis/kaptdemo that should reproduce this issue

[2018-11-08 11:12] JorgeCastilloPrz opened #1089 "Fiber"
Fiber is an abstraction representing the **pure** result of an asynchronous computation by an `Async` data type (i.e: `IO`), where the computation started concurrently and can be either joined or canceled.

[Here is the cats implementation](https://github.com/typelevel/cats-effect/blob/84696fb35ec8464d277f221991a64882c79363a0/core/shared/src/main/scala/cats/effect/Fiber.scala#L55) for reference.

[2018-11-08 11:15] JorgeCastilloPrz opened #1090 "Concurrent"
`Concurrent` is a Type class for `Async` data types that are cancelable and can be started concurrently.

Concurrent extends `Async`, so any `Concurrent` instance must inherit from the `Async` one for the each data type.

[This is the cats implementation](https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Concurrent.scala#L207) for reference.

 One diagram

[2018-11-08 11:24] JorgeCastilloPrz opened #1091 "Parallel"
`Parallel` is a Type class resolving parallel computation using Monads. Since they have the power of both sequential and parallel computation, they require an instance of Monad and an instance of Applicative.

`NonEmptyParallel` is also required on this one.

* [Here is the cats implementation](https://github.com/typelevel/cats/blob/9807343a553710b4df33504651803fcc8fa20d99/core/src/main/scala/cats

[2018-11-08 12:03] JorgeCastilloPrz opened #1092 "Promise (cats Deferred)"
Requires #1090

**Disclaimer: This has nothing to do with the already present `DeferredK` which works over the coroutines Deferred data type.**

[There is a `Deferred` type that works over any `F` in cats-effect](https://github.com/typelevel/cats-effect/blob/84696fb35ec8464d277f221991a64882c79363a0/core/shared/src/main/scala/cats/effect/concurrent/Deferred.scala#L48) which is basically a Future or

[2018-11-08 12:07] JorgeCastilloPrz opened #1093 "Semaphore"
Requires #1090

A `Semaphore<F>`. Basically the semaphore functionality but for functional programming, so it works over any `F`.

`Semaphore<F>` is also required for arrow streams.

* [Here you have the cats data type](https://github.com/typelevel/cats-effect/blob/84696fb35ec8464d277f221991a64882c79363a0/core/shared/src/main/scala/cats/effect/concurrent/Semaphore.scala#L37).
* [Here you have cats

[2018-11-08 12:14] nomisRev commented on #1092
Here is a working version for `Async` https://github.com/arrow-kt/arrow/blob/simon-concurrent/modules/effects/arrow-effects/src/main/kotlin/arrow/effects/internal/Promise.kt

[2018-11-08 12:48] calvellido opened #1094 "Load Arrow Playground from CDN"
As [Arrow Playground](https://github.com/arrow-kt/arrow-playground) is now published in the npm registry ([npmjs.com/arrow-playground](https://www.npmjs.com/package/arrow-playground)), we can directly load it from a CDN like UNPKG instead of getting it manually injected in the docs page.

[2018-11-08 13:11] JorgeCastilloPrz opened #1095 "LiveDataK wrapper for arrow-effects-android"
Let's start working on `arrow-effects-android` adding a `LiveData` wrapper (`LiveDataK`). Create the arrow module and add the wrapper along with the required type class instances and tests for it.

[2018-11-08 13:27] vejeta opened #1096 "DeferredK behaviour in Kotlin 1.3 and Arrow 0.8.0"
We found two possible issues in DeferredK.async,

In this case, we found two issues:
    1. the computation never ends.
    2. The default value for the start parameter in arrow/effects/DeferredK.kt:63 is CoroutineStart.DEFAULT and it should be CoroutineStart.LAZY

Just using async works, but experimenting with this uncovered the strange behaviour explained in the two points above.

Example:

[2018-11-08 14:16] pakoito commented on #840
We changed the repositories needed for the project to include JitPack. Have you added it too?

[2018-11-08 14:41] JorgeCastilloPrz opened #1097 "BifunctorIO (BIO)"
We wanna have a BIO implementation like [the one from cats-bio](https://github.com/LukaJCB/cats-bio/blob/637cbb68aac217b2c9d0c95252a0b80b698f68c7/src/main/scala/cats/effect/bio/BIO.scala#L86).

It's basically an IO capable of handling a given error type, instead of just Throwable. It's also present in [scalaz-zio](https://scalaz.github.io/scalaz-zio/)

[2018-11-08 18:06] routis commented on #840
@pakoito Thanks

[code]

[2018-11-08 19:53] pakoito commented on #840
@routis could you please PR it against the README?

[2018-11-08 19:55] pakoito commented on #840
@routis close the ticket for now?  :D

[2018-11-10 10:05] Cotel opened #1099 "Arrow-refinement module"
We should define what things we want to include in this API and choose the best encoding from there.

The main purpose of this module is offering a set of refined types over primitives like `PositiveInt`, `RegexString`, `NonEmptyString`, etc. And a DSL for easily define new refined types.

We could also include a compiler plugin for checking literals and prevent situations like `-1.positive()` at

[2018-11-11 17:15] JorgeCastilloPrz opened #1104 "Clean Typeclass reassignations for instances"
On #1043 I needed to add an instance to the Kleisli hierarchy and found out that we were reassigning typeclass constraints at each one of the instance hierarchy levels, adding more boilerplate over and over. Looking at typelevel/cats, instances just override the parent constraint and loose it a bit reducing it's constraints to the new level. So you'd have:

[code]
So on each level you override the

[2018-11-11 18:32] raulraja commented on #1104
This approach won't work with the `@extension`processor since in some cases it can't walk up the hierarchy. The `@extension` requires each instance that can be made concrete to declare as abstract functions whatever dependencies it needs to be injected in the constructor of factories and static methods that are projected as part of the data types syntax. It could be reworked to work like this but

[2018-11-11 20:20] juxeii opened #1107 "How to get rid of the ExtensionsDSLDeprecated warning in Arrow 0.8.0?"
Hi,
I get an `ExtensionsDSLDeprecated` warning on this code with Arrow 0.8.0:
[code]
What is the correct way to get rid of this warning?
I tried
[code]

[2018-11-11 20:37] JorgeCastilloPrz commented on #1104
🤔How is it working good for Kleisli with a bunch of hierarchy levels of inheritance?

[2018-11-11 22:09] raulraja commented on #1104
@JorgeCastilloPrz by providing a new name for the new constrain and satisfying the parent unfulfilled constraints delegating to the new more powerful one like in the Kleisli instances below:
[code]

[2018-11-12 00:05] pakoito commented on #1107
In 0.8.0, you do `State.monad<Queue<OrderEventHandlerData>>().binding {`. In 0.8.1 it should just be `binding` and importing the function from the right package.

[2018-11-12 06:54] pakoito commented on #1107
Yes, your solution sounds correct.

[2018-11-12 06:56] juxeii commented on #1107
So, is StateApi preferrable to your solution? How do I get rid of the compiler errors?

[2018-11-12 07:02] JorgeCastilloPrz commented on #1104
Sorry, I think I didn't explain myself properly. I wanted to mean I used "my approach" on the Kleisli in Bracket PR already, and it's working good. The only caveat was the need to rename FF() to FFF() due to a conflict found in generated code.

[2018-11-12 10:07] JorgeCastilloPrz commented on #1095
@Tylos will take this one. It's a good one for an Android dev to start getting in contact with the key arrow concepts (data types, typeclasses, instances of the type classes for the data type, testing laws over the data type).

[2018-11-12 10:44] raulraja commented on #1095
I think this would require `Stream<F, A>` to be properly modeled and if we want to include the different lifecycle methods in a similar fashion as to how it's done with Rx2 traditionally in Android. The difference is that our Stream works for Deferred, Observable, IO, etc.

[2018-11-12 11:42] #1107 closed

[2018-11-12 12:38] JorgeCastilloPrz commented on #1095
@raulraja I think `LiveData` does not model anything in terms of lifecycle. It's an `Observable`. It just queries the observer before emitting (which must implement  `LifecycleOwner` or somethjing similar), like `observer.isResumed()`, `observer.isStarted()`and so on. So I'm not sure it requires modeling anything related to the lifecycle as a stream. We need to investigate a bit more.

[2018-11-12 14:52] Cotel commented on #1099
@raulraja @pakoito

[2018-11-12 14:54] pakoito commented on #1095
https://github.com/arrow-kt/arrow/pull/475

I did it already. tl;dr it's so slow it takes literal minutes to do tailrec. Unusable.

[2018-11-12 14:56] raulraja commented on #1099
I think the type class approach will end up giving us less boilerplate and we already have a strategy to mix in operators for numeric types etc... They are not incompatible together either. We can have both. Generic behaviors and extensions to be projected in type classes. Special new types that we want to wrap go as inline classes.
[code]

[2018-11-12 14:56] pakoito commented on #1107
`StateApi` is an intermediate helper where to put these instances. I forgot that we had to do it because we describe State as a specialization of StateT.

[2018-11-12 14:57] pakoito commented on #1099
`PositiveInt` was added in 1.3, it's called UInt.

[2018-11-12 15:07] Cotel commented on #1099
The only con I see in that approach is that you need to be inside the scope of `PositiveIntRefinement` for creating `1.positiveInt()` isn't it?

[2018-11-12 17:28] pakoito opened #1111 "Docs for MonadThrow"
https://github.com/arrow-kt/arrow/pull/1109#discussion_r232520983

[2018-11-12 17:29] pakoito opened #1112 "Add arrow-retrofit to the list of libraries"
Above or below

https://arrow-kt.io/docs/quickstart/libraries/#arrow-free

[2018-11-12 17:30] pakoito opened #1113 "Add AQL to the list of libraries"
Below or above

https://arrow-kt.io/docs/quickstart/libraries/#arrow-free

[2018-11-12 17:37] leandroBorgesFerreira commented on #1112
Ok. I'll do it tonight.

[2018-11-12 18:11] raulraja commented on #1099
@Cotel Nope, since Arrow 0.8.0 we export all type class functions and project them automatically downcasting as package functions over the data type as receiver.

[2018-11-12 18:12] raulraja commented on #1099
The validation and refinement libraries can go on the same module. One is more oriented to new typing and the other for data validation in general but I foresee being able to use refinement predicates as validation rules that can run through the Applicative Error

[2018-11-12 18:14] Cotel commented on #1099
Perfect then 👌, could we also offer a `positiveInt(1)` top function as well or something like that for the types we provide?

[2018-11-12 21:11] Cotel commented on #1099
It tells me that both definitions has the same JVM signature and they clash.

Also, I have a basic `NonZero` implementation but I've been checking types provided by Scala's `refined` and I would want to implement `Less` for example. I have defined NonZero like `NonZero<F, A : Number> : Refinement<F, A>`. For the `Less` refinement I will need `A` to have comparison operations. Would it be okay if I

[2018-11-12 21:42] raulraja commented on #1099
I think it's time you put it up in a PR and we can all work of a branch as we shape it's original design. I can reply to both of your comments below but would be easier just to jump and fix it.
1. Which is the clash?, the class name or the positive method names?
2. Yes, each type class can depend in other type classes it needs to operate. The concretion can provide the order instance accordingly.

[2018-11-12 22:41] #1112 closed

[2018-11-12 23:05] pakoito commented on #1112
Thanks @leandroBorgesFerreira !!

[2018-11-13 08:37] JorgeCastilloPrz commented on #1095
Can you ellaborate on how to proceed then? Is it a problem on how `LiveData.switchMap` is coded? can't we do any workarounds to have this wrapper in place?

[2018-11-13 14:21] pakoito commented on #1095
It's coded so it does excessive checking and they don't optimize composition. It's all intentional so not much we can do about it other than ask Google. I already did, and their response was this this constructs are not meant to be used a lot to chain them.

[2018-11-13 18:03] raulraja opened #1120 "Fix all docs type class and data types links"
All type classes and data type in the documentation site should follow the same path as the package they declared in terms of permalinks in the docs.
For example:

`arrow.core.Option` -> `docs/arrow/core/option`

All permalinks need to be modified and if possible preserve existing redirects.
This is necessary because we plan on using reflection and other introspection techniques to have some parts

[2018-11-13 18:10] raulraja opened #1121 "Enable Playgrounds on all docs code snippets"
For playgrounds to work most snippets in the site need to be modified to conform with the playgrounds format.
In places where before we had:
[code]
Now we need to provide explicit imports supporting the code inside `main` and the comments as ilustrated in the example below.
[code]
This needs to be done and tested for all the different code snippets.
There may be places like in the Error Handling t

[2018-11-13 19:16] pakoito opened #1122 "Update to Kotlin 1.3.10"
https://github.com/JetBrains/kotlin/releases/tag/v1.3.10

[2018-11-14 08:49] JorgeCastilloPrz commented on #1095
Ok so, given that this new data type we potentially work on would be "equivalent" to `LiveData` in terms of public APIs, **but efficient**, I assume we would want it to work with Google's LifecycleOwner observers?. SDK activities and fragments are already LifecycleOwners so if we can work with that interface we'd not need to reencode a lot of things and create our own Activity / Fragment parent cl

[2018-11-14 09:21] calvellido commented on #1121
In case of docs in that _tutorial_ style of accumulating code through different snippets, the Arrow Playground offer a mode called `incremental` that can be used in case it fits.

`{: data-executable='incremental'}`

This will make the current snippet code to be added to the code of the previous snippets, extracting imports and placing them at the top. Additionally this mode will wrap the executab

[2018-11-14 13:15] Tylos commented on #1120
I have been reviewing the issue and wanted to ask a coupe of questions to make sure I got everything right:
* I understand all the [type classes](https://github.com/arrow-kt/arrow/tree/master/modules/docs/arrow-docs/docs/docs/typeclasses) and [data classes](https://github.com/arrow-kt/arrow/tree/master/modules/docs/arrow-docs/docs/docs/datatypes) are listed in those documentation directories. Did

[2018-11-14 13:54] raulraja commented on #1120
By redirects I mean that we may loose traffic and position reworking the links so it'd be nice if the existing ones would redirect to the new links based on the package.seems like @tylos has aplna for this though.

[2018-11-14 19:51] JorgeCastilloPrz commented on #1095
I see. Sounds good. Is android-ui blocked by arrow-streams then? Looking for ways to put some efforts on this for Q1, but not sure it's gonna be possible.

[2018-11-14 21:31] pakoito commented on #1095
@Cotel can fill you in better!

[2018-11-14 22:50] #1023 closed

[2018-11-15 10:41] TAGC commented on #840
I'm having this problem too, using Gradle rather than Maven and having followed the Gradle-specific instructions (there's no mention of JitPack in them).

[2018-11-15 14:44] JorgeCastilloPrz opened #1124 "Async.asyncF"
We need to include `asyncF` in `Async` to be able to encode `Concurrent#defaultCancelable`. #1090 depends on this one.

[2018-11-15 14:50] #1089 closed

[2018-11-15 15:07] Tylos commented on #1120
Currently working on a [forked version of arrow](https://github.com/Tylos/arrow/commits/1120-fix-docs-type-class-data-class)

You can access the documentation using the new url `docs/arrow/core/option`
![2018-11-15 12-21-07 2018-11-15 12_25_55](https://user-images.githubusercontent.com/3380693/48561323-fcbef180-e8ef-11e8-91cc-1a743786e268.gif)

Whereas `docs/datatypes/option` redirects to the afor

[2018-11-15 15:31] nomisRev commented on #940
Closed by #1061

[2018-11-15 15:31] #940 closed

[2018-11-15 15:51] pakoito commented on #840
@TAGC is it fixed then?

[2018-11-15 16:10] TAGC commented on #840
Yeah.

[2018-11-15 16:58] calvellido commented on #1120
@Tylos regarding the menu state, that behaviour you are seeing is because it is set at build time by comparing through Liquid the URL with the one considered for the menu entry:

https://github.com/arrow-kt/arrow/blob/86dd8ccfa633f8e3160a645bd50c08c682dd3e8e/modules/docs/arrow-docs/docs/_data/menu.yml#L54

https://github.com/arrow-kt/arrow/blob/86dd8ccfa633f8e3160a645bd50c08c682dd3e8e/modules/docs

[2018-11-16 00:22] ersin-ertan opened #1126 "fold option monoidk algebra stackoverflow"
Running: `listOf(Option(1)).fold(Option.monoidK().algebra())`

Produces: `Exception in thread "main" java.lang.StackOverflowError
	at arrow.typeclasses.MonoidK$algebra$1.empty(MonoidK.kt:20)`

[2018-11-16 00:50] pakoito commented on #1126
Can you please check which method causes the SO? I couldn't find it looking at the impl.

[2018-11-16 02:51] ersin-ertan commented on #1126
Stackctrace:
[code]
Calling code is Foldable:
[code]
The empty is point back to empty. Should it be something like `this@MonoidK.empty()`?

[2018-11-16 09:34] JorgeCastilloPrz opened #1129 "[Arrow] Bracket docs"
`Bracket` was added in #34 and merged to unlock work over other related Type classes, but docs are still not available. We should work on them asap.

[2018-11-16 10:43] pakoito commented on #1126
That's probably it, and this is one edge case in codegen because this is one of the few calls that creates a new instance object where the function `empty` is available on both scopes.

[2018-11-16 11:30] pakoito opened #1130 "data-executable doesn't work without a newline before the snippet"
I've ninjacommitted 3 fixes to the docs caused by the same pattern, `{:data-executable='true'}` doesn't get applied unless it's unambiguously attached to a block, with an extra line of whitespace.

Example: https://github.com/arrow-kt/arrow/commit/00b6a6336e44ffc034bfa769e01165efef7ed270

[2018-11-16 11:37] calvellido commented on #1130
This is part of kramdown syntax, and this happens because you can set attributes to a block element setting a block IAL just under or over the desired block, and it seems that when a block IAL is under and also over a block element, the one at the top is the one getting the attribute.

https://kramdown.gettalong.org/syntax.html#block-ials

[2018-11-16 13:00] pakoito opened #1131 "Fix Deferred<A>.k() and CoroutineScope.asyncK(...) to set the right scope"
https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-kotlinx-coroutines/src/main/kotlin/arrow/effects/DeferredK.kt#L11-L15

Currently they set the scope to Global, due to the default value in the constructor of `DeferredK`. It should inherit it from `scope` in `asyncK`, and get it from the context in `k()`.

[2018-11-17 15:48] #1129 closed

[2018-11-17 15:53] pakoito commented on #1129
I would also add it to the list of typeclasses in the intro: https://arrow-kt.io/docs/typeclasses/intro/#effects

[2018-11-17 23:40] raulraja opened #1135 "Replace `invoke` for `delay` in `MonadDefer`"
The current `invoke` operator is confusing because it requires to use the type class as if it was creating new instances of it when really this combinator is known elsewhere as `delay`.

[2018-11-18 11:07] LordRaydenMK commented on #1135
I'll take this as agreed on Slack. Quick question: do we just remove `invoke` or we @Deprecated it first? (it's an API breaking change).

[2018-11-18 13:29] raulraja commented on #1135
thanks @LordRaydenMK . We deprecate it first and leave it around for a release cycle and remove in the following one.

[2018-11-18 15:44] #1135 closed

[2018-11-18 16:46] LordRaydenMK opened #1137 "IOTest flaky"
When running `./gradlew clean test` two test for `IOTest` fail (I attached the results). After running multiple times, sometimes only one of those tests fail.

The tests are:
IOTest. parallel execution makes all IOs start at the same time
IOTest. parallel execution preserves order for synchronous IOs

When running test from the `IOTest` class ony (from IntelliJ) they run just fine.

I am using: In

[2018-11-18 16:55] pakoito commented on #1137
It is the concurrency all starts at the same level one?

[2018-11-18 17:12] LordRaydenMK commented on #1135
@raulraja I found this in some generated code (I noticed some compile warnings):

[code]

I guess it's not 100% complete.

[2018-11-18 17:14] LordRaydenMK commented on #1137
I updated the issue with the name of the tests. Maybe someone else will figure it out.

[2018-11-18 20:10] 1Jajen1 commented on #795
Is this still relevant? If so I could attempt this. I was looking for something to get familiar with arrow (and contributing to it) and this seems doable. If there is something else more recent (and easy to get started with) then please point me to that as well :)
As for ManagedT implementing this with using bracket should not be too hard or am I missing something here?

[2018-11-18 20:50] pakoito commented on #1137
If you check the test, it uses threads per execution context and one to start them all. It'd be good if you could please run the tests with `-i`, or use a try/catch to print the complete exception so we can understand it better, given that you have consistent repro :D

[2018-11-18 20:52] pakoito commented on #1135
Try cleaning the project and rebuilding it again.

[2018-11-18 20:55] pakoito commented on #795
`ManagedT` sounded like a fun datatype to add. It isn't a must, but rather a nice to have if you'll have fun writing it!

If you'd like some easier tickets that touch several parts of the codebase, there is:

Hash typeclass: https://github.com/arrow-kt/arrow/issues/687
MonadSuspendLaws: https://github.com/arrow-kt/arrow/issues/590, https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-t

[2018-11-18 21:03] 1Jajen1 commented on #795
I think I'll take a look at hash first and after that either #590 or this one. Thanks for the quick answer :)

[2018-11-18 21:08] 1Jajen1 commented on #687
As per #795 I think I'll attempt this. Is the old branch still worth using, or should I start fresh. On that note: Are there some guides to contributing? Or is it best to just start and go along with it in a pr? :)

[2018-11-18 21:29] pakoito commented on #687
The contributing guide is...incomplete at best. You need:

* The typeclass
* An instance for at least a couple of datatypes, specially wrappers like Id, ListK, SetK, MapK, SequenceK...
* A set of Laws/Tests
* Apply the laws to the instances

And lastly, the docs. Ping me when you're ready for this
* An entry on the docs menu
* Its own doc

[2018-11-18 21:37] LordRaydenMK commented on #1137
I executed `./gradlew clean test -i > tests.txt` and here is the result.
[tests.txt](https://github.com/arrow-kt/arrow/files/2593250/tests.txt)

Then I tied running `./gradlew clean test -i --stacktrace > tests2.txt` and the result is:
[tests2.txt](https://github.com/arrow-kt/arrow/files/2593260/tests2.txt)

[code]
[code]
point out to this line: `order.toList() shouldBe listOf(1L, 2, 3, 4, 5, 6)`

[2018-11-18 22:46] pakoito commented on #1137
Can you please increase `Thread.sleep(num * 20)` to `Thread.sleep(num * 50)` and see if that fixes it?

[2018-11-18 23:08] raulraja commented on #1135
@LordRaydenMK that is generated  by the `@extension` processor which exports type class methods as extension functions over the datatypes that provide instances for the type classes. As @pakoito mentioned you should be able to clean and see `delay` getting exported in some of the data types as well.

[2018-11-19 10:58] pakoito commented on #1126
So @franciscodr is on it :D

[2018-11-19 19:03] #1126 closed

[2018-11-19 19:03] raulraja commented on #1126
Thanks @franciscodr !

[2018-11-19 22:36] pakoito commented on #1137
It's just flaky ;_____; I have my suspicion about why, and it has to do with the way suspended functions are started. What to do, what to do.

[2018-11-19 22:38] pakoito opened #1143 "Move MonoidKTest.kt to MonoidKLaws"
https://github.com/arrow-kt/arrow/pull/1140#issuecomment-439853313

[2018-11-19 23:46] raulraja opened #1145 "Add Gradle task to run try arrow as a server and be able to test local playgrounds"

[2018-11-19 23:54] pakoito commented on #687
Closed by #1138

[2018-11-19 23:54] #687 closed

[2018-11-19 23:54] pakoito commented on #795
Neat! Up next, some effects for you: #590

This one should be quicker than Hash, and at the same time allow you to experiment a bit with `arrow-effects`.

[2018-11-20 00:08] #1143 closed

[2018-11-20 00:11] pakoito opened #1146 "Increase coverage by skipping arrow-annotations-processor"
It's 1/3rd of the untested lines, even if they're tested e2e.

https://codecov.io/gh/arrow-kt/arrow/tree/master/modules/core

[2018-11-20 09:21] 1Jajen1 commented on #590
So if I understand this correctly the current MonadDeferLaws only include laws for binding over monad defer and should be extended by those present in cats-effect. The cats-effect typeclass seems to have different functions on top of what MonadDefer in arrow has (or maybe I just can't map the names correctly).
I'll try and get as many ported as possible and then see how it works :)

[2018-11-20 10:52] Tylos commented on #1120
@calvellido changing the URLs in menu.yml gets it back to work again as you said!

![2018-11-20 11-38-27 2018-11-20 11_44_25](https://user-images.githubusercontent.com/3380693/48768587-aff56500-ecb9-11e8-8b14-1119e89b4235.gif)

Do you think I should swap other internal usages of old link to the new one?

[2018-11-20 17:37] pakoito commented on #590
You're correct, the ones in the current laws are ad-hoc for monadic comprehensions. We also need the ones from cats which are the original test suite for the typeclass :D

[2018-11-20 20:45] #1092 closed

[2018-11-21 10:45] JorgeCastilloPrz opened #1149 "Glossary"
We've had a couple of questions like "what's a Kind?", "What's a witness type"?, "What's a type constructor"? that made me think about the idea of having a super simple glossary with terms and meanings in the docs. Would it make sense? [This is the one available in cats](https://typelevel.org/cats/nomenclature.html).

[2018-11-21 10:45] JorgeCastilloPrz commented on #1149
thoughts @raulraja @pakoito @truizlop @nomisRev ?

[2018-11-21 11:04] truizlop commented on #1149
I am totally up for that. I think we can start with a simple list of questions / terms and get them answered. Probably, since we have new members / users coming with questions, those can be used for such list.

[2018-11-21 11:38] pakoito commented on #1149
Updating this one then? https://arrow-kt.io/docs/patterns/glossary/

[2018-11-22 07:45] JorgeCastilloPrz commented on #1149
Aaaalright that happens when you don't take a look first before creating the issues :D. I guess than one should work, we should probably just include the terms still not there.

[2018-11-22 14:05] dominv opened #1153 "Store docs pages in S3 bucket"

[2018-11-22 14:05] dominv commented on #1153
Related PR https://github.com/arrow-kt/arrow/pull/1152 -> Merged

[2018-11-22 20:52] nomisRev commented on #1093
Closed by #1151

[2018-11-22 20:52] #1093 closed

[2018-11-23 23:34] 1Jajen1 opened #1156 "DeferredK memoizes its result"
DeferredK implements the MonadDefer which has a law stating its results should not be memoized. Kotlinx coroutines Deferred (which most of DeferredK delegates to) however does not follow this.

See #1150 for some discussion and I think @pakoito had some ideas as well on how to solve this.

Please also re-enable the law once done :)

[2018-11-24 02:53] pakoito commented on #1156
I've given Jorge and Simon the context and the prototype for the new Deferred architecture :D

[2018-11-24 09:14] JorgeCastilloPrz commented on #1156
Thanks for the issue. We'll take a look at this, not sure if it can happen before Q1 though, we really wanna finish the other effects blockers first.

[2018-11-24 11:55] 1Jajen1 commented on #590
Closed by #1150

[2018-11-24 11:55] #590 closed

[2018-11-24 12:07] 1Jajen1 commented on #795
Ok so now with MonadDefer done, what would be something good to have next? This, an attempt at the Deferred issue or is there something else?

[2018-11-24 14:09] pakoito commented on #1156
Note that we can fix this #1131 in one go too :D

[2018-11-24 14:09] pakoito commented on #1131
The architecture proposed in #1156 should fix this.

[2018-11-24 14:13] pakoito commented on #891
Fixed!

[2018-11-24 14:13] #891 closed

[2018-11-24 14:14] pakoito commented on #432
I believe this is already in the repo!

[2018-11-24 14:14] #432 closed

[2018-11-24 14:18] pakoito commented on #283
It's already in :D

[2018-11-24 14:18] #283 closed

[2018-11-24 14:35] pakoito commented on #795
@1Jajen1 If you're not interested in Deferred, you can define the typeclass for destructuring: https://github.com/arrow-kt/arrow/issues/284

[2018-11-25 03:49] pakoito opened #1158 "AQL instances for IO, Observable, Flux, Deferred..."
We need to expand the AQL instance family :D

[2018-11-25 22:53] 1Jajen1 opened #1160 "Change color of Generics in apidocs"
Change the color of Generics in the ApiDocs (those not in code-blocks I guess) to something like orange maybe. It could improve readability by a lot. Also are the code blocks language code blocks or not. Maybe using kotlin as a language would improve readability in those snippets as well.

Either way, how it is right now it is somewhat diffcult to read and can hopefully be improved :see_no_evil:

[2018-11-26 23:13] 1Jajen1 commented on #1137
When I tried running gradle tasks in parallel this constantly fails. The tests work fine for me from both gradle and intellij unless I have some load running in the background (like executing other gradle tasks).
The tests are run in parallel right (with `maxParallelForks = Runtime.runtime.availableProcessors()` in build.gradle)? That might cause issues with those tests if either the processor run

[2018-11-27 10:41] Tylos commented on #1120
Have completed changing the URL from all the classes in `modules/docs/arrow-docs/docs/docs/typeclasses` and `modules/docs/arrow-docs/docs/docs/datatypes`, and now the documentation built with #1119 seems to be working

![2018-11-27 11-18-57 2018-11-27 11_28_05](https://user-images.githubusercontent.com/3380693/49076186-b7c48480-f238-11e8-9015-dc00bd200742.gif)

However, there are some cases the li

[2018-11-27 10:47] calvellido commented on #1120
Nice @Tylos! We are about to hopefully stabilize the CI process, I think after that your PR will come in handy :+1:

[2018-11-27 10:48] Tylos commented on #1120
Have you been able to include some link checker into the mix? That would be awesome!

[2018-11-27 12:06] 1Jajen1 commented on #1131
Not sure if this is closed, `.k()` still sets globalscope because afaik there is no way to get the scope from a created Deferred. `asyncK` works correctly now tho.

[2018-11-27 12:07] 1Jajen1 commented on #1156
Closed by #1157

[2018-11-27 12:07] #1156 closed

[2018-11-27 12:12] raulraja opened #1163 "Kelisli `@ extension` generation produces methods that return kinded values instead of applied types"
Potentially an issue will all kinds with arity > 2

[2018-11-27 12:21] 1Jajen1 opened #1164 "Ank fails to generate hierarchy for typeclasses that don't inherit from another typeclass"
Currently (before I refractored ank a bit and after as well) the ank macro fails to generate a diagram for typeclasses like eq, show etc. Also is it supposed to not show methods anymore?

[2018-11-27 12:32] 1Jajen1 commented on #1164
Ah ok, I think it's fine, only confusing because it always generates `## Type Class Hierarchy` regardless of a diagram actually being there or not. The methods did take a lot of space so not showing them seems better.

[2018-11-27 12:38] raulraja commented on #1164
yeah the generation of that is a bug, we need to remove the headers if the extends list is empty.

[2018-11-28 19:49] JorgeCastilloPrz commented on #1120
How's this going? Is there an scenario where we could merge this or we need to wait for something?

[2018-11-28 19:50] raulraja commented on #1120
@calvellido just fixed the site in case that was a hold up to get this merged in master

[2018-11-28 19:53] JorgeCastilloPrz commented on #1120
Is that fixing the 404 thing? Besides that: what about the module migration required (as for Optics) mentioned by @tylos?

[2018-11-28 19:56] raulraja commented on #1120
So the current docs have now the API docs. It'd be better if we work on moving the docs in the current type classes and data types to the kdocs and we make the API docs kdoc generated URL the main one in the menu. We need to push forward documenting kdoc first and leave web docs only for tutorials. I'll be happy to jump on a call if needed to explain more details

[2018-11-28 20:03] JorgeCastilloPrz commented on #1120
Sorry, is that directly related to this? Ideally we'd move that discussion to a separate issue to work on it and we'd try to unlock this. What's exactly pending here @tylos?

[2018-11-28 20:20] Tylos commented on #1120
All the type classes and data types that are in the docs modules are migrated Wich was the goal of the issue.

Would need to update the contribute.md as I had to add a Gemfile. Apart from that should be ready to review

Was waiting for CI to be stable as @calvellido mentioned, and resolve if other packages would be required to change. If you prefer it can be moved to another issue

[2018-11-28 20:22] raulraja commented on #1120
Yes it is directly related. The Pages where the work of this ticket is going to get done they will disappear. For example the Option data type will point in the menu here https://arrow-kt.io/docs/apidocs/arrow-core/arrow.core/-option/index.html which is driven by kdoc. So there is a work of porting non tutorial related docs to the kdocs

[2018-11-28 20:23] raulraja commented on #1120
@tylos in that case if the work is done it has to be merged now before we start with the migration to get all kdocs properly documented with examples per function.

[2018-11-28 20:44] JorgeCastilloPrz commented on #1120
Sounds good. Let's try to move on this tomorrow or when you have a moment then @tylos. Let me know if you need any help for unlocking pls. Sorry for being a bit too spammy at this time.

[2018-11-28 20:51] Tylos commented on #1120
Will do tomorrow first thing in the morning

[2018-11-28 21:17] pakoito opened #1165 "Move cobinding to comonad"
Easy to spot in the docs :D

https://arrow-kt.io/docs/apidocs/arrow-typeclasses/arrow.typeclasses/cobinding.html

[2018-11-29 13:21] dhoepelman opened #1167 "Using binding as in docs generates deprecation warning"
[The docs for using `Try`](https://arrow-kt.io/docs/patterns/error_handling/#try) give the following example:

[code]

`extensions` gives a deprecation warning here:
[code]

As someone who doesn't know arrow the deprecation message is not useful because it doesn't help me fix the warning. Can the deprecation warning be augmented to point to the docs that show how importing projected syntax functio

[2018-11-29 16:43] #1120 closed

[2018-11-29 16:51] raulraja commented on #1167
@dhoepelman yes, binding is a top level function now in most data types that support Monad.
That same code without the `ForTry extensions` part can be accomplished by importing `import arrow.instances.try.monad.binding`. Feel free to send a PR to fix the docs and ping me for review.

[2018-11-29 17:01] calvellido commented on #1120
There was some gems/jekyll misbehaving but everything is now working, and already merged. If everything goes well on the CI side (it should) you can expect the changes to go live in about ~20 minutes.

Thanks for the hard work @tylos!

[2018-11-29 17:08] Tylos commented on #1120
🤞 hope everything goes well!

Kudos to @pedrovgs who helped me out with jekyl 💋

[2018-11-29 18:14] juxeii opened #1168 "Question: how to save a state monad for later use"
Hi,

I'm gradually porting a project to a more functional style using arrow.
Gradually since I'm a beginner and want to grasp the concepts one by one.
Now I'm at the state monad and I don't know what is the canonical way to save the state between subsequent functions calls.
Suppose I have a function
`fun <S,T> someFunc():State<S,T>`
and this gets called from a 3rd party library repeadately. The fu

[2018-11-29 23:17] pakoito commented on #1168
@raulraja StateT, WriterT and the rest weren't generated in the API docs. Do we need to include everything inside data?

[2018-11-30 08:34] soberich commented on #973
@pakoito feel free to close.

[2018-11-30 08:58] #973 closed

[2018-11-30 19:55] raulraja commented on #1168
@pakoito they are generated, they seem to be missing an entry in the menu though https://arrow-kt.io/docs/apidocs/arrow-data/alltypes/index.html

[2018-12-02 20:46] pakoito opened #1172 "Arrow-graphql"
https://www.youtube.com/watch?v=jaKcEGkItsY

[2018-12-02 22:10] pakoito opened #1173 "Plugin for IntelliJ"
I'm not entirely sure what for, I'm just leaving the instructions here hahahaha

https://speakerdeck.com/larchaon/writing-a-plugin-for-android-studio

[2018-12-02 22:32] raulraja commented on #1173
What would an Arrow plugin for IDEA provide in terms of features?

[2018-12-02 22:35] pakoito commented on #1173
I'm not sure. Some visualization for debugging, same as the one for Streams and Observables.

[2018-12-05 09:47] #1153 closed

[2018-12-05 13:25] iguissouma opened #1176 "Code samples not shown on desktop browsers(Chrome, FF....)"
Hello,

Code sample are not shown on the site:
[https://arrow-kt.io/docs/patterns/error_handling/](https://arrow-kt.io/docs/patterns/error_handling/)

![2018-12-05_14h17_28](https://user-images.githubusercontent.com/9085108/49516082-ff7e8800-f898-11e8-9029-05cbadeda844.png)

I'm not sure if it's intentionally but it's due to commented css property display: none; on language-kotlin class

[code]

S

[2018-12-05 16:58] dominv opened #1177 "Type Class Hierarchy Diagrams not shown for typeclasses"
Type Class Hierarchy Diagrams not shown for typeclasses, the default error page's code is shown in its place.
They appear for some other classes as Effects.

So far, I've checked that the diagram files are being generated and uploaded to the S3 bucket by the **build-and-dokka-transfer** travis stage. They are also downloaded, used to generate the site and finally uploaded by the **deploy-docs** tr

[2018-12-05 17:02] dominv opened #1178 "Error 404 page"
We need to design and create a 404 error page.

It's also required to specify this page for Hosting a Static Website on an Amazon S3 bucket

[2018-12-06 18:57] mikezx6r opened #1179 "Allow Either to have a filter function that allows for the value to be used in the 'default' case"
This is very helpful if the Either and `filterOrElse` is being used for validation like processing.

Currently, one needs to do this

[code]

The proposal (after discussion on Slack) is to introduce a new function as below:

[code]

This will allow for the example at top to be rewritten as

[code]

I will be creating a PR for this later today.

[2018-12-07 12:38] calvellido commented on #1177
From what I'm seeing this is due to the recent directories restructure, e.g. `monad.nomnol` file is located in `docs/typeclasses/monad` but the final document will be located at `docs/arrow/typeclasses/monad`, hence the JS script trying to paint the hierarchy but not being able to find the source `nomnol` file.

[2018-12-07 12:42] raulraja commented on #1177
/cc @Tylos

[2018-12-07 12:55] calvellido commented on #1176
Hi @iguissouma, thanks for reporting this. I'm having a look into this but, at least at the moment, I am correctly seeing the snippets and not able to reproduce it, could you please share some more information?

* Did you see any network error when this happened?
* Since you mention Chrome and Firefox, could you also share the OS and browser versions where this happened to you?
* Do you use some k

[2018-12-07 13:31] Tylos commented on #1177
Let me know what can I do to lend you a hand with this @calvellido !

[2018-12-07 16:32] iguissouma commented on #1176
Hello @calvellido

I see a network error:

![image](https://user-images.githubusercontent.com/9085108/49659998-ca636880-fa45-11e8-891f-b823bc799d03.png)

![image](https://user-images.githubusercontent.com/9085108/49659932-9c7e2400-fa45-11e8-9275-f74184c1da09.png)

The problem is seen on our company network maybe it's due to security restrictions.

Thanks.

[2018-12-07 17:18] JorgeCastilloPrz commented on #1176
Sounds very possible

[2018-12-07 18:05] raulraja commented on #1176
Nobody seems to be able to repro. Closing this now. Feel free to reopen if it happens in the wild in an unrestricted network.

[2018-12-07 18:05] #1176 closed

[2018-12-07 20:30] nomisRev commented on #1163
@raulraja this is an issue with the processor and arity > 2.

Currently when annotating an instance i.e.

[code]

Below code is generated for `map`. Where the return type is incorrect. It should be `StateT<F, S, B>` like above (or `Kind<Kind<Kind<ForStateT, F>, S, B>` upcasted).

[code]

[2018-12-08 17:48] mikezx6r commented on #272
A number of these are in newer versions of Detekt. I'm going to investigate upgrading the version of Detekt used by the project as a step towards completing this issue. Will post findings after upgrading Detekt locally

[2018-12-10 03:59] mikezx6r commented on #1122
1.3.11 is current latest version

[2018-12-10 10:50] pakoito commented on #1122
That works too :D

[2018-12-10 16:43] calvellido commented on #1177
@raulraja I'm trying to fix this by setting the `nomnol` files to general directories available to be accessed no matter the end path of the page in the end. While I am able to do it when the graph is generated through `outFile` I am not sure how (or if) I can change the path of the file when is done through the macro `ank_macro_hierarchy`, do you think that could that be done?

[2018-12-10 17:20] raulraja commented on #1177
The actual monad path it's always going to be one and that is what dokka generates. The issue @Tylos worked on is an interim fix as we migrate but at the end of the day the Monad link in the menu just needs to point to the dokka generated markdown that is rendered by jekyll with the default `doc` template. The default doc template always loads the diagram from the current folder.

The ank macro `a

[2018-12-11 09:01] calvellido commented on #1177
Ok, the point is that the current way of handling proper path based on source structure and redirects is through a mix of the `permalink` setting in markdown files and this Jekyll plugin (https://github.com/jekyll/jekyll-redirect-from).

The previous directory structure is not changed, so ANK's `outFile` generates a file in, e.g. `/docs/typeclasses/monad/`, but then the Jekyll `build` step through

[2018-12-11 12:34] #1177 closed

[2018-12-11 13:41] calvellido commented on #1177
This is now fixed :slightly_smiling_face:

https://arrow-kt.io/docs/arrow/typeclasses/hash/

[2018-12-11 20:39] alissonfpmorais commented on #1085
I want to take this one!

[2018-12-11 22:07] pakoito commented on #1085
What's the plan? I don't know how to enforce it!

[2018-12-11 22:13] raulraja commented on #1085
I think as a rule of thumb Arrow has to go with the standard lib kotlin version release, so it should be enough to get the latest version value in maven central releases and ensure we are not behind. This is mostly a CI task to make sure we are not releasing without updating to the latest stable std lib version.

[2018-12-12 00:48] androidfred opened #1192 "Arrow currently has no Jackson support module"
STEPS TO REPRODUCE
Create a Jersey resource with an endpoint with params wrapped in a datatype, eg

[code]

EXPECTED RESULT
curl url/search/user?firstName=Foo&lastName=Bar results in an Option containing Bar
curl url/search/user?firstName=Foo results in an Option that is empty

ACTUAL RESULT
RunTimeException because there is no equivalent to com.fasterxml.jackson.datatype.jdk8.OptionalDeserializer

[2018-12-12 00:59] alissonfpmorais commented on #1085
My plan is create a Gradle task using same plugin already used by arrow, gradle-versions-plugin from ben-manes and call this task on travis whenever a new release is deployed. If dependency version is correct then build pass, otherwise fails. What do you think?

[2018-12-12 02:00] pakoito commented on #1192
Theres Jackson, Gson, Moshi, Kotlin's own Serialization to consider! And there's [Helios](https://github.com/47deg/helios) coming up as a port from Scala.

We're open to PRs to support and steward any of those integration modules past the initial implementation. That initial implementation would be better if it comes from someone the community with domain expertise.

Meanwhile, the solution is to

[2018-12-12 02:37] raulraja commented on #1192
@androidfred if you want to take the lead at providing those marshallers we will be happy to advertise them in the docs. Due to the current number of modules in Arrow and build times currently increasing because of it this effort should happen in a separate repo which we can host in the arrow org. If you have an initial proposal we'd love to take a look. More things built on Arrow is good for the

[2018-12-12 03:20] androidfred commented on #1192
@pakoito @raulraja Thanks for the quick replies!

Understood, I will see if I can't get some time to dig into the guts of Jackson and see what I can come up with. The parsers themselves shouldn't be that much work, it's more the wiring up of everything in a way that makes it work out of the box that would take some time.

[2018-12-12 17:03] alissonfpmorais commented on #1158
I want to try this one, but I got some questions. For those instances, what would be the approach?

I'm asking because `Either` does not have `where` combinator because it does not have an instance of `FunctorFilter`. This would be the same for effects? Or should I create those instances and then create the combinators?

In case of `Either`, shouldn't `Where` (and `FunctorFilter`) instance be crea

[2018-12-12 17:54] pakoito commented on #1158
That's the plan, fill the gaps ;)

[2018-12-12 20:07] alissonfpmorais commented on #1158
Okey dokey! Starting it :D

[2018-12-13 08:42] JorgeCastilloPrz opened #1195 "Ank docs follow up - How to contribute"
Follow up to #1139 which was a very good start for the `Ank` docs.

#### What is still missing

The following ideas probably fit better for the `arrow-docs` module in a separate `README.md`, since those are more about how to contribute to Arrow docs. Ank is related though, so there could likely be a link at the beginning to Ank docs or something.

* **How to contribute** section. Should explain wh

[2018-12-13 08:54] gortiz opened #1196 "["Request"] Add support to JPMS/Java >= 9"
What version are you currently using?
Any, including 0.8.1

What would you like to see?
It is not possible to use Arrow on an application/library running on the module path of Java >= 9. There are some minor problems (like not having module-info.java nor automatic name on the manifest) but the main one is related with arrow-annotations. It depends on `kindedj`, but also includes in its own sources

[2018-12-13 10:58] nomisRev commented on #1091
Also discussed [here](https://github.com/typelevel/cats-effect/issues/430#issuecomment-445214878).

`parMapN` should be available on `Concurrent` instead of on a separate typeclass `Parallel`. Since `Concurrent` defines `start`, `racePair` & `raceN` already, it should also define `parMapN`. This also reduces awkwardness currently involved in using `Parallel` in cats.

Sidenote: AFAIK `Parallel` is

[2018-12-13 11:00] nomisRev commented on #1124
`Async` should also define `cancelable` since it's derived from `asyncF` and `bracketCase` which are available in `Async`.

This way we can also reduce the restrictions on `Promise`, `MVar`, `Semaphore` to only have 1 implementation based on `Async` instead of 2 based on `Concurrent` & `Async`.

[2018-12-13 12:07] pakoito commented on #1196
I thought Kotlin didn't allow Java 9. This seems like an easy fix as that file is just type aliases :)

[2018-12-13 12:34] gortiz commented on #1196
Kotlin does not compile to Java 9 bytecode, but Kotlin programs run fine on the module path. Jetbrain has even modified Kotlin libraries to include a module name, so transition will be easier.

[This plugin](https://github.com/beryx/badass-jar-plugin/blob/master/README.adoc) makes very easy to support both Java 8 and Java >= 9 on libraries and applications and has Kotlin examples.

[2018-12-13 14:34] #1195 closed

[2018-12-13 14:51] calvellido commented on #1121
Hi, does this still makes sense even if we are targeting to generate most of the docs through Dokka?

[2018-12-14 22:46] #1085 closed

[2018-12-17 12:36] raulraja commented on #1121
We have a new ank directive to make them executable that does not require kramdown directives

[2018-12-17 12:36] #1121 closed

[2018-12-18 21:46] #1163 closed

[2018-12-19 17:02] #1099 closed

[2018-12-21 01:19] Octogonapus opened #1211 "Optics invalid code generation"
I have this code:
[code]

Optics generates this code for `GistFile`: https://pastebin.com/ht7wNJFm
The compiler error I get is, "Error:(16, 21) Kotlin: Cannot find a parameter with this name: `gitUrl`". It seems like Arrow is generating code one level deeper than `GistFile` (it's generating `GistFile.gitUrl`).

I am using Arrow version `0.8.1`, Kotlin version `1.3.11`, and JDK version `1.8.0_181`.

[2018-12-21 01:32] pakoito commented on #1211
Silly question, can you please try moving the classes to separate packages, and report what happens?

[2018-12-21 01:43] nomisRev commented on #1211
This is a bug in the annotation processor. It's using the secondary constructor instead of the primary constructor to generate the Optics.

Thanks for reporting :+1:

[2018-12-21 02:43] Octogonapus commented on #1211
Thanks, @nomisRev, you are right. I moved the secondary constructor to a method in the companion object and the generated code is correct.

[2018-12-21 05:28] galcyurio opened #1212 "infinite redirect in NonEmptyList docs"
When we access this link, then redirected to same link.
https://arrow-kt.io/docs/arrow/data/nonemptylist/

[2018-12-21 09:35] calvellido commented on #1212
Many thanks for reporting it @galcyurio! It will be fixed once #1213 is merged.

[2018-12-21 10:22] #1212 closed

[2018-12-21 18:02] plastic-karma opened #1216 "Links to Datatypes in documentation are broken"
Links in datatype section lead to a 404 page. Examples:

- https://arrow-kt.io/docs/optics/each/ and click on Either, Option or Try in "Data Types" section
- https://arrow-kt.io/docs/arrow/data/nonemptylist/ and click Count, From, GroupBy, OrderBy, Select, Sum, Union or Where in "Supported type classes" section

Looks like this was introduced here: https://github.com/arrow-kt/arrow/commit/65e429ed

[2018-12-21 19:03] #1178 closed

[2018-12-21 21:11] pakoito commented on #1216
They're all broken lol It looks like a config issue, they should be back soon :)

[2018-12-22 17:40] #1216 closed

[2018-12-22 23:54] pakoito commented on #1216
Thank you for the contribution! They seem to be working again 💛

[2018-12-23 01:21] pakoito opened #1218 "Configure Google Analytics in the docs site"
We've currently lost all signals for traffic and referrals on Analytics. I check them regularly to see who's talking about us, and provide support where needed :D

See #482 for the original configuration.

[2018-12-29 12:58] nomisRev commented on #1124
Closed by #1198

[2018-12-29 12:58] #1124 closed

[2018-12-29 13:01] nomisRev commented on #1131
@pakoito this can be closed with #1220, right? It also sets all the correct scope.

[2018-12-29 13:59] pakoito commented on #1131
Yep! Close now :D

[2018-12-29 13:59] #1131 closed

[2019-01-02 17:48] pakoito opened #1225 "Add Semiring"
https://typelevel.org/blog/2018/11/02/semirings.html

[2019-01-03 09:47] micotom opened #1227 "VerifyError: JNI sees Object instead of Try Monad"
With switching from Try.Failure<T> to Try.Failure<Nothing> by default (PR: #971 ), a strange issue pops up:

`
fun causesVerifyError(): Try<Boolean> =
    try {
        val r = probablyFails()
        Try.Success(r)
            .map {
                !it
            }
    } catch (e: Exception) {
        Try.Failure(e)
    }
`

causes

`
java.lang.VerifyError: Bad return type
Exception Details:

[2019-01-03 10:13] JorgeCastilloPrz opened #1228 "Formatting issue on data type generated docs"
On data type docs the extension functions section is completely unreadable at the moment. [Example](https://arrow-kt.io/docs/apidocs/arrow-core/arrow.core/-either/index.html#extension-functions)

Can we do something to fix this @israelperezglez?

[2019-01-03 11:10] veiset commented on #1227
It looks like you are defining a very weird type (`:` instead of `=`). Did you mean to write:

[code]

[2019-01-03 11:34] raulraja commented on #1227
I wonder what happens if the `Either` functions are not `inline`. This seems a bug possibly related to the bytecode emitted.

[2019-01-03 12:55] veiset commented on #1227
You're right. My bad. Getting the same error here too.

[2019-01-03 14:31] raulraja commented on #1227
@micotom can you provide a complete example that includes exactly the imports you are using?

[2019-01-03 14:39] raulraja commented on #1227
This works for me:
[code]
Output:
[code]

[2019-01-08 07:31] MarioAriasC commented on #1192
I have some code on this topic already. Isn't easy, I'm having troubles with the `Option` Deserializer.

When I have some code to share we can create an arrow-json repo with implementations

[2019-01-08 13:37] micotom commented on #1227
I collected some more info on the issue:

- It is not only bound to `Try`, but at least also to `Option` in their according `map`, hence probably to any functor in the lib
- A method failing with the bytecode error does not even need to be called but just be initialized somewhere in the code (see example below)
- Using the identify function to generate an instance does work, using the constructor

[2019-01-08 15:42] pakoito commented on #1227
This seems localized to your setup, else we'd have more reports of this problem, right? Are you doing anything interesting in the build.gradle? Can you repro it in a new project on a new machine?

[2019-01-08 15:46] raulraja commented on #1227
is it possible that you have mixed versions of arrow in the classpath of the project where that is running?

[2019-01-08 16:12] micotom commented on #1227
@pakoito veiset (see [conversation](https://github.com/arrow-kt/arrow/issues/1227#issuecomment-451135234) above) could reproduce the issue. I will try to find some time to set it up also on another machine and report back.

Gradle build file is super basic. I'm always checking back the errors in a plain Intellij project. So (@raulraja ) also the classpath is clean, arrow versions all point to one

[2019-01-08 16:40] alissonfpmorais commented on #1227
I've created a basic datatype replicating `Try` and get the same error.
Two things that fixed the problem was: getting rid of `inline` modifier or refactor to old implementation as @micotom pointed out.

Differences from 0.8.2 and 0.7.2:

[code]

[2019-01-08 22:31] pakoito commented on #1227
So...an inliner bug maybe? Worth checking in the kotlinlang slack with someone from jetbrains.

[2019-01-10 02:39] alissonfpmorais commented on #1227
I've made some more tests to better understand the issue and I end up with this tiny piece of code:

[code]

This code does not work!
To make it work, I've made one small change in `flatMap`:

[code]

Then I started to play with code and found that:
1) Commenting `println(causesVerifyErrorSample())` does not affect if code works or not
2) Leaving uncommented just `sealed class Sample<out T> { /* c

[2019-01-10 09:15] micotom commented on #1227
@alissonfpmorais Confirmed from my side (also with my own `Option` reimplementation): If the clause with `<T>` and not the one with `Nothing` is at top of the clause, your example works.

However, something like:
[code]
will then still fail.

[2019-01-10 12:01] jorgegalindocruces commented on #1218
Hi there folks,

@calvellido here you have the code for adding to the head with the tracker

`
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-18433785-18"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-18433785-18');
</script>
`

Cheers!

[2019-01-10 15:02] pakoito commented on #1227
Definitely something that Jetbrains will be excited about 🗡

@alissonfpmorais thank you for getting minimal repro, you should report it to https://youtrack.jetbrains.com/issues/KT and link it here so we can +1 it

[2019-01-11 04:15] androidfred commented on #1192
@MarioAriasC As much as I'd love to become an official contributor to Arrow, I'm afraid I haven't even gotten started on this yet 😬  so please allow me to encourage you (and anyone else who wants this functionality) to get something working soon 😄

[2019-01-11 09:07] JorgeCastilloPrz commented on #367
What's this about exactly? Can we assume it's done with #1139 & #1195 ?

[2019-01-11 09:09] JorgeCastilloPrz opened #1236 "Update Ank docs"
Looks like the executable code snippets are now enabled with `ank:playground` instead of `{: data-executable='true'}` followed by `kotlin:ank`, so we should update Ank docs to reflect that. Actually, looks like we've never added details about runnable snippets there, so it's a good time to do so.

Also add docs there for how to use `:extension` and the `instatiation_factory` to project executable

[2019-01-11 10:49] alissonfpmorais commented on #1227
@micotom nice catch, I haven't done this test!
@pakoito I hope that they enjoy work on it :smile:
I'm going to report it tonight and I'll link here :+1:
What would be the approach in this case? Refactor to old implementation or wait for Jetbrains's fix?

[2019-01-11 11:09] pakoito commented on #1227
I'd say wait for the fix, use functions meanwhile.

[2019-01-11 16:49] JorgeCastilloPrz opened #1239 "Update docs for deploying docs"
Today I've found a problem when trying to use [the docs provided here](https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/README.md#how-to-deploy-docs-to-a-local-server) by me not long ago. Looks like you can get problems with your gems when they're outdated, removed or whatever. So we need to ensure the commands are like:

[code]

Note how we also must include `dokka` in the mi

[2019-01-12 08:17] #1239 closed

[2019-01-12 10:15] cesartl opened #1240 "Cannot get recursion example to work"
I'm trying to use run the recursion scheme example locally but I'm having a few problems.

First I can't get the `@instance` annotation to work. I've added `kapt` in maven and it works fine for `@higherkind`.

I got around it by making `IntListPatternFunctor` an object:

[code]

However I get stuck when trying to define the `multiply` function:

[code]

The compiler cannot find `recursive` in `Fix

[2019-01-12 10:30] raulraja commented on #1240
@cesartl Use Arrow `0.8.2` and `@extension` instead of `@instance`. The docs need to be updated. Let's keep this open and turn it into a doc update ticket. Also those docs probably need to be under `kotlin:ank` blocks in our docs so they are type checked and they don't fall behind.

[2019-01-12 20:21] marenovakovic opened #1241 "Module with the Main dispatcher had failed to initialize in 0.8.2"
Getting this exception when using Dispatchers.Main context since am using arrow 0.8.2

`java.lang.IllegalStateException:` Module with the Main dispatcher had failed to initialize
        at kotlinx.coroutines.internal.MissingMainCoroutineDispatcher.missing(MainDispatchers.kt:79)
        at kotlinx.coroutines.internal.MissingMainCoroutineDispatcher.isDispatchNeeded(MainDispatchers.kt:54)
        at

[2019-01-12 23:55] alissonfpmorais commented on #1227
@pakoito Okey dokey :)

Here is the [issue](https://youtrack.jetbrains.com/issue/KT-29242).
If I left something, feel free to tell me and I'll fix it.

[2019-01-13 13:14] raulraja commented on #1240
remove `()` from `extension. should work.

[2019-01-13 13:16] raulraja commented on #1240
Extensions need to be placed in different modules if you use `@higherkind` where you define `IntListPattern`. otherwise copy the higherkind generated code and don't use `@higherkind` and you can have all in one module.

[2019-01-13 15:54] cesartl commented on #1240
ok thanks that part worked.

However, I still can't see `cata` and `ana` in the functor instance. Only `hylo` is visible.

Additionally, I can't resolve `Fix.recursive()`

[2019-01-13 17:51] #1090 closed

[2019-01-13 17:51] nomisRev commented on #1090
Closed by #1132

[2019-01-14 00:35] #1211 closed

[2019-01-14 15:08] AdrianRaFo commented on #1228
There was some `*` on the Either and Try doc causing a bad format because was interpreted as a list

[2019-01-14 16:15] cesartl commented on #1240
Thanks for the help I finally managed to get it to work. However, as an arrow novice, it was hard to follow; I had to chase bits of information on different pages.
Would you be interested in a PR to make this a bit easier to pick up for an arrow novice?

[2019-01-14 16:39] #854 closed

[2019-01-14 16:39] #855 closed

[2019-01-14 16:54] cesartl commented on #1240
I'm offering to do it or even collaborate with you if you want. I want to build a talk on how to do recursion schemes with arrow so I'll be going through some simple examples.

Having the perspective of someone new to arrow might help you make it noob friendly :D

[2019-01-14 17:03] AdrianRaFo commented on #1240
feel free to do a PR, if not I'll mention you on mine to review :wink:

[2019-01-14 18:52] #1228 closed

[2019-01-14 19:01] nomisRev commented on #1240
That is awesome! Looking forward

[2019-01-14 19:01] nomisRev commented on #1240
Sorry about that... I was on my phone 😅

[2019-01-14 21:57] pakoito commented on #1228
There's some extra padding around links that hinder readability, at least in my machine.

[2019-01-14 21:59] danwallach opened #1247 "["Request"] "overriding" a lens in companion object generates "extension is shadowed by member" warning"
What version are you currently using? 0.8.2

What would you like to see? Suppress generation of extension method under the below conditions.

I decided to code up a simple turtle graphics example to play with Arrow's lenses:
[code]
In this example, I'm being slightly clever in how my turtle is representing its `heading` field by normalizing the heading after every operation that might use it. The

[2019-01-15 14:43] cesartl commented on #1240
Could someone clarify something?

What is the use of the run block here:
[code]

I've noticed it compiles and works by doing just
[code]
but it requires an extra import.

Is the run block just to avoid the import?

[2019-01-15 15:01] AdrianRaFo commented on #1240
they do the same function here the `.run()` receives a `Recursive` extension function which in this case is the same as providing a recursive "context" that works as the import does

[2019-01-15 15:42] nomisRev commented on #1240
@cesartl the run block can be useful if you want to enable all syntax and don't import anything for a certain function or larger piece of code.

Similar to how you can enable direct syntax to with `with`, which can also be used instead of `run`.

I.e.
[code]

This only requires a import for monad.

[2019-01-15 15:52] cesartl commented on #1240
thanks I'm starting to get it slowly. As another example I needed a monoid for `Eval` so I did:

[code]

My understanding is that in the block of `m.run` the extension function `combine` get added to the context of `A`. that's actually a neat way of doing it. It seems to provide more control than the `implicit` hell of scala 😃

[2019-01-16 10:07] calvellido opened #1249 "Enable Jekyll incremental regeneration"
Enable incremental regeneration in the Jekyll docs webpage generation flow, as that will reduce the time needed to get the site built, easing the pain in doc building, contributions, bugfixing etc.

[2019-01-16 15:46] #1218 closed

[2019-01-17 14:53] marenovakovic opened #1253 "canceling coroutine scope issue in 0.8.2 doesn't work"
Inside `ViewModel` scoped with `Dispatchers.Main` + `Job`  I call repository that is calling `defer(ctx = contextFromViewModel) { remote service call returning async }`

I launch coroutine with `launch` builder on scope from `async` call.

`Job` inside `ViewModel` has the same `Key` as `Job` from `async` but canceling `ViewModel` `Job` doesn't cancel launched coroutine.

Coroutines just run loop a

[2019-01-17 14:57] pakoito commented on #1253
Can you please use `unsafeRunAsync` to run it instead, and report whether that works?

[2019-01-17 14:59] marenovakovic commented on #1253
Final coroutine is run inside `unsafeFunAsync` but it is constructed with help of `defer` and `async`.

[2019-01-17 15:13] pakoito commented on #1253
Right. So you need to inject the CoroutineScope into CoinsRepository and pass it to the `defer` constructor. And you don't need  `launch` to call `unsafeRunAsync `

[2019-01-17 16:05] marenovakovic commented on #1253
Doing it here

[code]

[2019-01-17 16:11] marenovakovic commented on #1253
I have tried to store `DeferredK` returned by repository and call cancel on it, still not canceling.

[2019-01-17 17:45] pakoito commented on #1253
Calling the big guns now :D

[2019-01-17 19:39] #1111 closed

[2019-01-18 08:57] nomisRev opened #1256 "Dispatchers for Arrow"
A discussion started in #1254, look there for more info.

[2019-01-23 09:47] klizter opened #1261 "Unable to locate arrow.(core/data).option.monad.binding"
Hey, while going through the patterns page to learn some of the concepts of FP I ran in to an issue while trying to import the OPTION _monad binding_. I noticed that many of packages listed under Current Stable Version are unavailable.

On the [Error Handling page](https://arrow-kt.io/docs/patterns/error_handling/) it says to import the monad binding from:

`import arrow.**data**.extensions.option

[2019-01-23 10:37] pakoito commented on #1261
We need to add a warning that those are for 0.9.0, and the README is ahead of the releases. This is what you need for 0.8.2: https://github.com/arrow-kt/arrow/blob/0.8.2/README.md#basic-setup and more specifically `compile "io.arrow-kt:arrow-instances-core:$arrow_version"`

[2019-01-23 10:41] pakoito commented on #1261
I have added the warning now: https://github.com/arrow-kt/arrow#current-stable-version-082

[2019-01-23 11:11] raulraja commented on #1261
@pakoito Can we have both setups always listed? current release and current snapshot

[2019-01-23 11:19] pakoito commented on #1261
This is supposed to be the last time we do this, so it shouldn't be too necessary. I don't oppose it tho.

[2019-01-23 11:55] #626 closed

[2019-01-23 11:55] #797 closed

[2019-01-23 12:58] nomisRev commented on #1261
@pakoito what is the plan to prevent this? Are we going to introduce some kind of versioning of the docs?

[2019-01-23 13:15] raulraja commented on #1261
There are plans after 0.9.0 to keep versions copies of the docs in S3 which will be exposed in different urls for legacy projects trying to refer to the docs of older arrow version. Essentially our build should build a Jekyll site for each tag we want to have public docs for. @dominv is helping us with all things related to the Arrow build and this will be ready some time in 2019

[2019-01-23 13:30] nomisRev commented on #1261
@raulraja thanks for the info. That sounds awesome! Looking forward to it.

[2019-01-24 20:06] #1052 closed

[2019-01-25 15:19] juliankotrba commented on #1225
I would like to give this one a try!

[2019-01-28 09:15] JorgeCastilloPrz opened #1269 "["Request"] Sugar for switching context back after Concurrent#parMapN"
### What version are you currently using?

0.9.0-SNAPSHOT

### What would you like to see?

Right now, something like this switches to the passed in context, never switches back for the `callback` results:
[code]

That's good for bindings, since you can ensure the context after the call is the one you explicitly passed in, and you can keep stacking computations in the thread / context. Then you ca

[2019-01-28 10:49] pakoito commented on #1269
You can write the sugar function for your client code that does the packing and unpacking of the tuple to change contexts. I'm not sure this one is for the core library.

[2019-01-28 11:49] dominv opened #1270 "Fix aws s3 sync docs"
In the bitrise's `deploy` step to master, the upload of the docs is failing with an error:

[code]

https://app.bitrise.io/build/c96fe9768a0b9a48

[2019-01-28 13:18] JorgeCastilloPrz commented on #1269
No problem at all on opening a PR, once it's discussed and in case there's an agreement.

As described in the issue, yes, you can jump context manually from within a binding. This is not a limitation but a suggestion for a very usual case in real world apps.

I'm not sure what you mean by relying on EmptyCoroutineContext. Both dispatchers are passed in explicitly in the call site, so you just do t

[2019-01-28 20:03] pakoito commented on #1270
#1271

[2019-01-29 02:13] pakoito commented on #1269
The problem is that kx.coroutines doesn't have a concept of "this thread", and you cannot even reuse the current context sometimes. So all you can do is jump from a background thread to a main thread and viceversa, because they have named dispatchers.

Now, your assumption is that

[code]

Runs useCase1-3 in a background thread and then you'll have to come back to a main thread. The thing to under

[2019-01-29 07:48] JorgeCastilloPrz commented on #1269
Wait, what? I thought each passed in computation started on its own thread for paralellization (a different thread inside the ctx pool). I know this is opinionated, but I'd not want to mix use cases with threading, I see that as a smell. To me, they should not know anything about that but just contain strict business logic. Then we've an Invoker taking care of running them paralelly, sequentially,

[2019-01-29 23:13] pakoito commented on #1269
@nomisRev on your example, which thread is Tuple2 called in? I'd imagine that in the one for the last IO that finishes, right?

[2019-01-29 23:34] nomisRev commented on #1269
@pakoito yup, that's right

[2019-01-30 02:31] pakoito commented on #1269
There is no "this thread I'm currently on" context in kx.coroutines, the way that Schedulers.trampoline() or the old Schedulers.immediate() existed in rx. Getting the context from the scope may lead you to context reuse when starting multiple coroutines, which isn't allowed.

It is not intuitive for us either, we've built the knowledge via experimentation lol

[2019-01-30 17:09] JorgeCastilloPrz commented on #1269
Mmm but If I explicitly pass the context to you from the call site, let's say `Main` (because I'm the dev and I know I'm on Main and do want my results on Main), can't you just jump to it whenever you have your results ready ? I'm sorry I'm asking so much about this, but not understanding the real point of the "current thread thing". I know that's not possible, but it's not what I'm looking for (I

[2019-01-30 19:53] pakoito commented on #1269
If you are that's okay, just do

[code]

[2019-01-30 20:16] JorgeCastilloPrz commented on #1269
I know there are ways to do this, I also added some working alternatives to the issue description in the beginning. All of them seem to require a binding though, which is less than ideal.

Anyways, we'll keep the extension in our codebase for now.

[2019-01-30 20:16] #1269 closed

[2019-01-31 09:56] dobrowins commented on #1167
@raulraja As I see it's already resolved (at least in Try portion of docs), wonder if this issue could be closed not to span attention from those really needing work on.

[2019-01-31 11:12] pakoito commented on #1167
Agreed! Thanks :D

[2019-01-31 11:13] #1167 closed

[2019-02-01 11:54] #1225 closed

[2019-02-01 12:05] raulraja opened #1277 "Add `delay` and similar utils to the `Fx` continuations"
Currently using `delay` from the coroutines lib in a Fx continuation results in a runtime exception:
[code]
[code]

Originally reported in gitter https://gitter.im/arrow-kt/Lobby?at=5c52d4998aa5ca5abf5f23e5

[2019-02-01 15:05] vejeta commented on #498
I recently wrote an article with examples about this: https://www.47deg.com/blog/traverse-typeclass-in-arrow/

[2019-02-03 15:33] raulraja opened #1281 "Fx extensions for Reactor and Rx2"
Missing `Fx` and `UnsafeRun` extensions for Reactor and Rx2 data types

[2019-02-03 17:16] grudus opened #1282 "Cannot resolve dependencies for io.arrow-kt:arrow-extensions-core:0.8.2"
Hi,
It seems that arrow-extensions-core module is missing in the maven repository.
I copied dependencies from https://arrow-kt.io/docs/ and here is my pom.xml

[code]

When i run `mvn clean install` the following error appears:
[code]
If I remove `arrow-extensions-data` and `arrow-extensions-core` everything compile.

And you can see here - `https://repo.maven.apache.org/maven2/io/arrow-kt/` there

[2019-02-03 18:43] pakoito commented on #1282
Yeah, the docs ended up having the deps for 0.9.0 until we release it. Problems of not having versioned docs lol. Use version 0.8.2 of the dependencies for now: https://arrow-kt.io/docs/#current-stable-version-082

[2019-02-04 10:22] JorgeCastilloPrz opened #1283 "Dispatchers ambigüity"
Hi @pakoito , I'm targeting 0.9.0-SNAPSHOT and have this artifacts on my build.gradle:

[code]

I'm getting this issue:

![captura de pantalla 2019-02-04 a las 11 10 07](https://user-images.githubusercontent.com/6547526/52202570-22b0be00-286f-11e9-85f5-ae6ac25914d6.png)

Looks like we have same naming and packaging for both `IO.Companion` extensions. Is that correct ? should I remove some of the d

[2019-02-04 10:36] JorgeCastilloPrz commented on #1283
Actually, I've tried moving to just:
[code]

And still the problem is there.

[2019-02-04 10:37] pakoito commented on #1283
The one at the bottom doesn't exist AFAIK, it has one parameter.

[2019-02-04 10:39] pakoito commented on #1283
The one at the bottom shouldn't exist, there's just one with a single parameter instead: https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-extensions/src/main/kotlin/arrow/effects/extensions/io.kt#L145-L147

[2019-02-04 10:58] JorgeCastilloPrz commented on #1283
So you mean it's wrongly deployed? should that constructor be gone from Arrow?

[2019-02-04 10:59] pakoito commented on #1283
Try both and see what happens.

[2019-02-04 11:00] pakoito commented on #1283
Actually, you may have a version in the gradle cache that has both. I had this problem before, IIRC even  forcing to redownload dependencies didn't work because the name is still the same.

[2019-02-04 11:00] JorgeCastilloPrz commented on #1283
How? Both have the same package name, there's ambigüity on the import. Tried removing all dependencies but looks like both are provided by `arrow-effects-io-extensions` (which transitively depends on `arrow-effects-extensions`)?

[2019-02-04 11:01] pakoito commented on #1283
Try the --force-dependencies flag (may not be the right name). Else you have to manually go into the gradle cache directory and delete that one yourself.

[2019-02-04 11:10] JorgeCastilloPrz commented on #1283
Alright. That didn't work either, but Invalidate caches & restart worked. It seems that you were right, I had an older cached snapshot. Interestingly, it was the IDE the one complaining and showing red lines everywhere. It compiled good by command line.

Closing this now. Thanks for your help! 👍

[2019-02-04 11:10] #1283 closed

[2019-02-04 15:43] JorgeCastilloPrz opened #1284 "Coproducts type inference issue"
`Coproducts` created by @abergfeld are awesome, but they have a problem of type inference. Let's say I have this network service call:

[code]

I would expect all the `cop()` call types to be inferred, but it's not able to, so `Coproducts` become a bit of a pain to use everywhere.

[2019-02-04 16:37] abergfeld commented on #1284
For added context, this appears to be directly related to the defaulted Unit parameters as part of the `cop` functions.

I think what's going on is that it's unable to infer because all 4 of the `cop` functions effectively have the same type signature without specifying generics because of the defaulted params.

[2019-02-04 17:31] raulraja commented on #1284
The immediate task if you agree would be to deprecate `cop` to be removed in 0.9.1 and make the ADT nodes `public` instead of `internal` which is what they are now.

[2019-02-04 17:38] JorgeCastilloPrz commented on #1284
Sounds fine to me. Could we create smart constructors `a(), b(), c()` for those?

[2019-02-04 17:44] JorgeCastilloPrz commented on #1284
Wanna take this one @abergfeld ?

[2019-02-04 17:49] raulraja commented on #1284
You can create smart constructors but given the verbosity of Coproduct I think it's a better strategy to just keep the ADTs and name them by position like they are now. Note the imported `First` and `Fourth` are that of `Coproduct3`. You need versions of those for each Coproduct type and on top all the syntax which would spike the size of `arrow-generic`.

[2019-02-05 15:55] abergfeld commented on #1284
Yeah I can take this issue.

I was wondering if we would be okay with migrating by deprecating the `cop` methods as the type inference is not working and replacing it with something like this:

[code]

We could then separately make the data classes not `internal` if we still want to but we'd keep the simple extension way of creating a Coproduct

[2019-02-05 15:58] JorgeCastilloPrz commented on #1284
That's what I was suggesting. I'd be fine with that.

[2019-02-07 11:10] JorgeCastilloPrz commented on #1091
Looks like parMapN is already there since some time ago, but we're still lacking other things like parSequence, parTraverse, and maybe paraTupled. All of them working over F.

Could you take a careful look to what's still missing and see if we can add it @nomisRev?

Thanks in advance!

[2019-02-08 01:05] pakoito opened #1292 "IO.asyncFiber"
Rename `asyncF`

https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-data/src/main/kotlin/arrow/effects/IO.kt#L47

[2019-02-08 14:23] JorgeCastilloPrz commented on #1292
Some description pls?

[2019-02-09 02:06] pakoito commented on #1292
Oh, just literally renaming startF to startFiber, as I know Raul was doing it through the codebase.

[2019-02-09 07:22] JorgeCastilloPrz commented on #1292
Yup Imagined something like that but, reasons for the change? Better reasoning on issue descriptions is always helpful.

[2019-02-09 10:58] marenovakovic opened #1295 "fx crash"
program below is crashing with exception
[code]
[code]

[2019-02-09 11:02] marenovakovic commented on #1295
wrong `fx` import use `import arrow.effects.extensions.io.fx.fx` instead of `import arrow.effects.extensions.io.monad.fx`

[2019-02-09 13:29] pakoito commented on #1295
Let's keep it open because it shouldn't crash in any case. cc @raulraja

[2019-02-09 13:54] raulraja commented on #1295
I think it was confirmed in gitter that in the new snapshot the issue was gone. Is that not the case?

[2019-02-09 16:49] marenovakovic commented on #1295
it is not the same error

[2019-02-10 13:30] pakoito commented on #1295
WARNING!

Snapshot versions are cached and don’t refresh unless you use the gradle flag `--refresh-dependencies` and click on `clean cache and restart` in IntelliJ

[2019-02-10 13:31] streetsofboston commented on #1295
I encountered the same issue:
https://kotlinlang.slack.com/archives/C5UPMM0A0/p1549634068443700?thread_ts=1549634015.443400&cid=C5UPMM0A0

[2019-02-11 01:54] streetsofboston commented on #1295
At this moment, with the latest 0.9.0-SNAPSNOT downloaded, the issue is still there. I'll repost the stack trace below:
[code]

[2019-02-11 09:49] calvellido opened #1298 "Docs multiversion availability"
Right now only one version/edition of the docs is available, which is aimed at latest Arrow snapshot.

We need to have different versions available (v0.8.2, v0.9.0...), so users can check the docs for that specific release when something changes over time in the library.

- [x] Create AWS EC2 instances for the different arrow versions https://github.com/47deg/try.arrow-kt.io/issues/41
- [x] Create

[2019-02-11 10:29] fedefernandez opened #1299 "[EPIC] - Arrow FX Benchmarks"
Using jmh we want to port the [cats-effect](https://github.com/typelevel/cats-effect/tree/master/benchmarks) and [zio](https://github.com/scalaz/scalaz-zio/tree/master/benchmarks/src/main/scala/scalaz/zio) benchmarks to Arrow FX. This needs to be done in several tasks:

* [x] Create a new module in arrow for holding the benchmarks
* [x] Migrate the cats-effect benchmarks
* [x] Migrate de zio bench

[2019-02-11 16:00] calvellido commented on #1298
To complete this, and to be able to keep using Arrow Playground snippets properly, we might need to get this done first:

https://github.com/47deg/try.arrow-kt.io/issues/40

[2019-02-11 19:37] streetsofboston commented on #1295
Could it be related to https://github.com/arrow-kt/arrow/issues/1277 ?

[2019-02-12 21:15] #1284 closed

[2019-02-14 18:17] pablisco opened #1304 "NonEmptyList extension functions"
Add extension functions for factory methods so we can do:
[code]
Instead of:
[code]

[2019-02-15 14:24] raulraja commented on #1304
Isn't that an unsafe operation? what happens if the List is empty?

[2019-02-15 14:45] fedefernandez commented on #1304
I guess it should return an `Option<NonEmptyList>` like in cats

[2019-02-15 15:04] nomisRev commented on #1304
@raulraja there should be `fromList` and `unsafeFromList` although possible that the second one is internal.

[2019-02-15 15:56] pablisco commented on #1304
Yeah, both are available so I was thinking that we could have something like this:
[code]

[2019-02-15 15:59] pakoito commented on #1304
We don't have unsafe functions on the libraries. I believe we considered an arrow-unsafe module a while ago, but yeah, better stick to the safe versions for now.

[2019-02-15 21:39] raulraja commented on #735
This is old

[2019-02-15 21:39] #735 closed

[2019-02-16 14:41] kartoffelsup commented on #153
Is this what you are referring to @pakoito? https://github.com/ReactiveX/RxJava/blob/2.x/src/main/java/io/reactivex/exceptions/Exceptions.java#L66

[2019-02-16 15:16] raulraja commented on #153
yep, those are a subset of the Fatal errors we need to contemplate.

[2019-02-17 12:46] kostya05983 commented on #1236
@raulraja, @JorgeCastilloPrz  I have a question about documented runnable snippets, if I make an example of snippet and how it will look on site(picture), is it enough for user to understand? How do you think?

[2019-02-17 12:55] raulraja commented on #1236
@kostya05983 the bulk of this task is going over all the docs module replacing ocurrences of `{: data-executable='true'}` for `kotlin:ank:playground`. There is more after that but this is what we need for this issue.

[2019-02-17 13:42] kostya05983 commented on #1236
@raulraja  Can you give me a guide, How I can make a changes, I try to create a new branch to make a pull request, but I don't have a permissions.

[2019-02-17 13:55] kartoffelsup commented on #1236
@kostya05983 you have to fork this repository first by clicking on `Fork` on the top right, and then you can create a new branch in your fork.

[2019-02-17 14:08] kostya05983 commented on #1236
Thank you

[2019-02-17 16:35] #1236 closed

[2019-02-19 10:38] calvellido opened #1309 "Docs version selector"
We need to implement a version selector between different published Arrow versions to consult on the website:

https://0-8-2.arrow-kt.io
https://arrow-kt.io
(...)
https://next.arrow-kt.io

[2019-02-19 11:55] #153 closed

[2019-02-19 13:37] JLLeitschuh opened #1310 "[CVE-2019-11404][SECURITY] Releases are built/executed/released in the context of insecure/untrusted code"
[CWE-829: Inclusion of Functionality from Untrusted Control Sphere](https://cwe.mitre.org/data/definitions/829.html)

The build files indicate that this project is resolving dependencies over HTTP instead of HTTPS. Any of these artifacts could have been MITM to maliciously compromise them and infect the build artifacts that were produced. Additionally, if any of these JARs or other dependencies we

[2019-02-19 17:12] pakoito commented on #1310
Fixed on Master. Thanks for the heads-up @JLLeitschuh !!!

[2019-02-19 17:22] JLLeitschuh commented on #1310
@pakoito Should a [CVE](https://cve.mitre.org/) be issued for earlier versions of Arrow as they could have been compromised? This is a non-issue if your builds are fully reproducible and you can prove that previous releases weren't compromised as the hashes match.

[2019-02-19 17:26] pakoito commented on #1310
I am not familiar with any of the security procedures you've mentioned before. The dependencies seem to be used for pre-release versions of Kotlin and Arrow, which makes the set of vulnerable versions limited to SNAPSHOTS and binaries such as Ank.

[2019-02-19 19:24] JLLeitschuh commented on #1310
When Gradle downloads artifacts, they are stored in the `~/.gradle` directory.
So if a pre-release and a release use the same artifact, then the pre-release one could be used.

Also, depending upon where the MITM is occurring, the repository requests that are higher in the list could have been intentionally blocked to force the build to try the insecure repository.

You can file for a CVE here:
ht

[2019-02-20 01:43] pakoito commented on #1310
CI builds our artifacts from scratch, spinning up a new image for each and re-downloading the dependencies. There's no caching involved, so there's none of those risks.

[2019-02-20 01:45] pakoito commented on #1310
I'm not for opening a CVE, maybe @raulraja feels otherwise.

[2019-02-20 08:57] raulraja commented on #1310
@pakoito I'm not opposed to a CVE, but also not interested in going through the trouble given you already addressed those concerns with your comments.

[2019-02-20 13:11] JLLeitschuh commented on #1310
You're probably fine then. Thank you all.

[2019-02-23 01:07] billwanjohi opened #1312 "Bug: NonEmptyList derived directly from MutableList propagates changes to #all property, but not #size, #head and #tail"
I created a `NonEmptyList` by passing a standard Kotlin `MutableList` to it. I had assumed that this new variable was fully immutable, implicitly making a copy of the mutable list and severing any connection to it. Instead, what I found is that it continues to reference the mutable list for at least one property (`all`), but not for others.

[code]

My workaround is to call #toList on the MutableL

[2019-02-23 01:19] pakoito commented on #1312
Can you please add `toList()` to the constructors here? https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-extras/src/main/kotlin/arrow/data/NonEmptyList.kt#L19-L20

[2019-02-23 11:28] pablisco commented on #1312
We could use `NonEmptyList` internally with a terminal case for a singleton. As well as a special case for lazy copy of the list to support the current behaviour too and avoid eager (which could verify that we don't send in a MutableList).

[2019-02-24 20:03] kartoffelsup commented on #1078
Is this still desired? I got the impression there is desire to remove Try from arrow altogether?
p.s. I've also found a bug in the TryTests:
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core-data/src/test/kotlin/arrow/core/TryTest.kt#L62
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core-data/src/test/kotlin/arrow/core/TryTest.kt#L69

These tests never assert

[2019-02-24 22:41] 1Jajen1 commented on #284
The divide/divisible/decidable part of this is done in #1311

[2019-02-25 11:49] AntonioMateoGomez commented on #1309
For this issue we have thought about incorporating in the home section three buttons to choose wich doc version we need to consult, so we will see the `STABLE`, `NEXT` and `PREVIOUS` version.
It would may looks like this:

![captura de pantalla 2019-02-25 a las 12 22 01](https://user-images.githubusercontent.com/25897490/53334205-63dd4080-38f8-11e9-828e-4283164c22a9.png)

We will also incorporate

[2019-02-25 12:04] raulraja commented on #1309
The `Learn More` should go away. The buttons should not just say that but also include the version number. There needs to be visual clues to differentiate the three versions being in order of prominence:
- stable

[2019-02-25 15:28] zsmb13 opened #1316 "Possible bug: extension not being generated"
I'm trying to get something to work with extensions based on an example in the docs:

[code]

Now, I can make the `neqv` call work, as that extension is generated as I'd expect:

[code]

However, I don't get an `eqv` extension generated. I did get an `eq` extension that I _could_ then open a scope on with `run`, but this isn't very neat:

[code]

As far as I understand `eqv` should also be generat

[2019-02-25 16:14] pakoito commented on #1316
That sounds correct. The reason is that the abstract implementation usually delegates to the member implementation, which is the preferred one to use. Checking whether the typeclass delegates to a member expression etc. is hard to check, so the current approach isn't too bad.

[2019-02-25 16:16] pakoito commented on #1309
I'd rather we had version number in or below the buttons too.

[2019-02-25 16:28] zsmb13 commented on #1316
I'm not sure I understand. Am I supposed to go through `eq` then to be able to call `eqv` on a user?

[2019-02-25 16:32] pakoito commented on #1316
Hmmmm trying to come up with an example I saw the problem. Okay, it's legitimate.

[2019-02-25 17:04] pakoito commented on #1078
Yikes -.- I'll see if I can take a look this week.

[2019-02-25 20:54] kylannjohnson opened #1317 "Android Proguard warning on StateT when updating from 0.8.0 to 0.8.2"
I updated tge arrow version from 0.8.0 to 0.8.2 on our Android app and proguard gave this warning about StateT.kt

[code]

We do not use the State type at all so I was surprised to see any change here.  We ignored the warning for now, but would love to see if we could configure proguard to not require suppressing the warnings.

We are running: Kotlin 1.3.21, min sdk 23, JRE 1.8.0_162

[2019-02-25 22:07] pakoito commented on #1317
This seems like a build issue in Kotlin, we're seeing it pop up on arbitrary classes from time to time :/

[2019-02-26 16:07] streetsofboston commented on #1295
Another small reproduction code sample:
[code]

If you change `delay(100)` to `delay(1)`, the crash sometimes happens. Often "Right(b=15)" is printed, though....
If you remove the `delay(100)` entirely, the crash does not happen and "Right(b=15)" is printed.

[2019-02-26 17:32] alissonfpmorais commented on #1295
I've ran into a similar problem when working with coroutines and this [post](https://medium.com/@elizarov/deadlocks-in-non-hierarchical-csp-e5910d137cc) helped a lot.
Maybe it can help to fix this issue.

[2019-02-26 17:37] pakoito commented on #1295
Can you please try to do the same with fx fixed to IO or Observable instead of Either?

[2019-02-26 17:46] raulraja commented on #1295
Ok, I see what is going on here. This is using the master snapshot which contains `effect` in `MonadSyntax`and a BlockingContinuation. This is is why you can use `effect` on either and that is incorrect. Will submit a fix before 0.9.0 and refer to this issue. `effect` can't be used on Either and won't be available simply because Either is eager and can't suspend side effects.

Additionally the onl

[2019-02-26 17:55] raulraja commented on #1295
/cc @javipacheco I don't need you to check this on Android anymore, thanks anyway 😗

[2019-02-27 10:19] raulraja commented on #1295
working on this now.

[2019-02-27 13:48] kioba commented on #1316
Using the extension function without specifying the object will bind you always to the same object. It's like using a global variable. Implicit helps to find the implementation compile time, but on testing, you might want to switch out the implementation. It can not be done with the extension functions.
I am not even sure if the defaults implementation of the type class is actually safe from this

[2019-02-27 13:55] raulraja commented on #1316
@kioba Default implementations of type classes are not meant to be overridden as they represent the canonical behavior a type provides without inheritance coupling between behavior in the data type. They should be considered coherent.

If you wish to swap the implementation you can do that by simply defining a new extension in a new package. Instead of depending on the concrete projected extension

[2019-02-27 17:59] kioba commented on #1316
@raulraja  you are right, this is actually a very nice definition! It helped me to clear out some things 😅. Thank you for this!

So in the example with the User you would suggest to use like this?

[code]

I believe this is the part that I miss and can't really see how to do it yet. I will try to get deeper into a test project.

my problem is around removing side effects from the extentions in tes

[2019-02-27 19:24] raulraja commented on #1316
If you were to mix side effects `Eq` as defined is not a good option. It's meant to be an in-memory object structural comparison for the most part. In Arrow Fx you would model this with suspend functions if you use the latest snapshot or wait for 0.9.0. https://arrow-kt.io/docs/effects/fx/

That is the only way alongside `IO` to do purely functional side effects handling.

Now if you just want to

[2019-02-27 19:30] #1277 closed

[2019-02-27 19:30] #1295 closed

[2019-03-01 00:53] #1078 closed

[2019-03-01 09:56] juliankotrba opened #1323 "Add Monoidal type class"
Request comes from [here](https://github.com/arrow-kt/arrow/pull/1280#discussion_r259910269).

[2019-03-01 11:11] pakoito opened #1324 "handleErrorWith for Either"
Add it to Either.kt as a member function. It's currently defined inline in the instance so it's a case of copypasting it :D

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core-extensions/src/main/kotlin/arrow/core/extensions/either.kt#L92-L98

[2019-03-01 11:34] kioba commented on #1324
I am happy to take it, I will set up the project and finish on the weekend

[2019-03-02 15:39] #882 closed

[2019-03-05 20:20] pakoito opened #1329 "Add Selective Applicative Functors"
https://www.staff.ncl.ac.uk/andrey.mokhov/selective-functors.pdf

https://github.com/snowleopard/selective/blob/master/src/Control/Selective.hs
https://github.com/snowleopard/selective-ocaml/tree/master/src

[code]

[code]

- [ ] Interface definition
  - [ ] A couple of operators, like the OCaml version maybe
- [ ] Update Monad
- [ ] Laws
- [ ] Instances
    - [ ] Option
    - [ ] Identity
    - [

[2019-03-05 20:23] #1324 closed

[2019-03-05 20:23] pakoito commented on #1324
Thanks @kioba for the fixxxx

[2019-03-05 22:21] pakoito opened #1330 "Update KotlinTest to 3.3.X"
The new IDE plugin only works on 3.3.X!

https://proandroiddev.com/introducing-the-kotlintest-intellij-plugin-cf8005e9177a

[2019-03-06 09:24] kioba commented on #1324
Thank you for letting me contribute! :)

[2019-03-07 03:00] pakoito opened #1331 "Const Monad, MonadError, etc."
Const could have these instances, I believe.

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-typeclasses/src/main/kotlin/arrow/typeclasses/Const.kt

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core-extensions/src/main/kotlin/arrow/core/extensions/const.kt

[2019-03-07 03:02] #1331 closed

[2019-03-07 22:48] alissonfpmorais commented on #1158
Sorry about the long time without working on this.
Sent a PR to fix it. Let me know if something has to be changed :)

[2019-03-07 23:12] pakoito commented on #1158
It's an awesome PR! There are some things to change but overall it's an awesome job :D

[2019-03-08 12:33] JorgeCastilloPrz opened #1333 "Artifact audit"
# What's needed

We're approaching release `0.9.0`, it's time to ensure all artifact names match the new approach ( `****-data` + `****-extensions`). We must also double check that artifacts mentioned in README + "Quick start" docs section also match with those names. Also review which ones are missing, if there are any.

## Audit results

The name on the left is the artifact name we're using in b

[2019-03-08 12:42] pakoito commented on #1333
yes

[2019-03-08 12:43] pakoito commented on #1333
So, in the end, we wanted a `-data` without the extensions and an `-extensions` with them, and no suffix for an artifact with both. Right now in some places instead of `-data` we have the no suffix, for example.

[2019-03-08 12:44] pakoito commented on #1333
I believe at some point we realised that `-extensions` and the no suffix one would be the same artifact, and that's why some of them are renamed or not.

I don't care whether we have 2 or 3 artifacts as long as it's consistent.

[2019-03-08 16:14] #1333 closed

[2019-03-08 18:26] pakoito commented on #1329
Added by @richard-gibson !!!

[2019-03-08 18:26] #1329 closed

[2019-03-09 12:43] pakoito commented on #1317
Try again in 0.9.0, see if it still persists

[2019-03-10 03:55] pakoito opened #1347 "Add countdown-based `retry` for ApplicativeError"
Something like

[code]

It needs to be tested in ApplicativeErrorLaws for stackoverflow. If it SOs, then we can move it to MonadError and do another version based off `tailRecM`

[2019-03-11 18:50] RivuChk commented on #1347
I'd like to pick this up, will add the functions, perform the tests and if required will do the fixes as suggested.

[2019-03-11 19:20] pakoito commented on #1347
It may be part of MonadSuspend actually, because non-suspended functions are deterministic.

[2019-03-12 05:57] #1330 closed

[2019-03-12 14:59] #1323 closed

[2019-03-13 02:32] pakoito opened #1356 "Rename deferUnsafe to delayUnsafe"
https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-data/src/main/kotlin/arrow/effects/typeclasses/MonadDefer.kt#L47

- [ ] Add a deprecation notice to deferUnsafe
- [ ] Add a new method delayUnsafe
- [ ] Make deferUnsafe call delayUnsafe
- [ ] Check that tests, examples, etc. call delayUnsafe now

In one or two versions

- [ ] Delete deferUnsafe

[2019-03-13 02:38] pakoito opened #1357 "Add delayOrRaise that jumps threads to Async"
`delay` with a CoroutineContext is a nice helper for a common pattern. `delayUnsafe` should exist too.

Delay with thread jump:

https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-data/src/main/kotlin/arrow/effects/typeclasses/Async.kt#L140

`delayOrRaise` (deferUnsafe until #1356 ) without thread jump:
https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-ef

[2019-03-13 04:12] alphaho opened #1358 "Missing uppper bound in the Option class and toOption extension method"
While Option means having something or nothing, it seems we should specify a `Any` upper bound to `Option` class and the `toOption` extension method.

At the moment, the type parameters are with no upper bounds:

[code]

[code]

I think they should be:

[code]

[code]

If that should be the case, I'm happy to raise a pull request to fix this

[2019-03-13 08:17] smackaj opened #1359 "IO.bracketCase possibly broken?"
I hope I don't just understand `IO.bracketCase(release,use)` wrong. My understanding is that when running the resulting IO action, `release` should always be run after running `use`, regardless of the result of `use`. Moreover, when `use: (A) -> IO<B>` results in `IO.raiseError`, I would expect that `release:(A,ExitCase)->IO<Unit>` enters the `ExitCase.Error` branch.

**Issue:** The following test

[2019-03-13 10:15] pakoito commented on #1358
We decided very early in the lib that we don't really care about the contents of our datatypes. That means that if people want to put nullables inside Option they're entitled to. Even if that means that

[code]

will _technically_ be the same as `Some<Int>`.

[2019-03-13 10:18] pakoito commented on #1359
There's a chance Attempt is the broken one. Try without it.

[2019-03-13 15:21] janvladimirmostert commented on #1007
what is kapt used for, only for the `@optic` annotations ?

[2019-03-13 15:42] pakoito commented on #1007
@higherkind is the blocker for arrow-core, @extends for arrow-typeclasses

[2019-03-13 16:30] JorgeCastilloPrz commented on #1007
I also assume kapt (specifically annotation processors) will not be a thing for JavaScript either. We'd probably need to look for alternatives on code derivation for both platforms that can have a common API but implemented differently.

[2019-03-13 17:01] diegodpf opened #1361 "Add peek function to optional"
I used to use [Vavr](http://www.vavr.io) and I am migrating to Arrow now, so I miss a function that applies an action to the value if the option is defined ([peek](https://static.javadoc.io/io.vavr/vavr/0.9.2/io/vavr/control/Option.html#peek-java.util.function.Consumer-) function in Vavr).

Is there any better way to perform that operation? Or maybe I can raise a PR with something similar with the

[2019-03-13 18:08] 1Jajen1 commented on #1007
How do projects like kotlinx.serialization etc work? Are they providing their own compiler plugin? Maybe that is a way to go, may be a lot of work tho.

[2019-03-13 22:53] pakoito commented on #1361
Yes, we have `effectM` in the extensions package! Same stuff: https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-typeclasses/src/main/kotlin/arrow/typeclasses/Monad.kt#L51

[2019-03-14 17:58] routis commented on #1282
I don't think that arrow contains modules:
-  arrow-extensions-core
-  arrow-extensions-data
I believe this is true for both 0.8.2 & 0.9.0

Where did you find references to these jars?

PS: Docs, regarding maven setup have been updated for 0.9.0

[2019-03-15 01:53] pakoito opened #1363 "Docs with .MD extension (caps) fail to be edited"
Repro:

Go to https://arrow-kt.io/docs/optics/index/
Click Edit on the top right
BROKEN LINK
Edit url from `.md` to `.MD`
Fixed!

Fix:
Rename all `.MD` files to `.md`

https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/docs/docs/effects/promise/README.MD
https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/docs/docs/optics/filterindex/README.MD
https://github.co

[2019-03-15 10:14] knordbo commented on #1358
It also means that we can do things like:
[code]

yields Option of `value` null, whilst `isEmpty` states false. Is this desired?

[2019-03-15 11:01] MarioAriasC commented on #1358
Talking about Arrow's prehistory, (i.e., funKTionale) for a while we implemented an upper bound for `Option`, and it made it very, very difficult to use.

And `Option<Int?>` can have a null value inside 'cause the type `Int?` allows null values

[2019-03-15 11:41] 1Jajen1 commented on #1358
Without an upper bound you decide based on your actions what should be in Option-Context, not the value inside. I think that is preferable because it makes Option much more flexible. The same goes for all HK-Types. They don't restrict the Type inside and they should not, because it limits functions trying to combine them. A function like `Either<L, R> -> Option<R>` (throwing away the error) become

[2019-03-16 16:45] #1309 closed

[2019-03-17 21:14] #1356 closed

[2019-03-19 10:40] calvellido opened #1372 "Get the site blog section out of versioning"
The current approach takes a _snapshot_ of the docs state and publish them under their version number, e.g:

https://0-8-2.arrow-kt.io
https://0-9-0.arrow-kt.io
https://next.arrow-kt.io

The blog section should be left out of this behaviour, as there is no link between its content and the Arrow code versions, in contrast with code documentation.

Some approaches could be to have the blog served un

[2019-03-19 11:45] pedrovgs commented on #1363
I'm fixing this one @pakoito 😃

[2019-03-19 11:55] JorgeCastilloPrz commented on #1091
Closing this. After discussing with @nomisRev looks like we got all the combinators we strictly need ready, and any ones that we could miss in the future could be easily derived from those. So we'd open this issue again or a new one in the future if we found the need for further combinators.

[2019-03-19 11:55] #1091 closed

[2019-03-19 16:10] #1363 closed

[2019-03-19 19:20] pakoito commented on #1363
🎉

[2019-03-19 21:26] pakoito opened #1374 "Add missing docs to sidebar"
From https://github.com/arrow-kt/arrow/issues/1363 I've realized that some docs like Fiber are not included on the sidebar https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/docs/_data/sidebar.yml

Doublecheck that they're matched, or just add Fiber now.

[2019-03-24 16:53] smackaj commented on #1359
No, that didn't change the behaviour.

[2019-03-26 07:38] raulraja opened #1379 "Update Dokka"
https://twitter.com/kotlin/status/1110442156492095488?s=19

[2019-03-27 08:52] #1374 closed

[2019-03-27 09:57] juliankotrba commented on #1379
Since I am currently waiting at the airport, I would like to take care of this 😄

[2019-03-27 10:34] #1379 closed

[2019-03-27 10:37] pakoito opened #1382 "Redundant top snack in docs site"
<img width="1440" alt="Screen Shot 2019-03-27 at 10 35 49 AM" src="https://user-images.githubusercontent.com/514871/55069615-5690ae80-507c-11e9-8bb2-950a97c5cdfe.png">

The snackbar at the top takes >1 second to animate, pushes the content, and is redundant in every screen it appears because it's either in the sidebar or under the logo on the main page.

I'd say remove it.

[2019-03-27 11:46] raulraja commented on #1361
Even if you wrap it, this function it's unsafe because it can only perform side effects and these effects are not suspended. I understand Vavr's design choice because Java has no effect control but Kotlin does through `suspend` or lazy data types like `IO`

It can work when we are in the context of IO if it where defined like this:

[code]

In contrast, if you just use `Some(sideEffect())` the eff

[2019-03-27 11:46] #1361 closed

[2019-03-28 08:37] JorgeCastilloPrz opened #1385 "Redundant suspend modifiers"
When you use ArrowFx you are expected to `suspend` your effectful functions so you can then wrap them on `effect {}` inside the `fx {}` block. The usage of `suspend` on them is equivalent to wrapping them on `IO` in a sense, since it acts as a safety lock that ensures you'd never be able to call it from a non suspended block (which we provide by using `effect {}`).

One "issue" we have is that def

[2019-03-28 13:56] JorgeCastilloPrz opened #1386 "Unit return types"
When you're writing code in an FP manner, you want to keep all effects under control. **Functions that return `Unit` are effectful by definition**, since otherwise they'd do nothing. On their bodies, they always access the external world, as in printing, logging, network queries, database reads / writes, modifying the value of class properties... etc.

### Action points

* [x] The redundant Unit r

[2019-03-28 14:21] pakoito commented on #1386
I'd suggest reaching out to twitter to see if someone is interested in owning this space.

[2019-03-28 16:45] JorgeCastilloPrz commented on #1385
@tylos will tackle this during next quarter.

[2019-03-28 16:45] JorgeCastilloPrz commented on #1386
@tylos will tackle this during next quarter.

[2019-03-30 05:15] alphaho commented on #1358
Sounds pretty reasonable.
But would it make sense to provide an upper bound for the `toOption` function or the `fromNullable` function? Especially the `fromNullable` function, it feels like it would properly handle the nullable type as it has the `nullable` in the name, but getting something like an `Option<Int?>` seems to be counter-intuitive.

[2019-03-30 09:43] pakoito commented on #1358
`fromNullable` already does that unless you hint you want a non-nullable, right?

[2019-03-30 16:59] 1Jajen1 commented on #795
Closed by #1376

[2019-03-30 16:59] #795 closed

[2019-03-31 02:30] pakoito opened #1390 "Port Functional and Reactive Domain Modeling's examples to Arrow"
Someone on twitter suggested porting these: https://github.com/debasishg/frdomain-extras

[2019-04-01 13:28] 1Jajen1 opened #1391 "Improve current Free monad implementation"
From a slack thread: https://kotlinlang.slack.com/archives/C5UPMM0A0/p1554022508033000
Right now there are several weird things around the Free-monad: (when I refer to Free later on I mean the Free-Monad)
- It requires a monad instance as the target when evaluating (a simple functor and an f-algebra would do)
- There are no good examples around (The ones from haskell are too diffrent and the ones

[2019-04-01 14:05] i-walker commented on #1391
Ping me If you start working on this @1Jajen1 :)

[2019-04-01 14:08] raulraja commented on #1391
excellent thanks, also ping me, interested in the direction this takes

[2019-04-01 14:29] nomisRev commented on #1391
@1Jajen1 I'm not sure if you looked at [FreeC](https://github.com/arrow-kt/arrow/blob/master/modules/streams/arrow-streams/src/main/kotlin/arrow/streams/internal/FreeC.kt) which is like `Free` but it also deals with unexpected occurring errors.

@raulraja I am assuming we still want to upgrade this to `arrow-free` at some point. We discussed once to replace `Free` with `FreeC` if this is still the

[2019-04-01 14:46] 1Jajen1 commented on #1391
I don't really like that tbh. I think that overcomplicates Free and it is not really necessary imo. Baking in error handling in Free looks wrong. Not doing so might also be more performant when thinking about church encoding. Error handling can be done using FreeT or explicitly. Either way FreeC will also directly benefit from a different approach to Free (recursion schemes as foldMap, better copr

[2019-04-01 14:52] nomisRev commented on #1391
Well, @1Jajen1 `FreeC` was originally built as a foundation for `Stream<F, A>`, where this additional power is needed. I'm fine with keeping it internal in `arrow-streams` but I still think it's valuable to expose for others.

We can also decide to expose both. Having the possibility to move `Free` to `FreeC` with the same utilities etc is probably also an advantage.

[2019-04-01 20:39] i-walker commented on #1390
I suggest creating a new repo for this. Just like @arrow/Category-Theory...
Or do you intend to reimplement the [aforementioned](https://github.com/debasishg/frdomain-extras) repo with arrow ?

[2019-04-01 23:04] pakoito commented on #1390
New repo would be okay. This issue is to keep track of the suggestion.

[2019-04-02 08:38] nomisRev commented on #1359
Hi @smackaj,

With what version of Arrow did you see this behavior? I could not reproduce this, the following tests passes for me.

[code]

There were some issues with `Bracket` in the past but I thought they were already resolved so could you double check version? Your understanding of `Bracket` seems correct.

Thanks for reporting. And my apologies for the late response.

[2019-04-03 06:17] #1382 closed

[2019-04-03 23:44] pakoito commented on #907
Old and unnecessary.

[2019-04-03 23:44] #907 closed

[2019-04-04 18:44] danp11 commented on #1390
Hi, I have been following Arrow alot and also ZIO from Scalaz and I would like to learn both :-) Ive written frdomain extras with ZIO and are very much intrested in how Arrow solution would look like. I dont have the knowledge in Arrow yet so cant help out here unfortunately but would be very grateful if someone had the time and intrest in building an Arrow solution for Mr Gosh repo. Thanks in adv

[2019-04-04 21:04] pakoito commented on #1390
We'll get someone, @danp11 !!

[2019-04-04 22:26] pakoito commented on #1357
Closed by @i-walker !!

[2019-04-04 22:26] #1357 closed

[2019-04-04 22:31] pakoito commented on #1292
Completed!

[2019-04-04 22:31] #1292 closed

[2019-04-04 22:32] pakoito commented on #1253
We dropped support for kotlinx.coroutines, so this issue is stale now sadly.

[2019-04-04 22:32] #1253 closed

[2019-04-04 22:32] pakoito commented on #1282
Done here I believe!

[2019-04-04 22:32] #1282 closed

[2019-04-04 22:35] pakoito commented on #1247
This issue flew under the radar for me, apologies. I don't think we have anyone focused on lenses at the moment, but what I can tell you is that you can import the extension as an alias instead, and that would work. You cannot override extension functions as they're dynamically dispatched.

[2019-04-04 22:36] pakoito commented on #1179
I believe this has been merged already? Closing!

[2019-04-04 22:36] #1179 closed

[2019-04-04 22:37] pakoito commented on #1168
Done!

[2019-04-04 22:37] #1168 closed

[2019-04-04 22:38] pakoito commented on #1165
We need to look into the co-fx space :D

[2019-04-04 22:43] pakoito commented on #1146
RIP CodeCov

[2019-04-04 22:43] #1146 closed

[2019-04-04 22:45] pakoito commented on #294
Latest version works great.

[2019-04-04 22:45] #294 closed

[2019-04-04 22:45] pakoito commented on #268
Fixed

[2019-04-04 22:45] #268 closed

[2019-04-04 22:46] pakoito commented on #174
RIP detekt

[2019-04-04 22:46] #174 closed

[2019-04-04 22:55] pakoito commented on #939
Dupe of https://github.com/arrow-kt/arrow/issues/219

[2019-04-04 22:55] #939 closed

[2019-04-04 22:56] pakoito commented on #767
Ooooold

[2019-04-04 22:56] #767 closed

[2019-04-04 23:42] danwallach commented on #1247
The goal here is to specify my "custom" lens as the "official" lens. If the code generator could be clever enough to notice that I've declared a lens, it could suppress its own. I get the behavior I want as-is except for the warning.

[2019-04-04 23:49] pakoito commented on #1247
Oooooh I see. I believe well have to live with it for now, as it's a bit of work to generalize just to get rid of a warning. Isn't there a baseline like in react of warnings to ignore?

[2019-04-05 00:31] danwallach commented on #1247
I'm happy for now, but it's always a good thing to be able to get a clean compile with every possible warning enabled.

[2019-04-05 00:44] danwallach commented on #1247
I'm happy for now, but it's always a good thing to be able to get a clean compile with every possible warning enabled.

[2019-04-05 02:38] alphaho commented on #1358
yes, it would be nice if I can get an `Option<String>` when I call

[code]

[2019-04-05 08:37] pakoito commented on #1358
you can!

<img width="439" alt="Screen Shot 2019-04-05 at 9 37 08 AM" src="https://user-images.githubusercontent.com/514871/55615081-69933500-5786-11e9-9356-9316ec2633d2.png">

[2019-04-05 11:24] aballano opened #1394 "CoroutineContext.effect doesn't switch back to caller thread"
Maybe this is a self-assumption but I think it would be really helpful to avoid multiple thread switches, specially on "UI-driven" frameworks such as Android.

Quick example, having:

[code]

At least from a newbie point of view I'd expect the output to be (when called from the main thread):

[code]

But actually is:

[code]

This is due to the `effect` ext fun behaving similarly to `continueOn`,

[2019-04-05 11:32] pakoito commented on #1394
That's why I preferred the `continueOn` approach, it's harder to get lost on assumptions. I'd say remove that override.

[2019-04-05 11:42] aballano commented on #1394
@pakoito The thing is that this approach would be pretty handy for mobile or UI apps since it saves you from doing (or forgetting)

[code]

Although I'm not sure how complex would be to have that behaviour described in the issue.

[2019-04-05 14:03] pakoito commented on #1394
Forgetting to go back to the Main thread isn't a problem we need to solve in the library I believe. We can add that extfun that does both jumps, sure, and still keep what we have today.

The more I think about adding a mandatory `continueOn` to `NonBlocking.effect`, the less confident I feel that's a good idea.

[2019-04-05 14:08] JorgeCastilloPrz commented on #1394
We definitely don't want to "pollute" the lib API as is just because of Android @pakoito. Actually on my mind this was more about adding it as sugar in the `arrow-android` artifact, since 90% of bg ops we do in Android require getting back to Main thread afterwards (not exactly main, but the caller thread, so it also applies to tests).

[2019-04-05 16:49] JorgeCastilloPrz commented on #1394
You're PR could also be a good excuse to add an early `arrow-android` module @aballano :) (in case people agrees on the proposed approach)

[2019-04-05 17:46] nomisRev commented on #1394
+1, I've seen some really big messes with implicit threading. It can turn in a very big price tag, $ and CPU wise.

I personally prefer this to be as explicit as possible. It's not typed, so I need to dive into the functions to see what they do etc.
Some other downsides I see now but may potentially be fixed.

We optimize `ContinueOn` to skip multiple sequential calls, to only run the most last on

[2019-04-05 18:36] raulraja commented on #1394
https://github.com/arrow-kt/arrow/pull/1395#issuecomment-480374639

[2019-04-06 01:02] pakoito commented on #1394
There's no such thing with coroutines. If the current context is EmptyCoroutineContext, the default, using it won't make it come back to the same thread. It requires installing event loops on arbitrary threads to make it work end-to-end, and IIRC we don't have those, although it rings a bell that we did something similar recently. I believe RxJava removed theirs for some reason.

[2019-04-06 03:02] alphaho commented on #1358
Aha! Thanks very much! That's exactly what I wanted in the first place!
I wasn't aware that it can be used like this.

[2019-04-06 03:02] #1358 closed

[2019-04-06 09:19] JorgeCastilloPrz commented on #1394
I think we should focus the discussion in one place, if possible.

[2019-04-08 08:54] AdrianRaFo commented on #1240
I guess this can be closed. Feel free to open a new issue or ask on the gitter/slack channels for more questions

[2019-04-08 08:54] #1240 closed

[2019-04-08 10:44] AdrianRaFo opened #1398 "Move Arrow meta from Kapt to Psi"
Related to #1007.
We want to move all the Annotations to Psi from IDEA taking [this project](https://github.com/square/sqldelight/blob/master/sqldelight-compiler/build.gradle) as an example.
Sample file related: https://github.com/square/sqldelight/blob/master/sqldelight-compiler/src/main/kotlin/com/squareup/sqldelight/core/lang/psi/JavaTypeMixin.kt.
Annotations:
 - [ ] autofold.kt
 - [ ] coproduc

[2019-04-11 10:39] calvellido opened #1399 "Add community contributions guidance on the blog site"
In the [Arrow blog section](https://arrow-kt.io/blog/) we could add a small text advisory pointing to the ways anyone could contribute to that section.

Roughly, we could refer to the following two links:

_Do you want to add your contribution to this blog?  You can [directly do it yourself](https://github.com/arrow-kt/arrow/tree/master/modules/docs/arrow-docs#blog-section-contribution), or propos

[2019-04-11 10:40] raulraja commented on #1399
tagging @MaureenElsberry for help with the message

[2019-04-11 13:03] pedrovgs commented on #284
@pakoito @raulraja I could take care of the missing part of this issue tomorrow. I think the missing typeclass is Apply, am I wrong? If so, could you please elaborate what's the expected result of this task? I was thinking in something like:

* Implement the missing ``Apply`` typeclass.
* Refactor ``Applicative`` typeclass to extend from ``Apply``.
* Create the Apply laws.
* Create the documentati

[2019-04-11 14:39] JorgeCastilloPrz commented on #890
I'm closing this. The overall goal was to optimize how renzu works and it has already been done. Renzu was refactored so it renders diagrams inside autogenerated docs by @raulraja so that's where the value is. If at some point we believe we're on the need for something bigger, we can reopen it or create a different ticket.

[2019-04-11 14:39] #890 closed

[2019-04-11 14:55] JorgeCastilloPrz opened #1400 "Artifact reorganization - 2nd iteration"
## What's required

[After first iteration](https://github.com/arrow-kt/arrow/pull/1334) we'd be ready to complete the final approach on which Maven artifacts we want to provide.

After a chat with @raulraja, the plan is: (Let's take `arrow-core` as an example)

* `arrow-core`: contains both `arrow-core-data` and `arrow-core-typeclasses`, and the extensions defined between them.
* `arrow-core-data

[2019-04-11 15:11] JorgeCastilloPrz commented on #1400
We've got this in our roadmap but we're always open for help if someone wants to take it. Sounds like a doable task for people wanting to contribute.

[2019-04-11 15:33] JorgeCastilloPrz commented on #1394
So, is there a decision on this? so we can try to move forward.

[2019-04-11 15:45] JorgeCastilloPrz commented on #1299
I believe this is part of our work over Fx @raulraja @nomisRev ? Let me know if I'm wrong. I'm organizing goals a bit in 47 and wanna keep track of what's done / to be done around Fx for this quarter.

[2019-04-11 15:52] raulraja commented on #1299
yes, though all the tasks @fedefernandez and @AdrianRaFo were working with related to Fx Benchmarks are already completed, it's just Simon and me for now improving the benchmarks and Fx stack safety as we go over the benchmarks.

[2019-04-11 15:58] JorgeCastilloPrz commented on #1299
Sounds good, thanks.

[2019-04-11 19:16] 1Jajen1 commented on #1400
While we are at it should we also sort out the dependencies for each project? Right now they look very much copy-pasted all across with many things having useless deps or using dependencies transiently from other deps. This would require going through each build.gradle and minimizing deps for each project and also replacing the deprecated `compile` keyword with other `api` or `implementation` for

[2019-04-11 19:22] 1Jajen1 opened #1401 "Move io-extensions from effects-extensions to io-effects-extensions"
Right now the io-extensions (all its typeclass instances) are in `arrow-effects-extensions` and by the name i'd expect them in `arrow-io-effects-extensions`. Should those be moved? If so I can do that in a quick pr...

[2019-04-11 19:32] raulraja commented on #1401
Yes, we need to move them in a way that we can easily add the mpp support with expect and actual afterwards. Also ideally the final arrow-fx artifact includes also all the IO instances

[2019-04-11 20:11] JorgeCastilloPrz commented on #1400
I can see the need for that but can't find it strongly related or required to complete this task. I'd personally suggest creating an issue and addressing it separately.

[2019-04-11 20:26] 1Jajen1 opened #1402 "Organize dependencies for modules"
Currently all project dependencies are a bit of a mess, they either depend on too many other modules from arrow (more than needed) or transiently depend on modules rather than explicitly. That has two downsides: It somewhat destroys arrows modularity if a modules is overloaded with dependencies that are then "leaked" to the one using it by using `compile` over `implementation` and second it makes

[2019-04-11 21:55] pakoito commented on #1394
Simon changed to event loops in Fx/EnvIO, but that's implementation-specific. We'll need to revisit it properly.

[2019-04-11 21:56] pakoito commented on #284
Yeah, that's pretty much it

[2019-04-12 06:03] JorgeCastilloPrz commented on #1401
Wait a minute. I've been using some instances from arrow-io-extensions already in 0.9.0 :thinking:. Are they split atm?

[2019-04-12 06:05] pedrovgs commented on #284
Ok, let's see if I can send a PR today with the implementation 😃

[2019-04-12 06:09] 1Jajen1 commented on #1401
IO's instances are all in arrow-effects-extensions. That is the reason I created #1402 : `arrow-effects-io-extensions` has a dependency with `compile` on `arrow-effects-extensions`, so you are likely transiently depending on it. `arrow-effects-io-extensions` only has the `Dispatchers<ForIO>`, `Environment<ForIO>` and `Fx<ForIO>` instances. The rest are in `arrow-effects-extensions` afaik

[2019-04-12 07:26] JorgeCastilloPrz commented on #1401
Makes sense. Didn't notice that, thanks for the clarification!

[2019-04-12 08:48] pakoito commented on #1401
Those are separate because the dispatcher is JVM-only and we're eyeing multiplatform already.

[2019-04-12 09:04] truizlop commented on #284
In case it helps, this is the implementation of Selective that we included in Bow: https://github.com/bow-swift/bow/pull/183

[2019-04-12 09:05] pedrovgs commented on #284
Thanks @truizlop 😃

[2019-04-12 09:17] JorgeCastilloPrz commented on #284
I think we'd also need to double check the data types that were supporting `Applicative` until now (aka: provided an instance for `Applicative`) 🤔. I'd say `Apply` was split from `Applicative` in Cats for a given reason, probably because they make sense as separate contracts since there could be data types that satisfy the constraints of `Apply` but not the ones from `Applicative`. @raulraja shoul

[2019-04-12 10:25] pedrovgs commented on #284
I've been reviewing laws and the implementation for a while and the most important code changes will be related to the laws right now. The applicative instances shouldn't change at all for now because ``Applicative`` will extend ``Apply`` with the same signature. The good part of having ``Apply`` is you can decide when to provide an instance or not for this class. My idea is to provide the impleme

[2019-04-12 10:33] raulraja commented on #284
I believe all instances of `Apply` will need to be added since the `@extension` processor will only export syntax for declared members in the type class interface. This means that a bunch of members currently exported from `Applicative` will disappear as you move them to apply. For example:

[code]
will no longer be available in that location but instead in:
[code]

[2019-04-12 10:36] 1Jajen1 commented on #284
Also there are a bunch of methods in `Applicative` that only need a `Apply`, like `tupled` and `product` ...
They should probably be moved as well.

[2019-04-14 11:59] JorgeCastilloPrz opened #1406 "["Request"] Proguard docs"
Code obfuscation and shrinking is intensely used in Android through ProGuard, and libraries use to include the proper ProGuard rules in their docs to make it easier for end users. We need someone to take a careful look at it and generate initial docs about it in the Quick Start section. Probably rules per module could work good.

[2019-04-15 16:35] ragunathjawahar opened #1408 "Generated code for Show Typeclass does not escape Kotlin keywords."
**Source**
[code]

**Generated Code**
[code]

[2019-04-15 18:15] MaureenElsberry opened #1409 "[Add Media] Arrow Playground Blog post"
**Type of Content:**

Blog Post / Announcement

**Link:**
https://www.47deg.com/blog/arrow-playground/

**Brief Description of Content:**

Arrow Playground is a JavaScript library that creates Kotlin-aware, including Arrow, editors capable of running code from HTML block elements. This is a fork of the original Kotlin Playground work done by the JetBrains team.

**Author/Presenter Name:**

@calvel

[2019-04-16 00:52] ragunathjawahar commented on #1408
@raulraja if I were to send a PR for this issue, is it okay to add a new dependency for testing? I see the project already has Google's Compile Testing. However, there is a new library for Kotlin as well.

https://github.com/permissions-dispatcher/kompile-testing

[2019-04-16 10:11] juliankotrba opened #1410 "Add functions alt, some and many to Alternative type class"
**Useful links**
* http://hackage.haskell.org/package/base-4.12.0.0/docs/Control-Applicative.html#g:2
* https://blog.jle.im/entry/free-alternative-regexp.html

[2019-04-16 10:12] juliankotrba commented on #1410
I will try to create a PR in the next few days.

[2019-04-16 15:17] jereksel opened #1411 "HTML code at the bottom of "Selective" docs"
https://arrow-kt.io/docs/arrow/typeclasses/selective/

[2019-04-16 15:21] jereksel opened #1412 ""Inject" docs lead to 404 page"
https://arrow-kt.io/docs/

Select "Type classes" -> "Inject"

[2019-04-17 12:05] diesalbla commented on #392
@nomisRev I am not sure if this issue is still open. If it is, and you are still working on it, then the best talk about lenses I have found so far is this talk by SPJ.

https://skillsmatter.com/skillscasts/4556-simon-peyton-jones

It may be worth having a working example of what a coding task looks like on Kotlin, with and without lenses.

[2019-04-17 12:16] nomisRev commented on #392
@diesalbla thanks for the reference and reminding me off this ticket!
I am not actively working on this so I removed myself as the assigned person.

@raulraja these tickets are still all valid, right? But higher priority would be to move current tutorial like docs to API docs?

[2019-04-17 18:48] raulraja commented on #392
yes, this need to be implemented as kdocs under the new style of documentation inside the actual types and package files .

[2019-04-17 18:54] ShelbyCohen commented on #638
I'll take these!

[2019-04-17 19:14] nomisRev commented on #392
@raulraja also the pattern docs? This tickets is about adding a doc similar to [error handling](https://arrow-kt.io/docs/patterns/error_handling/)

[2019-04-17 23:08] raulraja commented on #392
The patterns docs or generic docs related to optics can be written as markdown files at the package level following dokka's conventions. Those package pages are published at the root of the api docs. So yes any tutorial style doc can also be written in the kdocs or markdown as expected by dokka so it's processed in the same way as the rest of the classes.

[2019-04-18 09:44] pakoito opened #1414 "parTraverse isn't always executing in parallel"
In this line https://github.com/arrow-kt/arrow/blob/ce539f2c807683eb937190dfcdb76ddd2db75cad/modules/effects/arrow-effects-data/src/main/kotlin/arrow/effects/typeclasses/suspended/FxSyntax.kt#L35 the `fa.map(f)` happens eagerly if the Kind isn't suspended.

[2019-04-18 15:12] raulraja opened #1415 "Algolia is not indexing API Docs"
The current API docs are not searchable despite being deployed in the site. Algolia seems to not be indexing those and users are unable to find info about the api reference in our site.

[2019-04-18 15:14] raulraja commented on #1415
Originally reported in https://kotlinlang.slack.com/archives/C5UPMM0A0/p1555599684115900 //cc @lucmazon

[2019-04-18 15:51] JLLeitschuh commented on #1310
I'm sorry, but I need to take this back. This probably does need a CVE assigned to it. I'm happy to file if you need me to.

Since the Kotlin compiler is downloaded insecurely, it could have been used to maliciously compromise the released build artifacts.

Given that repositories are resolved in the order they are listed, the insecure repository had the chance to be used to resolve various artifa

[2019-04-18 16:11] pakoito commented on #1310
Go for it

[2019-04-18 16:48] JLLeitschuh commented on #1310
@pakoito Just a heads up, you don't have version 0.9.0 published to Maven central yet.

https://search.maven.org/artifact/io.arrow-kt/arrow-core/0.8.2/jar

[2019-04-18 16:50] raulraja commented on #1310
https://search.maven.org/search?q=a:arrow-core-data

[2019-04-18 16:52] JLLeitschuh commented on #1310
@raulraja Was there a rename?

Also, you have another project vulnerable:

https://github.com/arrow-kt/arrow-collections/blob/1a04b24e8cde729c7fe1a74aba3c8bbe35b8174e/build.gradle#L39

[2019-04-18 17:53] JLLeitschuh commented on #1310
I've filed for the CVE numbers. Will update this issue when I have them.

[2019-04-18 23:00] raulraja commented on #1310
There was a rename of artifacts before 0.9.0 but the group-id is the same. `arrow-core` is now `arrow-core-data` for example.

[2019-04-19 15:23] raulraja opened #1416 "Playgrounds are broken"
https://arrow-kt.io/docs/effects/fx/

Seems like several version related issues in the server or not sure what's going on. Is the server automatically updating with each master build?

We need a solid automated process especially now that advertised playgrounds and people may use them in their presentations and blog posts. Gotta get all these issues fixed ASAP.

[2019-04-20 15:44] soberich commented on #1283
@JorgeCastilloPrz For u to know. One is the reasons my team rejects/struggles with adoption of arrow is that IDE support is so-so. Arrow is super hard for IDE. IntelliJ doesn't even show you the option to get hierarchy of classes within arrow. Wrong import messes everything up. Completely! All in red, yellow, etc. You can't see the root cause because of the noise.

Please, consider `idea.ext` plug

[2019-04-20 15:49] pakoito commented on #1283
I'm confused as Arrow only uses vanilla features, it should be like any other library. Are you sure you're importing the sources too? Are you using any of the code generation?

[2019-04-20 16:03] soberich commented on #1283
@pakoito I'll work on some demo (at least screenshot), but normally what you have is:
1. By default you don't import sources whether gradle or maven, but so, I don't know how would that be if to make all sources be downloaded by default.
2. Having point 1. in mind, right clicking on any class there is an option to see the inheritance diagram... but not for arrow-kt classes! That's what we experien

[2019-04-20 16:08] soberich commented on #1283
Yes, but to emphasise - I'm saying that IF you've made wrong import (e.g. with same but from different artifact / package, say `fx` from `deferred` instead `concurrent`. But I understand it is on our side. Wrong import is Wrong import...

[2019-04-20 19:29] raulraja commented on #1283
If KEEP-87 is approved this will be a non-issue since you can achieve the syntax by resolution without imports just based on the types you are using.

[2019-04-20 20:58] pakoito commented on #1283
Is this for interfaces (Functor) or for data classes (Option, Either)?

[2019-04-21 21:36] neshkeev opened #1417 "Unable to generate objects for both @higherkind and @extension"
I define two objects:

1. `data class ParserK` annotated with `@higherkind`
2. `interface ParserKFunctor` annotated with `@extension`

Here is the code:

    @higherkind
    data class ParserK<A>(val f: (String) -> Option<A>): ParserKOf<A> {
        companion object
    }

    @extension
    interface ParserKFunctor : Functor<ForParserK> {
        override fun <A, B> Kind<ForParserK, A>.map(f: (A)

[2019-04-21 22:22] pakoito commented on #1417
Betcha it's an ordering problem where the extension annotation is processed after the higherkind annotation. Try putting the extension on a separate file.

[2019-04-21 22:48] neshkeev commented on #1417
@pakoito Thank you for your response, but moving the extension on a separate file (and package) did not help. I updated the repository, please review.

[2019-04-21 23:53] pakoito commented on #1417
I've tinkered with it a bit. I cannot find the cause without debugging the processor, which requires more setup. Deferring to @raulraja that knows better how it works.

[2019-04-22 09:46] #284 closed

[2019-04-22 11:00] calvellido commented on #1416
Should those snippets work with Arrow 0.9.0?

They work with the snapshot version, as it can be seen at https://next.arrow-kt.io/docs/effects/fx/

[2019-04-22 11:41] soberich commented on #1283
As we started to investigate it turned out that clearly an IntelliJ IDEA treats Arrow in a weird way that you can't quickly get to a class diagram from common right click option.
So if you first go to `Type hierarchy` (`^H`) and that in that window you right click on type and than click to get a class disgram - you get it for whether `data class` or `interface`:
![image](https://user-images.github

[2019-04-22 11:49] calvellido commented on #1415
An Algolia maintainer explicitly removed the API docs results from the crawling a couple of months ago:

https://github.com/algolia/docsearch-configs/commit/e38b0dbb5f9993ed12e29d680f3329a4447e9b69

I'm assuming the reason should be that the API docs are too heavy to be crawled for free by them?  I'm not sure, I'll try to ask them.

[2019-04-22 12:37] pakoito commented on #1283
There's a chance it's trying to get the hierarchy of IO's companion object, which doesn't have any.

[2019-04-22 14:13] raulraja commented on #1415
In that case we should consider a different option, we spent months on the docs and users are unable to find them with Algolia.

[2019-04-22 15:07] JLLeitschuh commented on #1310
The CVE number for the vulnerability has been assigned.

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11404

[2019-04-23 14:16] osquitoOfTheNorth commented on #1312
Are you still looking for help on this? Fairly new to open source and looking to contribute for the first time.

[2019-04-23 15:21] billwanjohi commented on #1312
@osquitoOfTheNorth I started to solve this, but got distracted before I could write any tests. If you wanted to extend the PR I just opened, or take it in another direction, I'm sure people would appreciate it. As it is, the class is a bit dangerous to use.

[2019-04-23 15:53] pablisco commented on #1312
I also started looking into this and got distracted 😅
Also, wasn't sure how to balance having something efficient vs more pure FP 🤔

[2019-04-23 20:15] #1312 closed

[2019-04-24 08:26] calvellido commented on #1415
It's been tackled in here: https://github.com/algolia/docsearch-configs/issues/824

@raulraja could you have a look at the current behaviour to see if that's desirable?

[2019-04-24 10:03] i-walker commented on #1412
This is a known Issue. There are more Dead links like that.
If you want you can make an PR for a markdown file and dokka will generate a html file. Eventually this link will lead to the generated html file.

Here is the file
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-typeclasses/src/main/kotlin/arrow/typeclasses/Inject.kt

But you should rather consider the response from @rau

[2019-04-24 10:27] raulraja commented on #1412
`Inject` needs to be documented at the KDOC level in the same way `Functor` is documented today. https://arrow-kt.io/docs/apidocs/arrow-typeclasses/arrow.typeclasses/-functor/index.html
When Inject has a good description and code examples  the dokka and ank build steps will generate this page https://arrow-kt.io/docs/apidocs/arrow-typeclasses/arrow.typeclasses/-inject/index.html .
A fix in the mea

[2019-04-25 09:37] Petikoch opened #1420 "Can't find arrow-core 0.9.0 on maven-central"
Hi,

according https://github.com/arrow-kt/arrow/releases Version `0.9.0` was released in march 2019.

I'm looking for `arrow-core` (because I'm only interested in the `Either` type at the moment) but can't find `0.9.0` on https://search.maven.org/search?q=g:io.arrow-kt%20AND%20a:arrow-core&core=gav
There is `0.8.2` as latest version, but no  `0.9.0` version.

Accoring to `Basic Setup` on https://

[2019-04-25 10:35] pakoito commented on #1420
In release 0.9.0 we started moving the package names for consistency. The plan was to have a `-data` package with datatypes, and `-extensions` package with typeclass instances, and then a top level package with both. By 0.9.0 release we didn't have the last one, so what you want is to pull the `-extensions` one, as described here: https://github.com/arrow-kt/arrow/blob/0.9.0/README.md#next-develop

[2019-04-25 10:36] raulraja commented on #1420
Hi, that is now in arrow-core-data https://arrow-kt.io/docs/#dependency-breakdown-starting-in-arrow-091

[2019-04-25 10:36] #1420 closed

[2019-04-25 10:36] raulraja commented on #1420
Arrow core will be back in 0.9.1 but it will bundle data and extensions, it's the full pack for core but you can still get them a la carte

[2019-04-25 11:24] pakoito opened #1422 "Release 0.9.1"
- [ ] Add top-level packages that include -data and -extension
- [x] Rename `fx` interfaces to something consistent #1435
- [x] `Fx` extensions for Rx #1427
- [ ] `Fx` extensions for Reactor #1281
- [x] Deprecate `delay` in MonadDefer and replace with `effect`
- [x] Remove deprecations #1424
- [x] Deprecate PartialFunction (#1419) (#1423)
- [x] Fix ParTraverse #1414
- [ ] Update maven badges
- [X]

[2019-04-25 11:45] Petikoch commented on #1420
PS: The current docs (https://arrow-kt.io/docs/) still point to `0.8.2` as "current release".

![Unbenannt](https://user-images.githubusercontent.com/9936866/56733399-4eea2580-6760-11e9-80d2-e110b483af3c.PNG)

[2019-04-25 11:58] pakoito commented on #1420
Yeah, we have started "fixing" the version of the docs so that one is currently stable. Starting 0.9.1 we'll have them properly versioned with a dropdown and all.

[2019-04-25 12:53] pakoito commented on #1414
I've checked, it turns out NonBlocking uses the same thread for small payloads and it may look sequential

[code]

[2019-04-25 12:56] #1414 closed

[2019-04-26 13:24] LordRaydenMK commented on #1390
Do we have a repo? I already started and I can push some code. 😊

[2019-04-26 15:18] pakoito opened #1428 "Make Foldable#iterateRight more Kotlin-y"
This function looks lifted from a Haskell codebase, with currying and all. Let's make it more like a Kotlin function, maybe an extension function on `Iterable`.

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-typeclasses/src/main/kotlin/arrow/typeclasses/Foldable.kt#L202-L208

The function also shouldn't live in Foldable, but be Eval.kt

[2019-04-26 15:20] pakoito commented on #1390
I'll do it tonight!

[2019-04-26 16:34] danp11 commented on #1390
Nice! :-) A while ago I found this post on Arrow twitter: https://github.com/pedrovgs/KotlinKatas/pull/4
and I thought that beautiful code nicely could replace part of this section: https://github.com/debasishg/frdomain-extras/blob/master/cats-io/src/main/scala/frdomain/ch6/domain/model/Account.scala

Im very new to FP but could give validation code a try that you later can correct or make better.

[2019-04-26 17:51] LordRaydenMK commented on #1390
I already have that one written... Gotta star with the model...

But I can leave out some stubs for you to implement 😉

[2019-04-26 18:05] danp11 commented on #1390
Ok, If thats the case Id be more than happy just learn from your/others
implementation hehe:-) Ive seen your repo of "Hangman" and its very nice.
Excuse my lack of knowledge in Arrow/Kotlin but I red about the FX module
that came in 0.90 was it? and it would be very intresting to see that code
aswell as your Part 3 of that repo:-)  Is there anything you have thought
of?

Thank you and have a nice

[2019-04-26 18:37] pakoito commented on #1390
The repo is here!

https://github.com/arrow-kt/frdomain.kt

[2019-04-27 14:30] plastic-karma commented on #1428
I can take a look at that. @pakoito, do you have any other "make it more like a Kotlin function" things in mind except making it an extension function?

[2019-04-27 14:33] nomisRev commented on #1428
I'd start with something like `fun <A, B> Iterator<A>.iterateRight(lb: Eval<B>, f: (Eval<B>, Eval<B>) -> Eval<B>): Eval<B>` this, this makes it similar to the signature of `foldRight`.

[2019-04-27 17:11] pakoito commented on #1428
@plastic-karma like @nomisRev said, it's just pulling the function into another file, and changing the signature. It's a good starter ticket to setup the project :)

[2019-04-27 18:36] plastic-karma commented on #1428
Sounds good, I’ll make the change.

[2019-04-27 20:56] plastic-karma commented on #1428
@pakoito, is it okay though to move the function from ``arrow-typeclasses`` to ``arrow-core-data``?

[2019-04-27 22:27] pakoito commented on #1428
Yep!

[2019-04-28 04:25] Octogonapus commented on #1021
Surely this should be closed?

[2019-04-28 10:19] pakoito commented on #1021
Yes!

[2019-04-28 10:19] #1021 closed

[2019-05-01 00:28] pakoito opened #1429 "Improve fairness of IO"
After a chat with @SystemFw from typelevel/cats-effect, I believe we could improve the design of IO to increase fairness a bit (release the current thread after N flatMap for other operations to happen), and increase some of the stack safety.

The design is as follows:

* Add a parameter in IO#unsafeRunSync/Async/Timed for number of flatMap before a jump with a default value
* Same value for defau

[2019-05-01 21:02] pakoito opened #1431 "Make @extension codegen put constructors in the datatype's companion"
In today's @extension implementation, constructor functions are exposed as top-level functions. This causes the IDE to show all instances when asking for a hint of which one to get, and you're forced to desambiguate on imports. Because many things are an applicative, this list is long and not UX-happy.

Instead, we should make constructor functions as extensions on the datatype's companion.

[code

[2019-05-01 21:38] nomisRev commented on #1417
@neshkeev sorry for the late response. This is indeed related to the ordering of the processors.

If we try to generate both the higher kind and then the extensions on top of the kind in the same module APT goes nuts

For this reason all data types and instances had to be seperated in different modules. Could you try moving the extensions in a seperated module? That should fix this problem.

[2019-05-03 19:54] JLLeitschuh commented on #1310
As the CVE is now filed, I'm going to consider this issue closed, pleasure working with all of you.

[2019-05-03 19:54] #1310 closed

[2019-05-03 20:17] pakoito commented on #1310
Thank you for doing due diligence on this topic.

[2019-05-05 19:04] raulraja commented on #1428
Fixed in #1434

[2019-05-05 19:04] #1428 closed

[2019-05-06 19:09] danp11 commented on #1390
Hi again and I just wanted to say Thanks for the code and the time you've spent on this.

Its a very good source when one is new to a language/code style.

Regards
Dan

[2019-05-07 08:05] pakoito commented on #1283
@soberich someone just pointed out that IJ doesn't support well showing class diagrams in Kotlin altogether: https://www.reddit.com/r/Kotlin/comments/bldit0/kotlin_census_2018/emppjxj/

[2019-05-08 02:37] devesh-shetty commented on #460
Seems like this is still available, I'm taking this over 😉
![](https://media.giphy.com/media/aqMY57vLdkghi/giphy.gif)

[2019-05-09 11:48] nomisRev commented on #1431
What should we do for functions like

[code]

Today:
[code]

After fix:
[code]

I'd also like to see the instances cached in this PR.

Today:
[code]

After fix:
[code]

[2019-05-09 11:49] nomisRev commented on #1417
@neshkeev any luck with the proposed solution?

[2019-05-09 13:12] nomisRev commented on #1394
I had a small discussion with @JorgeCastilloPrz on Slack the other day. We'd propose this API, and thus remove `CoroutineContext.effect { }` and keep a smaller API surface to do actual threading. Beside the below described combinators the only other onces that do threading can be in `Concurrent` and are `fork`, `racePair`, `raceTriple`, `parMapN`, `raceN`. (Also should racing and parMap return to

[2019-05-09 13:15] nomisRev commented on #1394
@pakoito

RxJava doesn't do any event looping and thus also never returns to an original thread so brining `evalOn` in the typeclass hierarchy might proof to be a fun one..

[2019-05-09 13:16] nomisRev commented on #1359
@smackaj did the proposed solution for work for you?

[2019-05-09 13:18] nomisRev commented on #1137
I haven't seen or hear of this in a long time so I am closing this issue.

[2019-05-09 13:21] nomisRev commented on #1277
I discussed this with @pakoito and we should introduce these operators in `Async` and `Concurrent`. Without -and with cancellation respectively.

[2019-05-09 13:22] JorgeCastilloPrz commented on #1394
Looks good to me. I'm always up for simpler API surfaces instead of having N solutions for "the same thing". `evalOn` would help specially on platforms like Android where we're used to run something in bg then always come back to main thread.

[2019-05-09 13:22] nomisRev commented on #921
Fixed in #1397

[2019-05-09 13:22] #921 closed

[2019-05-09 13:25] nomisRev commented on #181
Moved from Detekt to Ktlint.

[2019-05-09 13:25] #181 closed

[2019-05-09 13:29] pakoito commented on #1394
You'll need to make `evalOn` suspend if you want to retrieve the current context, or implement it only for `fx` and capture it from the Continuation.

The `race` and `parallel` returning to "current context" have the same problem, you'll need to grow the API with several context injections that default to trampoline for normal use cases, when what you actually want is to `continueOn` the result of

[2019-05-09 13:33] nomisRev commented on #1394
Implementing `evalOn` is tricky and for this reason also parked until after we merge the PR at least.
See Paco's comment above.

@JorgeCastilloPrz it doesn't really make a lot of sense to me since a lot of people will still just work with `Kind` directly. Like when working with the concurrency primitives, or other tagless constructs/programs.

Also I am not sure I understand what you mean with

[2019-05-09 13:50] JorgeCastilloPrz commented on #1394
👍 fair point

Nono I didn't wanna to go that deep, it was simpler than that tbh. It was more in the line of having a way to ensure people can't make thread jumps work in fx in any way for suspended functions that are not wrapped in `effect { }`, but that's kind of implicit with the current encoding, given `effect { }` lifts it to Kind and that's the receiver of `evalOn`. The only limitation there

[2019-05-14 20:20] LordRaydenMK commented on #1390
I'm glad you find it useful, but it's still not done. The Reactive Domain Modeling has the same code in 3 styles. The Arrow port at the moment only has IO (equivalent to cats-io). There are 2 styles left or maybe 3 after arrow 0.9.1 is out.

My plan is to start work on tagless final next. Any other contributors are welcomed.

[2019-05-14 21:51] nomisRev opened #1437 "["Request"] Incremental Ank based on file changed"
We should be able to make `Ank` incremental using following Gradle [IncrementalTaskInputs](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.incremental.IncrementalTaskInputs.html).

[2019-05-15 13:20] nomisRev opened #1438 "[Arrow effects] Queue"
Currently there is no Queue yet in Arrow-effects. It'd be great to have one.

Two interesting Scala implementations: [FS2](https://github.com/functional-streams-for-scala/fs2/blob/series/1.0/core/shared/src/main/scala/fs2/concurrent/Queue.scala), [ZIO](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/Queue.scala)

[2019-05-17 15:03] mkobit commented on #1400
Ok just for my confusion going from `0.8.2` to `0.9.0` -  `arrow-core` for `0.9.0` doesn't actually exist, right? I was looking at https://arrow-kt.io/docs/quickstart/libraries/ and trying to bump some versions and was confused, but it looks like it is going to be reintroduced as part of this ticket.

[2019-05-17 17:04] pakoito commented on #1400
arrow-core-data for now, yes -.-

[2019-05-17 17:41] mkobit opened #1445 "["Request"] Either constructor expectation"
### What version are you currently using?

* `0.9.0`

### What would you like to see?

As somebody still new to Arrow and a lot of the functional paradigms provided with it, navigating the library itself can be daunting and tough to figure out at times.

The documentation is solid, but when trying to play around and learn some of the components, it can become pretty difficult to figure out what to

[2019-05-17 17:55] raulraja commented on #1445
@mkobit thanks for reporting the issue with such detail.
All data types in Arrow by convention follow the following conventions:
- ADT nodes such as `Left` and `Right` are public because they get used in `when` statements by users which would rather use `when` vs `fold`.
- All constructors have syntactic variations as extensions functions for all `A` that can lift an `A` value into the datatype.
-

[2019-05-19 12:22] JorgeCastilloPrz commented on #1400
I think @i-walker is taking this one. Am I right? How are you doing with that?

[2019-05-19 23:08] i-walker commented on #1400
Yes, all WIP.

[2019-05-20 16:22] mkobit commented on #1445
Thanks @raulraja for quick response, and sorry if the original issue came off as heated.
I was frustrated with after a couple hours not having anything meaningful complete, and was writing my experience in the hopes that it could either be used as some constructive review going forward or help me form a better understanding.
I'd like to start using some of the datatypes and aspects of this library

[2019-05-20 17:23] raulraja commented on #1445
@mkobit I'm in favor of reducing api surface and using in the data types the same names as in the type classes. That also reduces the barrier to polymorphism. I think we will all be happy hearing about a proposal that is sound over all concrete data types. Feel free to open another issue or submit directly a PR but if you are interested in pursuing this I'll be happy to help wherever I can.

[2019-05-20 19:38] #1445 closed

[2019-05-23 11:46] aballano opened #1452 "New module: arrow-android"
Let's collect some ideas and features.

@arrow-kt/maintainers Feel free to comment or edit this post to add/edit/fix anything you consider :+1:

- [ ] Provide Android's main coroutine context
- [ ] Create explicit `evalOnMain` extension function based on future's `evalOn` (see #1394)
- [ ] Check how Proguard affects Arrow and provide any necessary proguard rules through gradle's `consumerProguardF

[2019-05-24 14:25] danwallach opened #1454 "["Request"] make Option and Try be Iterable"
_What version are you currently using?_ 0.9.0

_What would you like to see?_ Arrow's `Option` and `Try` classes implement `Iterable`

Consider the case where you're using Kotlin's `flatMap` over its lists:
`public inline fun <T, R> Iterable<T>.flatMap(transform: (T) -> Iterable<R>): List<R>`

The `transform` lambda can return any `Iterable`. It would be handy to be able to return an `Option` or `T

[2019-05-24 14:55] mkobit opened #1455 "["Request"] Consider trimming down public APIs to create data types"
## What version are you currently using?

* `0.9.0`

## What would you like to see?

I would like to see a reduction in the amount of public APIs to construct a data type from  a value. There might be some other places in `arrow-kt` where I think this pattern could also apply, but this issue is specifically for reducing the APIs to put a value into one of the datatypes at https://arrow-kt.io/docs/

[2019-05-24 15:02] pakoito commented on #1455
I'm for reducing the surface of constructors if we end up in a consistent state. For example, Try has an invoke constructor, all of them have a just constructor with a different name, and some have a raiseError one. We're so familiar with the library it's better if someone who's primarily a user tell us which ones could be trimmed.

[2019-05-24 15:29] mkobit commented on #1455
Sounds good @pakoito - maybe a good approach here is to have a separate MR per type ?

[2019-05-24 19:04] pakoito commented on #1455
I'm okay with keeping the discussion here.

[2019-05-24 19:08] pakoito commented on #1454
I would accept a PR that creates Iterable instances for Try and Option as a typeclass, but I wouldn't make them implement Iterable themselves.

[2019-05-24 19:43] mkobit commented on #1137
I have been seeing this on `master` a couple times. Both failed tests:

[code]

Gradle build scan: https://scans.gradle.com/s/q3le7c7gsqfw4

[2019-05-24 20:03] nomisRev commented on #1137
@mbokit thanks for the follow up and the commit hash. I'll look into this asap.

[2019-05-24 20:07] danwallach commented on #1454
So you'd like something that works like this?
[code]

But you're not interested in having them directly implement `Iterable`? That only requires having exactly one method, although it cannot be in an extension method. It has to be an instance method:

[code]

[2019-05-24 22:09] raulraja commented on #1454
I'm with Paco on this one. Making those datatypes Iterable enables apis such as for loops that we do not wish these data types to take part in. Users can still make Iterable wrappers if they wish to bypass the fact that we do not extend from iterable. The equivalent of Iterable is Foldable which both Option and Try already provide extensions for. I would instead try to come up with a 'toIterable'

[2019-05-24 22:20] raulraja commented on #1454
If you decide to pursue this you can require the monoid instance to obtain the empty value and add a version without the empty value in TraverseFilter as well

[2019-05-27 12:17] i-walker commented on #1400
We will move the data types first and then later on the packages:
https://github.com/arrow-kt/arrow/pull/1458#issuecomment-496022046

[2019-05-27 13:33] nomisRev commented on #1400
@JorgeCastilloPrz I edited your message a bit. The extensions should be defined in the top module, and the seperation should be between data and typeclasses.

Import the most "top-level" module (arrow-core) brings in data types (arrow-core-data) & typeclasses (arrow-core-typeclesses) + it defines the relationship between them (currently the extensions modules).

[2019-05-27 13:35] JorgeCastilloPrz commented on #1400
Thanks. I think the description was not updated after our meeting where we discussed this.

[2019-05-27 13:39] nomisRev commented on #1400
When you depend on extensions you are already implicitly depend on the typeclasses & the data types. So we'd just create more overhead for ourselves by creating a fourth module, which would be an alias for the top-most one.

[2019-05-28 14:59] nomisRev commented on #866
@pakoito @raulraja let's re-open if we want to discuss this again.

[2019-05-28 15:09] nomisRev opened #1468 "[Arrow-optics] IndexedTraversal"
Implement `IndexedTraversal` in Arrow-optics.

It allows for working with traversable structures based on `indexes`, i.e. traverse a matrix diagonally (or any custom pattern).

References:
https://github.com/hablapps/Monocle/blob/indexed/core/shared/src/main/scala/monocle/ITraversal.scala
http://hackage.haskell.org/package/lens-4.17.1/docs/Control-Lens-Traversal.html#t:IndexedTraversal

[2019-05-29 11:34] philsquared commented on #186
How's this going? There's been no activity in this ticket for nearly a year - but has it been going on elsewhere?

[2019-05-29 11:39] nomisRev commented on #186
Hi @philsquared,

We're working on a work around for the code generated by kapt. There is a channel on Slack where we discuss this #arrow-meta. We hope to reach 1.0 before the end of the year and we'd love to be a MPP by then but we're currently blocked a little since there is no meta programming facilities for MPP in Kotlin yet.

Most code is (almost) ready since we've kept this in the back of ou

[2019-05-29 11:41] philsquared commented on #186
Thanks for the rapid update, @nomisRev - good to hear!

[2019-05-31 08:43] alexd6631 commented on #1414
Hello @pakoito,

I have made some tests with Arrow-Fx and tried to run some workload in parallel with parSequence/parTraverse but, in my case, it does not seem to run in parallel.
The sample workload is implemented using coroutine delay, as I think it is representative of an non-blocking HTTP call. Same behavior is observed by switching to regular blocking Thread.sleep() calls.

In the code below,

[2019-05-31 22:09] proteus-aholt opened #1469 "Unable to simply get the value of an Option"
What version are you currently using?
0.7.3
What would you like to see?
When dealing with an Option (or other data types for that matter, such as Try or Either) there doesn't appear to be a straightforward way to get the underlying value.

[2019-05-31 22:40] FoRRestDp opened #1470 "["Request"] Add pattern matching"
There is no pattern matching in Kotlin yet, and language developers are not going to ship this feature soon. But it still very useful one, especially in functional programming. Is it possible to implement pattern matching with no compiler support?

[2019-06-01 03:29] pakoito commented on #1469
Is `getOrElse` or `getOrDefault` an option?

[2019-06-01 03:30] pakoito commented on #1470
We have Optics for this, it's as close as you'll get today.

[2019-06-01 10:23] raulraja commented on #1469
@proteus-aholt you can only get the value wrapped in `Option` if you deal with the absence. Here is a few ways to extract the value out of an Option.
[code]
Arrow does not favor unsafe APIs. Users are responsible to provide an alternative value in case of absence. Option does not model the same semantics as in Scala or Java where you have `Option.get` and if the value is absent it blows up with an

[2019-06-01 17:14] diesalbla commented on #1454
y humble and somehow external view is that this would not be part of Arrow. The goal of Arrow, AFAIU, is to make it easy to use the results of functional programming in Kotlin.

- An Iterator is an object-oriented pattern, which allows you to iterate through the elements of a data structure without exposing the structure of the data structure. This can be elements of a same type in a collection, b

[2019-06-01 22:07] raulraja commented on #1454
@diesalbla reading back my comment, you are right. I agree that toiterable should not be in Arrow. It is though a common interface that java/Kotlin users have to deal with and people frequently ask about it for Option but coming from Scala we know is not a good idea. Thanks for the reminder

[2019-06-01 22:59] FoRRestDp commented on #1470
Thank you for the answer!
Could you please provide an example of how to use Optics this way?

[2019-06-02 02:15] pakoito commented on #1470
Yep, the Docs would be a good starting point: https://arrow-kt.io/docs/optics/dsl/

[2019-06-02 09:25] pakoito opened #1471 "Implement Bitraverse"
Implement the Bitraverse interface in the arrow-core-typeclasses package as follows:

[code]

See [Bitraverse.scala](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Bitraverse.scala) for reference, and [this tweet](https://twitter.com/impurepics/status/1002995295758749699/photo/1) to see a visual use case.

The only law is Identity:

[code]

Steps:
- [ ] Define Interface
- [

[2019-06-04 09:15] nomisRev commented on #472
This might be easy with [Fluid compiler](https://github.com/fluidsonic/fluid-compiler), it also has support for running kapt from code.

[2019-06-04 11:36] pakoito opened #1473 "Add convertor from rx.Scheduler to CoroutineContext"
We have a way of converting a CoroutineContext to a Scheduler, and not the other way around, so we're depending on kx.coroutines to provide the implementation. It shouldn't be necessary, and we could just pick it up raw easily from it if we defined a key that's only used by Rx abstractions.

https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-rx2-data/src/main/kotlin/arrow/

[2019-06-05 15:58] StefanSchrass opened #1475 "["Request"] convenient Option.mapNotNull"
What version are you currently using?
0.9.0

What would you like to see?
I hope I am not missing out on something, but I would like to have a convenient `Option.mapNotNull`.

What I find myself doing often is
[code]
And what I would love having is something similar to
[code]
So it kind of prevents `Some(null)` from happening and smartcasts from `T?` to `T`.

[2019-06-05 19:25] raulraja commented on #1475
@StefanSchrass I feel your pain but I think the best solution is the other way around. We need to add `map`, `flatMap` and essentially any available combinator in Option as extension functions for nullable types for folks that would rather use the classic FP combinators over direct syntax:
[code]
These are just stylistic because as you can observe their implementation body is simpler than the actu

[2019-06-05 19:49] nomisRev commented on #1475
@raulraja I think the API @StefanSchrass is looking for is `fun <A, B> Option<A>.flatMap(f: (A) -> B?): Option<B> = flatMap { a -> Option.fromNullable(f(a)) }`, not an `API` for nullable types.

[2019-06-05 19:52] raulraja commented on #1475
@nomisRev yes but I don't think we should add those to Option so I'm proposing an alternative so that he does not have to put those in Option in the first place if the only thing he is doing is to call `map` on them. That is why I asked for a more elaborate example since the `foo` `bar` does not make sense if all this code is doing is call `map` or `flatMap`.

[2019-06-06 07:26] StefanSchrass commented on #1475
@raulraja yes indeed my motivation is a stylisitc one and I pretty much had in mind what @nomisRev wrote.

What confuses me a lot is that `Some(null)` is actually possible. I had expected that `map { null }` yields `None`. Surely, in some cases `null` could signal something meaningful, so from this perspective this could be reasonable.
What tried to do was `filter { it != null }` but this does not

[2019-06-06 09:19] raulraja commented on #1475
@StefanSchrass why don't we try it out in a PR adding those methods to Option and we discuss it there?. We can then see if the new methods impact usage in any way. I have unpopular opinions about `Option` which I discussed last night with @nomisRev. Option is largely useless unless you use polymorphism or typeclasses and then it's very useful because it's a data type and `?` is not. Regarding `nul

[2019-06-06 11:24] StefanSchrass commented on #1475
@raulraja agreed. I think I can issue a PR this week, maybe today.
Nothing against unpopular opinions, I personally have a bunch of them.

[2019-06-07 16:23] proteus-aholt commented on #1469
My situation was due to using Arrow on a project that already had APIs built in a non-functional way.  I was _actually_ using a Try, but got it to the point where I ended up having an Option<Throwable>, and I wanted to throw the exception because the code calling mine was written to handle it.  I've been using Arrow pretty extensively for a while now, so I knew about most of the methods suggested:

[2019-06-07 16:23] #1469 closed

[2019-06-07 16:34] nomisRev commented on #1469
Hi @proteus-aholt you can use `fold` here instead, you can provide functions/values for all cases (Failure/Success in this case).

[code]

Which would be the equivalent of using `when`.

[code]

As you can see here, because we "match" on `Try.Success` Kotlin can smart cast. In the case of `isSuccess()` the compiler cannot, we could fix this with [contracts](https://kotlinlang.org/api/latest/jvm/st

[2019-06-07 18:59] proteus-aholt commented on #1469
o.0 using a when (or fold) had completely slipped my mind.

[code]

much cleaner, imo.

[2019-06-10 06:51] maruiz81 commented on #1471
Hi everyone, I am working on this issue, I have some of the points already and I am trying to have my first full implementation ready this week.
Regards

[2019-06-10 08:54] pakoito commented on #1471
Brilliant! I'd suggest sending a PR as early as possible so you can have some feedback just in case :D

[2019-06-10 09:00] maruiz81 commented on #1471
sure, all the feedback I will have is welcome. I will send the PR as soon as I feel a little confident about it.

[2019-06-13 09:47] pakoito opened #1484 "Async#mapEffect"
[code]

* [ ] Add function to Async.kt
* [ ] Add dokka on top of the function (see other functions on the file)
* [ ] Add examples below https://arrow-kt.io/docs/effects/async/#continueon

[2019-06-13 09:57] FireZenk commented on #1484
Let me do this one

[2019-06-13 19:33] earroyoron commented on #311
I was thinking about write about this documentation: https://arrow-kt.io/docs/arrow/data/coproduct/
but is pretty well explained here: https://arrow-kt.io/docs/generic/coproduct/#coproduct
so....??

[2019-06-13 22:59] pakoito commented on #311
@earroyoron yep, we are slowly migrating from manual docs to dokka ones, and the links should be updated and they aren't -.-

[2019-06-15 14:29] maruiz81 commented on #1471
Guys I have implemented this in https://github.com/arrow-kt/arrow/pull/1487. Please review it and let me know of stuff you miss, errors or improvements.

[2019-06-17 10:13] pakoito opened #1489 "Add `mapN` to Apply"

[2019-06-17 10:14] #1489 closed

[2019-06-19 06:00] i-walker opened #1490 "Move ReadMe Docs to KDocs"
*This Issue addresses the incremental move towards KDocs as a Single Source of Truth regarding data types in Λrrow.*

#### Which Doc's need to be moved to Kdocs?
Under `modules/docs/arrow-docs/docs/_data/sidebar.yml` you can view a list of data types and their permalink:
[code]
Data types, which do not have a permalink starting with: `url: /docs/apidocs/...` are in the scope of this task, e.g.: Op

[2019-06-19 06:00] i-walker opened #2098 "Move data type Docs to KDocs"
*This Issue addresses the incremental move towards KDocs as a Single Source of Truth regarding data types in Λrrow.*

#### Which Doc's need to be moved to Kdocs?
Under `modules/docs/arrow-docs/docs/_data/sidebar.yml` you can view a list of data types and their permalink:
[code]
Data types, which do not have a permalink starting with: `url: /docs/apidocs/...` are in the scope of this task, e.g.: Op

[2019-06-20 17:03] maruiz81 commented on #1490
Hi! I can take this task

[2019-06-20 17:05] i-walker commented on #1490
Ok :)
Ping me on the Arrow slack channel or link me in the PR and I'll be glad to assist.

[2019-06-20 17:18] maruiz81 commented on #1490
Thanks, I will do

[2019-06-21 21:58] maruiz81 commented on #1490
Hi, I have a question: Some of the Datatypes contains a youtube video. These don't work when I move to the comment. Is there any way to make them work? I couldn't find any example.

[2019-06-21 23:29] i-walker commented on #1490
share your PR, then I can help you :)

[2019-06-22 16:57] maruiz81 commented on #1490
I have created the PR https://github.com/arrow-kt/arrow/pull/1493 to show you. My problem is in the class `option`. Originally the README.md contained this:
`---
layout: docs
title: Option
permalink: /docs/arrow/core/option/
redirect_from:
  - /docs/datatypes/option/

video: 5SFTbphderE
---`
which among other things I think show the youtube video for the Option functionality. So my question is how

[2019-06-22 21:59] soberich opened #1494 "[Request] A handle to turn off `inline` modifier in generated `optic|product`s."
What version are you currently using?
`0.9.1-SNAPSHOT`
What would you like to see?
A handle to turn off `inline` modifier in generated `optic|product`s.
Use case:
Mapping via copy method between projections to reduce boilerplate.
Achieved via inheritance by delegation. Similar as described here.
https://tp21.se/blog/2017/12/07/dto-mapping-in-kotlin/
to not to expose `delegate` to outside world at

[2019-06-22 22:11] raulraja commented on #1494
I'm not sure there is a strong reason why we are inlining those and can probably be turned off for all codegen stuff. //cc @nomisRev

[2019-06-22 22:36] pakoito commented on #1494
This is fixed by annotating with `@PublishedApi`, doesn't it? It tries to inline a private and warns about it.

[2019-06-22 23:17] soberich commented on #1494
@pakoito it worked.
But now I have a different error with `@product`
[code]

You can go clone this -> https://github.com/soberich/marvel and execute `./gradlew kaptKotlin` to see the errors.
The project is a mess - it's a playground.
And yes, there are some nullable/non-nullable suboptimal decisions made due to other libraries and general attempt to combine them. So, there are nullable types for `

[2019-06-23 01:11] pakoito commented on #1494
Just for th sake of testing id from `Long?` to `Option<Long>`

[2019-06-27 01:23] zvozin commented on #1192
Still nothing? (contemplates whether to take it up ... :))

[2019-06-27 01:36] pakoito commented on #1192
Go for it :) We're happy to support on the Slack channel!

[2019-06-27 01:36] androidfred commented on #1192
@zvozin Still nothing from me I'm afraid, but allow me to encourage you to pick it up 😆

[2019-06-27 01:37] zvozin commented on #1192
Overwhelmed by all the support, gents :). Will take a crack, then. How do you want it re: repo, process, etc?

[2019-06-27 01:39] pakoito commented on #1192
Fork on your own repo, follow other similar integration modules, i.e. the retrofit one. Copy-paste-replace, get the skeleton working and we can get into the docs later!

[2019-06-27 10:13] pakoito opened #1498 "Fix link's to Jorge's articles"
Reported on gitter by @ai212983

https://arrow-kt.io/docs/patterns/dependency_injection/

[2019-06-27 10:19] JorgeCastilloPrz commented on #1498
I actually think you wrote this? 😂

[2019-06-27 18:19] JorgeCastilloPrz commented on #1192
Also note that Helios was released already :)

[2019-06-27 23:15] i-walker opened #1499 "FlowableKTest failure"
This issue tries to track current problems connected to the `FlowableKTests`.

AFAIK and with the guidance from @pakoito and @nomisRev as long as the build failure is an OOM Exception it seems to be an **expected Exception**.
If there are ways to improve the Tests or even Suppress the Test Failures (local and in CI/CD) as long as the Test internals are flaky, we can discuss this here.

## Current

[2019-06-28 13:15] Octogonapus commented on #571
@pakoito Should this be closed?

[2019-06-28 13:15] Octogonapus commented on #840
@pakoito Should this be closed? They figured out the problem.

[2019-06-28 13:15] Octogonapus commented on #1113
@pakoito Should this be closed? AQL is on there now.

[2019-06-28 13:16] Octogonapus commented on #941
@pakoito I would have to look, but did this get done for 0.8.0?

[2019-06-28 13:16] Octogonapus commented on #996
@pakoito Should this be closed? It seems like their feature request can't be fulfilled.

[2019-06-28 23:05] pakoito commented on #996
Agreed!

[2019-06-28 23:05] #996 closed

[2019-06-28 23:06] pakoito commented on #941
Arrow-validation is still there...it should be killed at some point lol

In any case a pass on deprecation can be a new ticket.

I miss @jereksel tho.

[2019-06-28 23:06] #941 closed

[2019-06-28 23:06] pakoito commented on #1113
Done!

[2019-06-28 23:06] #1113 closed

[2019-06-28 23:06] pakoito commented on #840
Closing!

[2019-06-28 23:06] #840 closed

[2019-06-28 23:07] pakoito commented on #571
Doooone!

[2019-06-28 23:07] #571 closed

[2019-06-30 16:09] neshkeev commented on #1417
@nomisRev Thank you for your suggestions, it did work out, I updated the [repository](https://github.com/neshkeev/kotlin-arrow-demo) for references.

Feel free to close the ticket, please

[2019-06-30 16:16] nomisRev commented on #1417
Thanks for the response and reference @neshkeev!

[2019-06-30 16:16] #1417 closed

[2019-07-01 14:23] Tylos commented on #1386
Opening PR to document how to disable the check for IDEA

Ktlint is still pending until certain rules can be disabled. It is currently in PR - https://github.com/pinterest/ktlint/pull/503

[2019-07-01 14:40] JorgeCastilloPrz commented on #1386
Yep it'd be nice if we can add an issue for it then create a Marlow goal. As soon as support for disabling global rules in ktlint it'll be an easy one to tackle.

[2019-07-02 09:34] pakoito opened #1501 "Add FunctorFilter/MonadFilter instances for Rx and Reactor"
https://twitter.com/sla_shalafi/status/1145988260004585472

[2019-07-02 09:54] plattysoft commented on #1501
What we did was:

[code]

I'm happy to send a PR with it if you are happy with it.

[2019-07-02 10:10] pakoito commented on #1501
What we'd need is for `filterMap` to be implemented, and flattenOption can be derived from there.

One thing I'd suggest is using `fold` instead of `map` then `getOrElse`. Same results, one fewer intermediate object created.

[2019-07-02 10:13] pakoito commented on #1501
If you do a PR, make sure to add it to Flowable, Maybe and Flux too, as all of them are capable of having this pattern.

[2019-07-02 10:28] Tylos opened #1502 "Add documentation to disable ktlint `No Unit returns` errors"
### References

Related to #1386 and #1385 effort to document how to disable different linting errors that do not make sense for Arrow

### Description

Apart from the IntellIJ IDEA Inspection, Ktlint also complaints about Unit return types regardless of where they're used. That's also something we could suggest users how to disable on their ktlint configurations, since from an FP perspective it's

[2019-07-02 10:47] plattysoft commented on #1501
fold sounds better indeed, cleaner, more concise.

I'll probably send a PR later this week.

[2019-07-04 09:11] pakoito opened #1504 "Rename mapFilter to filterMap"
All operations that do something then map are called xxxMap except for `mapFilter`. We should use the chance that we're moving FilterFunctor to core to rename the old one.

[2019-07-04 10:43] #1385 closed

[2019-07-04 10:43] #1386 closed

[2019-07-04 15:00] JorgeCastilloPrz opened #1505 "Resolve ambiguity on some sugar extension functions in Arrow"
Currently in Arrow there are several instances of extension functions that attempt to augment a data type syntax. In many cases these extension functions refer to member in type classes and the functions are duplicated both the manually handwritten one and the extension projected one.

We need to list all extension functions that are ad-hoc added over syntax in the data type file outside of the in

[2019-07-04 16:44] #1499 closed

[2019-07-05 13:02] i-walker commented on #1400
These were the PR's
https://github.com/arrow-kt/arrow/pull/1496
https://github.com/arrow-kt/arrow/pull/1492
https://github.com/arrow-kt/arrow/pull/1495
https://github.com/arrow-kt/arrow/pull/1488
https://github.com/arrow-kt/arrow/pull/1481

[2019-07-05 14:29] i-walker opened #1508 "Rx race conditions"
Simon:

These logs vary in length depending on how much we hit that race condition in places like `fa.startFiber(ctx).flatMap { (_, cancel) -> cancel }` where `fa` can run into an error between start and immediate cancel.

One possible way to tackle this is to turn of the RxPlugin logging for UnderliverableException.

[2019-07-08 15:21] pakoito commented on #1400
We're missing MonadFilter, TraverseFilter and MonadCombine back in core.

[2019-07-10 10:20] brezinajn opened #1510 "Optics missing from current 0.9.1-SNAPSHOT"
All code from `arrow/modules/optics/arrow-optics/src/main/kotlin/arrow/optics/` is missing from current snapshot.

[2019-07-16 07:46] nomisRev commented on #1510
@brezinajn this should be fixed after master finishes building :)

[2019-07-16 11:33] i-walker commented on #1510
@brezinajn can you confirm that it works again?
I checked deployment and `arrow-optics-mtl` is live. And hopefully the artifactory updated the old binaries.

[2019-07-16 11:35] i-walker commented on #1504
should we handle this here https://github.com/arrow-kt/arrow/pull/1511

[2019-07-16 13:25] pakoito commented on #1504
It's already merged so maybe in #1513

[2019-07-16 13:26] pakoito commented on #1504
Also, those stackoverflows on the previous diff weren't fixed https://github.com/arrow-kt/arrow/pull/1511/files#diff-37b50abf0377adef1820033a662d42c7R196

[2019-07-16 13:30] raulraja commented on #1504
Thought the test were in @i-walker told.me it was ready to merge over slack. Sorry.

[2019-07-17 08:22] brezinajn commented on #1510
@i-walker Confirmed. Everything is where it should be :)

[2019-07-17 08:22] #1510 closed

[2019-07-17 20:14] i-walker commented on #1504
It was we handle this in another issue. Everything is alright :)

[2019-07-18 11:29] colomboe opened #1517 "[Add Media] Effect polymorphism with Arrow FX"
**Type of Content:** blog post

**Link:** https://www.msec.it/blog/effect-polymorphism-with-arrow-fx/

**Brief Description of Content:** Wonder how to handle side effects in a very clean way while abstracting the real effect implementation? #Arrow #FX provides an easy way to do this, without the burden of Higher-Kinded Types.

**Author/Presenter Name:** Emanuele Colombo

**Twitter handle:** https:

[2019-07-18 16:17] i-walker commented on #1504
closed by https://github.com/arrow-kt/arrow/pull/1513

[2019-07-18 16:17] #1504 closed

[2019-07-18 20:42] pakoito commented on #1517
Wait, it should be easy to PR it to the blog. You did it for the previous post, right?

[2019-07-19 06:09] colomboe commented on #1517
Yes, I thought this was the new "procedure"... Do you prefer a PR?

[2019-07-19 09:05] pakoito commented on #1517
Yes, if you don't mind!

[2019-07-19 11:58] colomboe commented on #1517
Ok, no problem, but I'll proceed on monday

[2019-07-20 10:48] richard-gibson commented on #1438
Happy to take this, started working on something similar to an earlier ZIO implementation so not to have to create a ring buffer to start off

[2019-07-22 08:19] #1502 closed

[2019-07-22 08:38] Tylos opened #1525 "Upgrade ktlint and disable no-unit-return rule"
### References

Related to #1502

### Description

Upgrade ktlint plugin in build.gradle or set ktlint version manually to 0.34.0 or above. This will allow to globally disable no unit returns errors in arrow, allowing to add explicit unit return types

[2019-07-22 08:38] Tylos commented on #1525
Seems like version  `0.34.0` has some regression bugs, I am keeping an eye to see when there is a stable version we could include

[2019-07-22 18:35] rcd27 commented on #1411
I checked that out. Have no idea.

[2019-07-22 18:45] pakoito commented on #1411
The docs are frozen in time, they'll be fixed on the next release.

[2019-07-22 18:45] rcd27 commented on #1406
This is interesting task, I would like to take it. What do we need as result? Keep all `arrow` classes? What's the goal?

[2019-07-22 18:49] pakoito commented on #1406
Figure out what classes cannot be stripped. There shouldn't be many, we don't use reflection.

[2019-07-23 09:49] Fover23 opened #1528 "How to manager state in functional way"
Hi, I am android developer, I read some articles known functional programming.
In some functional rules , the function need to be pure function.But in the real world , I need to change state in the android application runtime.
I konw the mutable state may cause some bug that not easy to find, I went to avoid in functional way, how to deal with it in functional way with arrow libs.

Thanks.

[2019-07-23 10:01] pakoito commented on #1528
I'd start by looking into MVI, Redux, and other architectural patterns where state is always passed around. Failing that, wrap your interactions with the environment with `IO` or `suspend` function so at least they're easily identifiable as effects.

[2019-07-23 20:13] viluon commented on #1007
Regarding compiler plugins, [this](https://resources.jetbrains.com/storage/products/kotlinconf2018/slides/5_Writing%20Your%20First%20Kotlin%20Compiler%20Plugin.pdf) is a valuable resource.

[2019-07-24 01:42] Fover23 commented on #1528
Thanks for your suggestion.

[2019-07-24 07:00] rcd27 opened #1529 "`Polymorphic Programs` docs: broken links + typo"
All links to @JorgeCastilloPrz 's articles on Medium are broken.
Moreover, there is typo: "there is noT silver bullets"

[2019-07-24 07:01] rcd27 commented on #1529
'Edit' button does not work as well, otherwise I'd try to fix that.

[2019-07-24 08:45] pakoito commented on #1529
We've moved the docs around, so that may be the problem with Editing master today. Try doing it on https://next.arrow-kt.io/docs/

[2019-07-27 08:41] Globegitter commented on #799
@pakoito @MarioAriasC The only issue I am running into with the `pipe` function is that I do seem to be able to put the statement on multiple lines like:

[code]

Is there any way to make this possible?

[2019-07-27 10:23] pakoito commented on #799
I'm not sure I understand your request. You're able or unable to put those statements on multiple lines? If the parser is unable to find them you'll need to use `.pipe(::calculatePrice)`

[2019-07-27 14:35] i-walker commented on #1529
@rcd27 You can branch from release/0.9.0 and create a PR with the changes, this will then be the updated on arrow-kt.io.
But don't do any commits in that branch. We're still working on locking this branch

[2019-07-27 17:44] soberich commented on #1494
@pakoito changing the data time is not an option (sorry for the pun). This issue is about `inline`. Guys (@raulraja, @pakoito), if there is any move if there is any move in direction of removing `inline` this will make sense IMO. And anyway feel free to close whether you apply proposed change/fix or not.

[2019-07-27 18:39] pakoito commented on #1494
Yes, look into the processor for optics:

https://github.com/arrow-kt/arrow/blob/master/modules/meta/arrow-meta/src/main/java/arrow/optics/LensesFileGenerator.kt#L16

https://github.com/arrow-kt/arrow/blob/master/modules/meta/arrow-meta/src/main/java/arrow/optics/IsosFileGenerator.kt#L33

https://github.com/arrow-kt/arrow/blob/master/modules/meta/arrow-meta/src/main/java/arrow/optics/OptionalFileG

[2019-07-28 06:32] Globegitter commented on #799
Ahh yes that works:

[code]

thanks for the clarification.

[2019-07-30 01:45] #1528 closed

[2019-07-30 18:25] dashfwd opened #1535 "getOrElse is causing the JVM to crash"
Running this code causes the JVM to crash:

    val some10 = Some(10)
    val some11 = some10.map { it + 1 }

    // if present, this next line with cause:
    //    Error: Unable to initialize main class dashfwd.CrashDemoKt
    //    Caused by: java.lang.VerifyError: Bad type on operand stack
    // with jdk-11.0.2
    some11.getOrElse { Some(0) }

Full demo:
https://github.com/dashfwd/arrow_cras

[2019-07-30 18:58] pakoito commented on #1535
This is a defect on the Kotlin inliner. On the next release we're not inlining getOrElse anymore. Meanwhile try a clean build and report the error to Jetbrains.

[2019-07-30 19:02] dashfwd commented on #1535
Thanks.  A clean build didn't seem to impact things, I'll report it to JetBrains.

[2019-07-30 19:07] dashfwd commented on #1535
FYI: Looks like getOrElse isn't inlined:
`fun <T> Option<T>.getOrElse(default: () -> T): T = fold({ default() }, ::identity)`

fold() is though:
[code]

[2019-07-30 19:22] dashfwd commented on #1535
JetBrains issue link: https://youtrack.jetbrains.com/issue/KT-33054

[2019-07-30 21:58] jeffersonzapata commented on #186
Hi, is there any news about this?

[2019-07-30 22:18] pakoito commented on #186
We're working on removing the dependency on `kapt`, which is the main blocker for `arrow-core`.

[2019-07-31 13:20] Zordid opened #1537 "Why can't I easily "bind" instead of map Validated objects"
What version are you currently using?
0.9.0
What would you like to see?
I really, really struggle with Validated / ValidatedNel

I simply do not understand why easy things like flatMap or aka bind are not available.

I have a ValidatedNel<ErrorType, Data> variable x and another function f that takes a Data and produces a ValidatedNel<ErrorType, Data> f(Data): ValidatedNel<Error, Data>

I cannot fi

[2019-07-31 19:10] pakoito commented on #1537
Validated is a special case of `Either` that accumulates failures. Because this accumulation isn't associative, meaning `a.flatMap { b.flatMap { c } }` does not yield the same value as `a.flatMap { b }.flatMap { c }` when `a`, `b`, and `c` are errors, it doesn't pass the tests necessary for flatMap to be considered corrrect.

Mechanically, this means that you have to `toEither()`, then `flatMap`,

[2019-08-01 03:05] raulraja commented on #1537
Adding to what Paco said..., Potentially this could be solved in Arrow with a suspended operator that is not called bind but delegates to andThen which is like flatMap but for validation. We would not put effort implementing this because we are working in compiler plugins to do the exact same thing with flatmap rewrites. We could have a version of the flatMap rewrite plugin that uses andThen in va

[2019-08-01 11:59] Zordid commented on #1537
Thanks for your answer! It is very hard for me to understand, though. There's a very steep learning curve for arrow, I suspect.

But looking at your proposed solution:

there is no "toValidated" on an Either - I just find Validated.fromEither(...) - why is that?

Plus, my former "simple" approach now looks VERY clunky.
It boils down to:

    Validated.fromEither(validatedA.toEither().flatMap { it.

[2019-08-01 15:14] pakoito commented on #1537
This is PR material :D

For the other suggestion, I'd say create an extfun on your code

[code]

[2019-08-01 18:27] trifan84 opened #1538 "MonadError for Either, Option & Try"
Hi, I am trying to use monadError and face a trouble that let me think it might be a trouble there.

I made an easy implementation of two  functions returning a higherKind function:

private val objectGateway: objectGateway = object : ObjectGateway {

        override fun <F> getObject1(number: String, ME: MonadError<F, DummyException>): Kind<F, String> {
            return ME.just("NUMBER")

[2019-08-01 19:02] pakoito commented on #1538
Option's MonadError only works with `Unit` error types, as it doesn't allow lossy constructors that'd throw that String or any other error type away.

[2019-08-02 10:12] trifan84 commented on #1538
Thanks for answering that quick.
When you mean

where that has been describe.

Also I am sorry as new to arrow I am not understanding the

Could you please provide an example based on the code I put above for beeing clearer.

Thanks in advance

[2019-08-03 02:29] pakoito commented on #1538
This is what Option would work with.

[code]

In the arrow-contributors channel, early on meaning around 2017 :D

[2019-08-04 13:44] AlbertoSH opened #1539 "NonBlocking.parTraverse behaves sequentially"
Hi

Inside an `IO.fx`, looks like `NonBlocking.parTraverse` computes each element in a synchronous/sequential way. This is
[code]
takes 1 seconds to be executed, while
[code]
takes 3 seconds to be executed

Affected Arrow Version
- 0.9.0
- 0.10.0-SNAPSHOT

A minimum project reproducing the issue can be found here: https://github.com/AlbertoSH/arrow-nonblocking-issue

[2019-08-08 07:53] rossdanderson opened #1542 "Behaviour of Optional.asSetter().set vs Optional.set"
I'm a bit confused about the behaviour of Optional.asSetter().set() so I've set up the following test:
[code]

[code]

I would have thought that in the second case it should have set `defaultPort` to "ABC" in the same way as it sets it to "XYZ" in the third?

Could anyone confirm if my assumption is wrong?

[2019-08-08 08:39] AdrianRaFo commented on #1398
Closed in favor of the compiler plugin

[2019-08-08 08:39] #1398 closed

[2019-08-08 08:46] nomisRev commented on #1542
Hi @rossdanderson,

I just dug into the code and you're correct. Thanks for catching this!

[Optional](https://github.com/arrow-kt/arrow/blob/master/modules/optics/arrow-optics/src/main/kotlin/arrow/optics/Optional.kt#L248) overrides only `modify` of `Setter` and not `set`.
Since `Optional#modify` takes into account if the value is present or not, similar to `Option#map`  the derived `Setter#set`

[2019-08-08 10:40] rossdanderson commented on #1542
Thanks, I'll try and have a look at it this evening

[2019-08-08 12:06] nomisRev commented on #1539
Hi @AlbertoSH,

Thanks for reporting this, you're correct! This is left over from before, thanks for catching this before the release 🙏 The functions from `FxSyntax` should be removed, and you should be using `Concurrent` only from `0.10.0-SNAPSHOT`. The new syntax is demonstrated below, it takes the container as a receiver, and you can pass an optional `CoroutineContext` to the first param of `pa

[2019-08-08 13:10] AlbertoSH commented on #1539
Hi @nomisRev

Great! I just checked with your snippet and it works like a charm! :)
For anyone reading this, beware that the `parSequence()` method returns a `Kind<F, List<A>>` so you'll have to apply the effect with `!` or `bind()`

Is it worthy to update [the docs](https://arrow-kt.io/docs/effects/fx/async/#partraverse) or since it will be changed in the next version will it be done in the next

[2019-08-08 18:14] nluaces opened #1543 "Kotlin and Arrow: the functional way"
**Type of Content:** Video

**Link:** https://thoughtworks.wistia.com/medias/ifra1gzrho

**Brief Description of Content:** Talk about Kotlin and how Arrow library completes it in order to follow a pure functional way.

**Author/Presenter Name:** Noe Luaces

**Twitter handle:** noe_luaces

[2019-08-08 18:16] MaureenElsberry commented on #1543
Thanks, @nluaces! I'll share through the Arrow Twitter as well!

[2019-08-08 21:46] rossdanderson commented on #1542
I've raised this now. One further question I have if you've got a moment, an Optional can focus into and set a property, but cannot unset it as far as I understand. I can see how this makes sense from the Setter's perspective, but would it make sense from the Optional's?

[2019-08-11 16:49] Cottand commented on #186
Hi! How can I help, is there a slack channel I should join?