[2017-03-24 11:54] JMPergar opened #4 "Create Option type"

[2017-03-24 11:54] JMPergar opened #5 "Create Try type"

[2017-03-24 12:46] aballano opened #7 "Create Either type"

[2017-03-24 13:01] arturogutierrez opened #9 "Possible Supported types"
- [ ] State #14
- [x] Eval #68
- [x] EitherT #60
- [x] Validated #20
- [x] Reader #33
- [x] Ior #28
- [x] Option #3
- [x] Try #5
- [x] Either #7
- [x] NonEmptyList #19
- [x] OptionT #52

[2017-03-24 13:05] raulraja commented on #9
We can draw inspirations from here for all the types not relying on higher kinds to get started with https://github.com/typelevel/cats/tree/master/core/src/main/scala/cats/data and http://docs.scala-lang.org/overviews/collections/concrete-immutable-collection-classes

[2017-03-24 13:50] arturogutierrez opened #14 "Create StateT type"
This implementation will be a simplification as we don't have HKTs yet

[2017-03-24 17:39] JMPergar commented on #4
Done in #3

[2017-03-24 17:40] JMPergar commented on #4
Done in #3

[2017-03-24 17:40] #4 closed

[2017-03-24 18:56] JMPergar opened #19 "Create NonEmptyList type"
See: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/NonEmptyList.scala

[2017-03-24 18:56] JMPergar opened #20 "Create Validated type"
See: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Validated.scala

[2017-03-24 19:52] jrgonzalezg opened #24 "Fix repository name in Travis CI"
Fix repository name in Travis changing it from `kats` to `Katz`

[2017-03-24 19:53] jrgonzalezg commented on #19
PR on #23

[2017-03-24 20:59] JMPergar commented on #5
Done in #6

[2017-03-24 20:59] #5 closed

[2017-03-24 21:55] aballano opened #26 "Add Detekt to Travis CI"
What about introducing the lib in travis?

https://github.com/arturbosch/detekt

[2017-03-24 21:58] aballano commented on #24
Seems to be working now.

[2017-03-24 21:58] #24 closed

[2017-03-25 10:33] ffgiraldez opened #28 "Create Ior Type"
based on https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Ior.scala

[2017-03-25 14:03] JMPergar commented on #26
Good point! :+1:

[2017-03-26 00:44] JMPergar commented on #7
Done in #17

[2017-03-26 00:44] #7 closed

[2017-03-27 06:31] ffgiraldez commented on #19
done in #23

[2017-03-27 06:31] #19 closed

[2017-03-27 08:32] JMPergar opened #33 "Add Reader Type"

[2017-03-27 15:20] JMPergar opened #38 "Evaluate null restriction for all types"

[2017-03-27 18:54] pakoito opened #39 "Eliminate some of the syntactic options of for comprehensions"
As per #31 there are three possible approaches to comprehensions:

[code]

After the library has been in prod, and if widespread, consider elimination at least one of the options based off usage.

[2017-03-27 22:08] #28 closed

[2017-03-27 22:22] JMPergar opened #43 "Add test to Try Type"
- Add test to Try Type
- Also check Option type has complete coverage

[2017-03-27 22:23] JMPergar opened #44 "Create Monad Instances for Try Type"

[2017-03-30 14:34] #26 closed

[2017-04-02 14:53] #33 closed

[2017-04-03 21:08] aballano opened #58 "Add tests for Try"

[2017-04-03 21:15] aballano commented on #58
Dupe #43

[2017-04-03 21:15] #58 closed

[2017-04-03 22:43] ffgiraldez opened #60 "Create EitherT Monad Transformer"

[2017-04-03 22:51] pakoito commented on #60
I'll personally haunt from the afterlife whomever steals this task from me :D

[2017-04-07 13:35] JorgeCastilloPrz opened #62 "Create Foldable and Eval types"
`Eval` type is being created under this PR also since its needed for `Foldable`.

[2017-04-07 13:37] JorgeCastilloPrz opened #63 "Create Traverse"
### Requirements
`Traverse` needs to be done in terms of `Foldable`, so we need to wait for #62 to be done.

[2017-04-07 14:09] ffgiraldez commented on #43
fixed in #58

[2017-04-07 14:09] #43 closed

[2017-04-07 16:28] ffgiraldez opened #64 "Create Free Type"

[2017-04-07 16:30] ffgiraldez opened #65 "Create discipline"
When need something similar to [Discipline](https://github.com/typelevel/discipline) in order to test category laws ([example](https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/FunctorLaws.scala))

[2017-04-09 10:54] #20 closed

[2017-04-10 09:16] JMPergar opened #67 "Create EitherT"

[2017-04-10 09:16] ffgiraldez commented on #67
duplicate #60

[2017-04-10 09:18] #67 closed

[2017-04-10 09:32] JMPergar opened #68 "Create Eval Type"
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Eval.scala

[2017-04-10 09:42] #44 closed

[2017-04-10 09:47] #68 closed

[2017-04-16 20:46] raulraja opened #69 "Roadmap"
# Roadmap

## data

- [x] Option
- [x] Try
- [x] Either
- [x] Ior
- [x] Coproduct
- [x] Free
- [x] Cofree #92
- [x] Trampoline #77
- [x] Coyoneda #80
- [x] FreeApplicative #164
- [x] NonEmptyList
- [ ] Vector #97
- [ ] NonEmptyVector #96
- [x] OptionT
- [x] StateT #14
- [x] WriterT #84
- [x] EitherT
- [x] Kleisli
- [x] Cokleisli #86
- [x] Function0 #95
- [x] Function1 #137
- [x] PartialFunction +

[2017-04-16 20:49] pakoito commented on #69
Are we going to do Fix and the XXXmorphisms from recursion schemes?

[2017-04-16 20:51] pakoito commented on #69
I would also add Task, even if it's just a compositin of the others, or a separate project altogether (?).

[2017-04-16 20:54] raulraja commented on #69
@pakoito yes we can do that but it's not strictly necessary for the first version, I guess we should add it and label everything with the version we expect it to come out

[2017-04-16 20:55] raulraja commented on #69
Let's add Task I also want to add Lenses but those don't need to be in a first version either.

[2017-04-18 17:55] JorgeCastilloPrz opened #71 "Fix snapshot deploys"
Jitpack is not doing snapshot deploys properly due to incremental compilation errors. If any one has experienced this problem lately and knows how to force disable it for Jitpack, that would be helpful.

Snapshots are important also and enables anybody (not just us) to test the library on different projects and give good feedback.

[2017-04-18 18:32] pakoito commented on #71
Have you spoken to the Jitpack team directly?

[2017-04-18 19:28] #71 closed

[2017-04-18 21:59] #62 closed

[2017-04-18 21:59] ffgiraldez commented on #64
Resolved on #70

[2017-04-18 21:59] #64 closed

[2017-04-18 22:00] ffgiraldez commented on #63
Resolved on #62

[2017-04-18 22:00] #63 closed

[2017-04-20 23:29] raulraja opened #75 "Ensure all instances delegate to existing datatypes combinators."
It's common to stack overflow if instances of Monad for example don't provide overrides that delegate to the Datatype impl which is usually the shortest and more efficient path.

For example when creating an instance for `Monad` and your datatype contains `map`, `ap` and others, do not let the methods in the Monad hierarchy to stay autoimplemented and provide instead overrides that delegate to the

[2017-04-21 16:06] JorgeCastilloPrz opened #78 "Add Trampoline"

[2017-04-23 13:33] pakoito opened #80 "Create CoYoneda construct"
¡Me lo pido!

[2017-04-23 22:16] ffgiraldez commented on #9
we have now a Roadmap #69 , start using it

[2017-04-23 22:16] #9 closed

[2017-04-23 22:19] ffgiraldez commented on #14
We have HK, let's use StateT now

[2017-04-24 08:52] #60 closed

[2017-04-29 10:45] pakoito opened #84 "Add WriterT monad"
Taking this one because I've never looked into the writer monad so, yeah.

[2017-04-29 12:33] pakoito opened #86 "Add CoKleisli type"

[2017-04-29 20:23] pakoito opened #88 "Implement comonadic comprehensions"
Taken from the roadmap in #69. Requires #86 to be merged first.

[2017-05-04 21:42] #84 closed

[2017-05-04 21:46] pakoito opened #89 "Tweaks to Applicative Tuples"
Rename swap() to reverse() and implement for all tuples.

https://github.com/FineCinnamon/Katz/pull/85#discussion_r114894091

Convert toT into plus.

https://github.com/FineCinnamon/Katz/pull/85#discussion_r114894514

[2017-05-06 21:48] #86 closed

[2017-05-07 01:36] #88 closed

[2017-05-07 10:40] #80 closed

[2017-05-07 10:43] pakoito opened #92 "Add Cofree construct"
As per #69

[2017-05-14 20:46] #89 closed

[2017-05-14 20:46] pakoito commented on #89
Thank you @sanogueralorenzo !!

[2017-05-15 22:59] pakoito opened #96 "Add NonEmptyVector construct"
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/data/NonEmptyList.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEmptyListBimonad.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEmptyListMonad.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEm

[2017-05-15 23:04] pakoito opened #97 "Add Vector construct"
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/data/NonEmptyList.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEmptyListBimonad.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEmptyListMonad.kt
https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/instances/NonEm

[2017-05-19 15:09] pakoito opened #99 "Add destructuring to Tuples"
Our tuples are not capable of destructuring at the moment.

Destructuring is based off nomenclature, where every parameter gets a function componentX() where X is the position of the component.

Reference:
https://kotlinlang.org/docs/reference/multi-declarations.html

[2017-05-19 18:06] pakoito commented on #99
It's available by default when using data classes.

[2017-05-19 18:06] #99 closed

[2017-05-24 18:56] #92 closed

[2017-05-24 20:59] pakoito commented on #69
`followedBy` y `forEffect`

[21:56]
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/FlatMap.scala#L48 (edited)

[21:56]
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/FlatMap.scala#L70 (edited)

[21:57]
y hay variaciones para Eval de los mismos

[2017-05-24 20:59] pakoito commented on #69
ifM

[2017-05-24 21:01] pakoito commented on #69
Complete Functor https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Functor.scala

[2017-05-24 23:53] pakoito commented on #97
The implementation for Array<A> is simply not possible due to some limitations with non-reified generics. Let's consider porting a persistent vector from Scala, Clojure, or any external library instead.

[2017-05-24 23:53] pakoito commented on #96
The implementation for Array<A> is simply not possible due to some limitations with non-reified generics. Let's consider porting a persistent vector from Scala, Clojure, or any external library instead.

[2017-05-28 15:29] pakoito commented on #97
Some persistent Vector implementations:

Scala:
https://github.com/djspiewak/scala-collections/blob/master/src/main/scala/com/codecommit/collection/Vector.scala

Clojure: https://github.com/clojure/clojure/blob/master/src/jvm/clojure/lang/PersistentVector.java

Kotlin based off PCollections: https://github.com/Kotlin/kotlinx.collections.immutable

Paguro: https://github.com/GlenKPeterson/Paguro/bl

[2017-05-29 03:19] pakoito opened #102 "Creating a new data type"
This document is a brain dump from the stuff I've been working on lately around data types. Instances to come on a separate issue.

# Data types

Example: https://github.com/FineCinnamon/Katz/blob/master/katz/src/main/kotlin/katz/data/WriterT.kt

The file reads as follows:

## package
package katz // we want all imports together for now

## alias
typealias MyTypeKind<...> = HK_N_<MyType.F, ...> //

[2017-05-29 07:42] JorgeCastilloPrz commented on #102
Thanks for this @pakoito! I would also love to have detailed info about how we are using that partially applied type on the typealias and how we benefit from it, since I kind of don't get it completely.

[2017-05-29 12:36] pakoito commented on #102
I'm doing a formatting consistency pass on https://github.com/FineCinnamon/Katz/pull/101 to address these issues.

WriterT.ev() specifically was on its monad file. I've seen ev() also used in other typeclass instances like Traverse, so I'm moving it to the data type file instead.

[2017-05-29 18:16] pakoito opened #103 "Add missing tests and laws for Foldable and Traverse instances"
Continuation from #101.

Missing tests:

Validated
Coproduct
Either
OptionT
Ior
Try
Id

Laws:

https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/FoldableLaws.scala

[2017-05-30 00:39] pakoito opened #104 "Add all Composed instances"
Now that there's a solution for type lambdas, we can implement the rest of the composed typeclasses

Our solution:
https://github.com/kategory/kategory/blob/master/kategory/src/main/kotlin/kategory/data/Composed.kt

Cats reference:
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Composed.scala

[2017-05-30 00:39] pakoito commented on #69
Composed instances

https://github.com/FineCinnamon/Katz/issues/104

[2017-05-31 12:45] pakoito commented on #69
Add MonadTrans.

Resources:
https://ro-che.info/articles/2014-07-15-type-based-lift
 https://github.com/typelevel/cats/pull/844

[2017-06-13 09:26] #14 closed

[2017-06-13 23:12] pakoito opened #110 "Add katz-rx module"
There is a good chance of experimenting integration with existing apps and frameworks, and RxJava seems like a natural fit. We're looking for someone to take on the following subtasks:

* create a new module depending on katz and RxJava 2.X
* add instances of Monad, Foldable and Traversable for Observable
* introduce some tests and examples of using Observable using imperative binding notation

Th

[2017-06-13 23:39] pakoito commented on #102
I've moved it to the wiki: https://github.com/FineCinnamon/Katz/wiki/Creating-a-new-data-type

[2017-06-13 23:39] #102 closed

[2017-06-25 08:11] JorgeCastilloPrz opened #118 "Fix Implicits current implementation to not require initial reference"
Following problems reported on #105, we need to find the way to avoid the requirement for holding a reference of any implicit instance prior to make it work as an implicit inside any class, and not crash at runtime. Check the linked issue for more details.

[2017-06-25 12:05] pakoito commented on #118
We need metaprogramming to avoid this problem. If we could PoC a solution based off an existing plugin like AllOpen it'd be great.

[2017-06-27 11:37] pakoito opened #121 "Address PR changes in Eq"
See the comments at the bottom of https://github.com/kategory/kategory/pull/120

[2017-07-13 01:10] pakoito commented on #69
More suggestions: https://wiki.haskell.org/Monad#Interesting_monads

[2017-07-15 02:41] pakoito opened #123 "Add instances to Kleisli"
Kleisli has no instances

[2017-07-15 13:52] JorgeCastilloPrz commented on #118
Let me take this one.

[2017-07-16 11:49] pakoito opened #124 "Add tests for StateT"
StateT has no tests available

[2017-07-16 11:51] pakoito commented on #124
Nevermind, StateT is tested as State. Silly me.

[2017-07-16 11:51] #124 closed

[2017-07-16 14:01] pakoito commented on #65
Closed by https://github.com/kategory/kategory/pull/112

[2017-07-16 14:01] #65 closed

[2017-07-16 15:32] #121 closed

[2017-07-16 21:22] pakoito commented on #123
Closed by #127

Note that some issues were outstanding: https://github.com/kategory/kategory/pull/127#pullrequestreview-50216217

[2017-07-16 21:22] #123 closed

[2017-07-17 07:03] ffgiraldez commented on #118
Resolved in #126

[2017-07-17 09:39] pakoito commented on #118
The solution in #126 doesn't fix the underlying problem we have with instantiation. @JorgeCastilloPrz is going to take a look at a compiler-plugin driven solution rather than the actual runtime lookup one.

[2017-07-17 09:48] ffgiraldez commented on #118
sorry

[2017-07-17 09:50] pakoito commented on #118
Don't have to, it's hard to keep up with all the sub-projects happening on the project ATM :D

[2017-07-20 22:57] pakoito commented on #69
Nested: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Nested.scala

And the traverse law that requires Nested: https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/TraverseLaws.scala#L16

[2017-07-20 23:21] npatarino opened #134 "Add mapOf for Tuple2"
Create a mapOf function to build a Map from Tuple2 as the mapOf (in kotlin-stdlib) builds a Map from Pair

[2017-07-20 23:42] pakoito commented on #134
Perfect for a first time kontributor :D

[2017-07-20 23:56] pakoito opened #136 "Const and Nested combined types + missing Traverse laws"
They're necessary to complete the Traverse laws after #133

Nested: https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/data/Nested.scala

And the traverse law that requires Nested: https://github.com/typelevel/cats/blob/master/laws/src/main/scala/cats/laws/TraverseLaws.scala#L16

https://github.com/kategory/kategory/pull/133/files#diff-8ad20c0b396ad4072dcdf3c16dafafaaR23

--

C

[2017-07-21 08:49] #134 closed

[2017-07-21 10:20] pakoito commented on #69
Category and MonoidK typeclasses

https://github.com/kategory/kategory/pull/137#discussion_r128702625

[2017-07-21 10:21] pakoito commented on #69
MonadReader laws

https://github.com/kategory/kategory/pull/137#discussion_r128701632

[2017-07-21 10:24] pakoito commented on #69
Easy

binding tests for monad and comonad

https://github.com/kategory/kategory/pull/137/files/b323cc6f139ed589150f7ee59c9c3878c5895262#r128701973

[2017-07-21 12:34] raulraja opened #138 "Stack safe flag for comprehensions over stack-unsafe monads"
Since the coroutine system allows us to invoke `resume` when we want the coroutine to proceed we could potentially exploit that so that if the user indicates that he wants the monadic comprehension to be stack safe even if the underlying monad is not stacksafe we could explicitly trampoline before calling `resume`. from a usage point of view it would be transparent to the user and it would be just

[2017-07-22 13:21] #103 closed

[2017-07-22 17:09] pakoito commented on #75
Closed by https://github.com/kategory/kategory/pull/130

[2017-07-22 17:09] #75 closed

[2017-07-22 17:11] pakoito commented on #78
Description from #77

There are languages that do not have tailrec modifier that use Trampoline to emulate the same behavior. But Trampoline is also useful for languages that also have trampolines out of the box:

"As long as you use tail recursion with one function everything is fine as the compiler will optimize it for you and transform it in a loop, issues come when you are trying to use tail r

[2017-07-22 19:38] pakoito commented on #69
Improve free with resume, fold...

[2017-07-23 02:14] pakoito commented on #69
Except/ExceptT

https://hackage.haskell.org/package/transformers-0.5.4.0/docs/src/Control.Monad.Trans.Except.html#

Inspired by

https://twitter.com/daniel_mbfm/status/888890585318391810

[2017-07-25 09:43] israelperezglez opened #144 "Kategory brand assets"
I attach brand assets in PNG and SVG format
[kategory-assets.zip](https://github.com/kategory/kategory/files/1172695/kategory-assets.zip)

[2017-07-25 09:47] pakoito commented on #144
Which font does it use?

[2017-07-25 09:50] israelperezglez commented on #144
@pakoito We use Fira Mono
https://fonts.google.com/specimen/Fira+Mono
;)

[2017-07-25 13:43] #78 closed

[2017-07-25 16:51] JorgeCastilloPrz opened #145 "Add MonadState construct"

[2017-07-26 09:17] wiyarmir commented on #144
Should these be added to the repo tree?

[2017-07-26 09:32] pakoito commented on #144
unzipped on /assets/ IMO, I don't know the standard @raulraja @JorgeCastilloPrz @ffgiraldez

[2017-07-26 09:32] pakoito commented on #144
I'd also include the font on the folder

[2017-07-26 09:55] wiyarmir commented on #144
I've seen other projects call this `/art/` since assets could be whatever in a software project. Additionally, this is pure art 😄

[2017-07-26 10:08] raulraja commented on #144
We can add the sketch files and all other art into it's own repo so it does not interfere when people just want to clone the main repo size wise. @israelperezglez can you upload all sources and design materials as they become ready to https://github.com/kategory/art ? For work already approved you can just push directly to master which you should have access now. Thanks!

[2017-07-26 18:39] JorgeCastilloPrz opened #149 "Add SemigroupK"

[2017-07-26 18:46] JorgeCastilloPrz opened #151 "Add MonoidK"

[2017-07-26 19:12] pakoito opened #152 "Rewrite ComposedTraverse and ComposedFoldable as interfaces"
https://github.com/kategory/kategory/blob/master/kategory/src/main/kotlin/kategory/data/Composed.kt

After the latest refactor, all instances in the repo are written as interfaces with default methods, and any internal typeclass required is passed as a function rather than a field.

Apply the same refactor to ComposedTraverse and ComposedFoldable.

[2017-07-26 22:39] raulraja opened #153 "Allow `NonFatal` control over exceptions for MonadError and Monadic comprehensions"
Currently comprehending over Try in an stack unsafe way returns a `Failures(SOE)` we should never capture fatal exceptions. See for reference http://www.scala-lang.org/api/2.12.0/scala/util/control/NonFatal$.html

[2017-07-26 22:43] pakoito commented on #153
RxJava does it using a set of types for which exceptions are always propagated: SO, OOM... we should look into them.

[2017-07-26 22:58] raulraja opened #154 "Move `Eq` instances to each datatype instances file and proper tests for each instance"
Currently instances for Eq are mostly in tests and implemented ad-hoc. We need proper tests for those instances both with positive and negative cases to ensure they are working as expected.

[2017-07-26 23:05] raulraja opened #155 "Add facilities to curry and partially apply functions"

[2017-07-27 07:50] #145 closed

[2017-07-27 18:59] pakoito commented on #69
Adjunction: https://www.youtube.com/watch?v=BLk4DlNZkL8

Should be easy to implement.

[2017-07-28 16:27] #149 closed

[2017-07-30 09:18] pakoito opened #160 "Add test-global registry of law tests that removes duplicates"
I'd suggest that for our Test class we add a new function getLaws() : List<Test>, and we deduplicate tests by their identities.

[2017-07-30 23:27] pakoito commented on #144
I've added the brand assets, along with info and license for the font, to the art sub-project: https://github.com/kategory/art

Feel free to close this issue anytime.

[2017-07-31 00:46] pakoito commented on #155
If anyone wants to spin a new module with a bunch of function helpers, this is a good reference of how it could look like http://ramdajs.com/docs/

[2017-07-31 17:21] #151 closed

[2017-07-31 18:12] JorgeCastilloPrz opened #163 "MonadWriter"
Add MonadWriter.

[2017-08-01 06:39] pakoito opened #164 "Free Applicative"
I need to start a discussion before continuing with the implementation, as cats has recently done a refactor-overhaul themselves. The new version is stack-safe, performs better, and reads worse than anything else in our repo.

Reasoning for refactor: https://github.com/typelevel/cats/issues/1151#issuecomment-303226212

PR: https://github.com/typelevel/cats/pull/1748

Implementation: https://github

[2017-08-01 09:10] raulraja commented on #164
I think that if the new version by Edmund in Scala is stack-safe that is more important than the implementation readability and ours should resemble that one instead of the previous one. Kategory is a general purpose library that is ment to serve as companion to the stdlib stack-safety and performance is a concern most of our users are going to care and impure and dirty impls to achieve that is a

[2017-08-01 16:13] #144 closed

[2017-08-01 18:41] Atternatt opened #165 "Wrapper class for List (Kotlin std-lib)"
Create a Class ListKW that wrapps std-lib`s Kotlin List

[2017-08-04 04:08] pakoito opened #167 "Stack-safe coyoneda"
https://github.com/typelevel/cats/pull/1602/files

[2017-08-06 01:17] #167 closed

[2017-08-07 00:48] #164 closed

[2017-08-07 00:54] pakoito commented on #136
After Const is done, FreeApplicative is missing one function: https://github.com/kategory/kategory/blob/master/kategory/src/main/kotlin/kategory/free/FreeApplicative.kt#L74

[2017-08-07 13:39] wiyarmir opened #170 "Add SNAPSHOT publishing"
For every new commit in `master`, publish a SNAPSHOT to bintray

[2017-08-08 15:42] victorg1991 opened #173 "Add missing methods in Functor"
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Functor.scala

[2017-08-09 00:49] pakoito opened #174 "Re-enable SpacingAfterComma and UnsafeCast in detekt"
I've temporarily removed SpacingAfterComma and UnsafeCast in #171. Due to https://github.com/kategory/kategory-annotations/issues/9 it'll require fixes on the codegen before we're able to re-enable them again.

[2017-08-09 00:57] pakoito opened #175 "Update Wiki to include @higherkind"
Some sections became deprecated by codegen, even if they're still worth explaining.

[2017-08-09 01:08] pakoito commented on #174
I'd suggest to redo the baseline afterwards too.

[2017-08-10 00:22] pakoito commented on #136
Turns out Nested is the same as out Compose interface. The difference is that they use a wrapped class where we just need a cast using extension functions, so our version has to be cheaper.

[2017-08-10 00:27] pakoito commented on #104
#179 adds ComposedFunctor and ComposedApplicative. They were fun to write!

[2017-08-10 02:29] pakoito opened #181 "Whitelist in detekt all generated files"
I've recently added two suggestions for the processor that are based on the fact that we run detekt over generated files. Maybe the solution should be that detekt shouldn't run on generated files at all, whitelisting them. I know how to whitelist for a rule, not for all of them,

https://github.com/kategory/kategory-annotations/issues/9
https://github.com/kategory/kategory-annotations/issues/13

[2017-08-10 10:03] #136 closed

[2017-08-10 21:23] raulraja opened #183 "Eval#collapse causes endless loop"
Noticed this while using `Traverse#sequence` which delegates to `foldRight` which uses `Eval`

[code]

[2017-08-10 23:17] pakoito commented on #183
This is caused by the rewrite I did a while ago. Happy to get assigned to take a look.

[2017-08-11 00:26] pakoito commented on #183
I found the cause, but not why I did it. Tests still pass, so...great.

[2017-08-11 07:01] asarkar opened #185 "Is there a Wiki/documentation somewhere?"
http://kategory.io is the Git repo

[2017-08-11 07:49] ffgiraldez commented on #185
Actually not, we are in an early stage, but it's one of our main goals after releasing a stable version (soon).

For now just reserved the domain and point out to our Github repo.

mean while if you want to know a bit more, Kλtegory it's inspired by Scala [Cats](https://github.com/typelevel/cats) and there you could find how to use it more or less (Kotlin have some limitations and workarounds that

[2017-08-11 08:25] asarkar commented on #185
If Kλtegory is inspired by Cats, you'd know that Cats took off because Scalaz attitude to people using the library was "read the code, it's self-documenting".  I guess I'll come back in a year or so.

[2017-08-11 08:25] #185 closed

[2017-08-11 11:14] pakoito commented on #185
@asarkar We're building the documentation at the moment, including the Kotlin counterpart to tut: https://github.com/kategory/ank The domain you mention is also being built, and so are the example [libraries](https://github.com/Guardiola31337/uiagesturegen/tree/master/uiagesturegen/src/main/kotlin/com/pguardiola/uigesturegen/dsl) and [apps](https://github.com/JorgeCastilloPrz/KotlinAndroidFunction

[2017-08-11 11:38] raulraja commented on #185
@asarkar are you familiar with FP? if so, We'd love if you could help with the docs. Cheers :beers: !

[2017-08-11 11:44] #183 closed

[2017-08-11 15:18] pakoito opened #186 "Prototype: support for Kotlin Native"
Just as a fun proof of concept see what would be required to make the library compatible with kotlin-native: https://github.com/JetBrains/kotlin-native

Places where we use JVM classes:
https://github.com/kategory/kategory/search?utf8=%E2%9C%93&q=import+java.&type=

Some of them seem like Serializable instances we could just remove. Effects uses concurrency primitives that can be moved to a separa

[2017-08-11 18:12] asarkar commented on #185
@pakoito Thanks, trust me when I say that I understand it can be difficult to build a framework, and also create documentation for users at the same time. I only wanted to ask if there are any docs, and if not, if you're planning to create some. The answer I got is no, and yes.
@raulraja Yes, I'm familiar with FP, but I'm not convinced that Kotlin is a functional language, or should be shoehorned

[2017-08-12 21:20] pakoito commented on #69
AsyncContext from FreeStyle:

https://github.com/frees-io/freestyle/blob/master/freestyle-async/async/shared/src/main/scala/async.scala

[2017-08-12 21:48] raulraja opened #188 "Remove and Replace all Partially Applied HigherKinds with their generated `KindPartial`"
Once `kategory-annotations` is released we can replace all the partially applied higher kinds since those are now generated automatically since https://github.com/kategory/kategory-annotations/pull/15

[2017-08-13 18:26] pakoito opened #190 "IO#tailrecM is not tailrec"

[2017-08-13 18:27] #190 closed

[2017-08-13 19:09] raulraja commented on #39
I believe the time has come. I personally think `!` is ambiguous when placed in expressions that may return boolean bound in the kind since it will not negate them.
I believe the saner option is `op.bind()` an is consistent with `op.await()` and other idioms Kotlin users are already familiar with. @pakoito @ffgiraldez Thoughts?

[2017-08-13 19:14] pakoito commented on #39
I'd remove !, keep both bind as they're not ambiguous at the moment.

[2017-08-13 19:51] raulraja opened #194 "Remove all instances of `! (not)` in monadic binds"
Take care of #39 leaving only `monad.bind()` and `bind { monad }`

[2017-08-13 20:46] pakoito opened #196 "Add support for CoroutineContext on bind operations"
#195 brings a way of executing blocks on arbitrary AsyncContexts using a new bindingAsync API. We could have the same behavior in the main package using CoroutineContext, the same way they're used in the kotlinx project.

https://github.com/Kotlin/kotlinx.coroutines/blob/a1ff3bd9e46eeed65dd41965749a84324dc54c11/reactive/kotlinx-coroutines-rx2/src/main/kotlin/kotlinx/coroutines/experimental/rx2/RxO

[2017-08-13 20:47] raulraja opened #197 "Add `bind` combinator for monadic comprehensions"
`bind(coroutineContext)` is a special binding combinators that ensure bindings happen in the proper coroutine context since some framework such as Realm or Rx require effects happening in certain threads. This combinator can delegate to `async/await` internally passing through the coroutine context and invoking `resume` on completion.

Down the road integrations for RX, Realm etc can provide speci

[2017-08-13 20:48] raulraja commented on #197
dup of #196

[2017-08-13 20:53] pakoito commented on #196
Duplicate of #197

[2017-08-13 20:53] #196 closed

[2017-08-14 08:58] #197 closed

[2017-08-14 09:15] npatarino commented on #188
This issue it's fixed in #198. Should it be closed?

[2017-08-14 09:50] pakoito commented on #188
Closed by #198

[2017-08-14 09:50] #188 closed

[2017-08-14 11:22] #194 closed

[2017-08-14 11:24] #39 closed

[2017-08-14 22:12] raulraja opened #202 "Add missing traverse instance for NonEmptyList"

[2017-08-14 22:24] Atternatt commented on #202
i take this, can you assign me @raulraja ?

[2017-08-14 22:44] pakoito commented on #173
Closed by #176

[2017-08-14 22:44] #173 closed

[2017-08-14 23:04] Atternatt opened #203 "Wrapper class for Set"
Create a Wrapper class for a Set

[2017-08-14 23:28] tonilopezmr commented on #202
https://github.com/kategory/kategory/blob/9e456fa278cd1b5d1398b78a336bc88cabdea653/kategory/src/main/kotlin/kategory/instances/ListKWInstances.kt#L7

and add `TraverseLaws` like this
https://github.com/kategory/kategory/blob/master/kategory/src/test/kotlin/kategory/data/ListKWTest.kt#L19

[2017-08-14 23:35] Atternatt opened #204 "Create Wrapper class for Map"

[2017-08-14 23:35] Atternatt opened #205 "Create Wrapper class for SortedMap"

[2017-08-15 01:20] pakoito opened #206 "Continuation monad"
https://wiki.haskell.org/Continuation

https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Cont.html

[2017-08-15 12:34] raulraja opened #207 "Wrapper and instances for `Sequence`"
https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.sequences/index.html
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/instances/stream.scala

[2017-08-17 14:04] #163 closed

[2017-08-17 14:27] JorgeCastilloPrz opened #211 "Add Reducible"
Add Reducible typeclass, laws and tests for it.

[2017-08-19 00:50] pakoito opened #213 "Deduplicate law tests"
For some data types and laws we have to run the same tests multiple times. For example, Id has both Monad and Comonad, and each have laws that require testing for Functor. This effectively means the same batch of tests gets run twice.

Deduplication should be simple if the tests are not immediately run, and are instead aggregated in a set where their name string is their identity.

[2017-08-19 01:10] pakoito commented on #165
Closed by #166

[2017-08-19 01:10] #165 closed

[2017-08-19 01:10] pakoito commented on #138
What's the status on this ticket?

[2017-08-20 17:16] #211 closed

[2017-08-20 17:32] pakoito opened #217 "Remove ExpressionBodySyntaxLineBreaks"
This task requires removing ExpressionBodySyntaxLineBreaks and cleaning up detekt's baseline. This will surface a log of MaxLineLength issues that need to be fixed by moving single-line expression body declarations to the next line.

Once completed, regenerate the baseline to stop other issues.

[2017-08-20 17:39] raulraja commented on #217
Thank you Jesus!

[2017-08-20 18:56] pakoito opened #218 "Document interop layer with KindedJ"

[2017-08-20 19:18] pakoito opened #219 "Do a pass on compiler warnings"
Run with `./gradlew test`, take a look at the warnings, and see if there's any quick win, shadowed variable, or other quick fixes that could be applied.

[2017-08-20 22:56] pakoito opened #220 "Comprehension/Effect cancellation"
Having a proper cancellation + cleanup mechanism will be important specially on Android to avoid leaking references to UI elements.

[2017-08-21 08:54] #202 closed

[2017-08-21 09:03] raulraja commented on #138
This was already merged and it's in master

[2017-08-21 09:03] #138 closed

[2017-08-21 09:43] #217 closed

[2017-08-21 11:27] JorgeCastilloPrz opened #223 "FunctorFilter"
Create this construct.

[2017-08-23 00:55] pakoito opened #225 "Examples Roadmap"
Description TBD

Libraries:
https://gist.github.com/i-am-tom/6eb66e40549cd161833db680103728d0 (Requieres recursion schemes)

[2017-08-23 14:09] #223 closed

[2017-08-23 14:13] JorgeCastilloPrz opened #226 "Add MonadFilter"
Add MonadFilter construct.

[2017-08-23 22:26] raulraja opened #229 "Automate release process based on version changes."
We need to automate the release process somehow while iterating before 1.0 to ensure merges to master that include a version change in some kind of version file release automatically to Bintray or central and prepares the next iteration. Something similar to what it can be accomplished with:
https://github.com/researchgate/gradle-release

[2017-08-25 10:22] #152 closed

[2017-08-27 03:18] pakoito commented on #220
JobW (#234) and Rx (#233) support work toward this goal.

[2017-08-28 13:41] pakoito opened #238 "MonadError instance for Option"
We need a MonadError instance for Option. You can base the implementation in Either's: https://github.com/kategory/kategory/blob/master/kategory/src/main/kotlin/kategory/instances/EitherInstances.kt#L31-L39 except Either.Left(exception) becomes Option.None

[2017-08-28 13:46] victorg1991 commented on #238
Me lo pido :D

[2017-08-28 23:09] pakoito commented on #238
It's there, just the monadError() call in the companion is missing.

[2017-08-31 00:08] pt2121 commented on #207
as discussed in slack, i'll take a stab at this

[2017-09-01 00:33] raulraja commented on #225
@pakoito github projects are limited for orgs like kategory, we should use instead waffle.io which is free and supports single board for multirepositories. For example https://waffle.io/frees-io/freestyle

[2017-09-02 20:32] pakoito opened #244 "Birecursive instance for Cofree"
I've given up on this implementation for now.

This is the reference implementation:

https://github.com/frees-io/iota/blob/master/modules/core/src/main/scala/iota/internal/catryoshka.scala#L160

This is as far as I went:

[code]

[2017-09-03 16:39] JorgeCastilloPrz opened #248 "Add MonadCombine"

[2017-09-03 17:10] JorgeCastilloPrz opened #249 "Add Alternative"

[2017-09-04 15:55] tonilopezmr opened #252 "Eval does not guarantee stack-safe"
Evidence of problems with Eval#flatMap in #240

In kategory
https://github.com/kategory/kategory/blob/master/kategory/src/main/kotlin/kategory/data/Eval.kt#L40

In cats
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Eval.scala#L81

[2017-09-04 21:51] tonilopezmr opened #253 "Add TraverseFilter"

[2017-09-04 22:29] raulraja opened #254 "Map wrapper and instances"
There is `Traverse`, `Semigroup` and `Monoid` instances for `Map` that we should add based on the kotlin std lib map.

Reference:
https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/instances/map.scala
https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/instances/map.scala

[2017-09-05 06:06] victorg1991 commented on #254
Can I take this one? 😇

[2017-09-05 19:30] #249 closed

[2017-09-05 20:00] JorgeCastilloPrz opened #257 "Add Bifoldable"
This is very related to `MonadCombine` being done in #248. I am probably opening a PR with both together. Working on both atm.

[2017-09-08 12:22] raulraja opened #260 "Add all possible implicit objects to manual instances"

[2017-09-09 20:58] pt2121 commented on #238
anyone working on this? can i take it?

[2017-09-09 23:20] pakoito commented on #238
Sure, go ahead!

[2017-09-09 23:21] #238 closed

[2017-09-11 09:19] pakoito opened #266 "Alias for applicative builders for Try and other evaluation-based datatypes"
Target: provide an API that looks like

`Try.parallel({ op1() }, { op2() }, { op3() }).fold({ error -> , tuple3Success -> })`

[2017-09-11 13:16] raulraja opened #268 "Integrate markdown docs with jekyll templates"
Current the branch `rr-option-docs` includes jekyll templates and markdown docs that need to be rendered inside those. The goal for this ticket is to be able to generate the entire doc site in the `kategory-docs` module

[2017-09-13 11:29] #260 closed

[2017-09-13 14:34] pakoito opened #272 "New detekt rules and features"
Rules:

- Line jump after expression body
- Enforce expression body for simple methods
- Flag compiler warnings, i.e. unused lambda parameters
- Enforce explicit return type, including Unit

Kategory rules:

- Provide implicit object for instances
- Companion object must have constructor for all instances

Other features:

- Whitelist generated code

[2017-09-13 16:12] #257 closed

[2017-09-13 22:06] pakoito opened #274 "Syntax for kategory-effects-rx2"
https://github.com/kategory/kategory/pull/233#issuecomment-324806528

[2017-09-13 23:02] pakoito opened #275 "Add recursion's Mu"
It didn't quite work *sigh*

https://github.com/kategory/kategory/commit/0fcf6a50757dd6f2c0c484e9e41126c708e83990

[2017-09-14 09:47] pakoito opened #276 "New syntax module"
As we're approaching release we need a better story about importing syntax. Syntax in this context are the collection of extension functions used to provide functionality based off typeclasses and datatypes. For example:

https://github.com/kategory/kategory/blob/master/kategory-core/src/main/kotlin/kategory/typeclasses/Functor.kt#L28

https://github.com/kategory/kategory/blob/master/kategory-core

[2017-09-14 10:29] raulraja commented on #276
I think `syntax` should not require a new dependency, just an import:
[code]
If users are required to include an extra dependency to just get syntactic sugar many will choose not to use it leading to more convoluted code.

[2017-09-14 10:39] pakoito commented on #276
Right now due to how extension functions work syntax adds many methods that are not part of the required machinery. We could have a separate artifact and allow removing it as a transitive dependency with maven/gradle to trim the library's size down. So opt-out instead of opt-in.

[2017-09-14 16:45] #248 closed

[2017-09-14 16:45] #226 closed

[2017-09-15 12:00] JorgeCastilloPrz commented on #276
I vote for @pakoito 's option also since that would be imported by default but you still have the change to exclude it on your compilation

[2017-09-15 12:04] JorgeCastilloPrz commented on #275
Which was the problem with that implementation?

[2017-09-15 12:07] raulraja commented on #276
I still find syntax in a different jar as a bad idea for usage, anything not in core will get relegated to specific use cases and code snippets that people share won't compile in kategory for most users. This is trivial and common and part of syntax:
[code]
That will not compile unless you add the dependency for syntax. A user sharing that and another pasting it won't compile unless they are aware

[2017-09-15 14:35] pakoito commented on #275
The types never quite aligned correctly. Recursion schemes are a special kind case that's trickier than usual. In Scala they look like oneliners, yet they're meatier and harder to understand than most impls I've done before.

[2017-09-15 14:46] pakoito commented on #266
Closed by @anstaendig

[2017-09-15 14:46] #266 closed

[2017-09-15 14:48] pakoito commented on #174
Depends on https://github.com/kategory/kategory/issues/272

[2017-09-15 14:48] pakoito commented on #181
Depends on https://github.com/kategory/kategory/issues/272

[2017-09-15 14:51] pakoito commented on #110
Closed by #233

Syntax in #274

[2017-09-15 14:51] #110 closed

[2017-09-15 18:12] nomisRev commented on #276
@raulraja if it's an opt-out instead of an opt-in like @pakoito suggested than

would only valid for people that explicitly opted out. Which I doubt is going to happen often.

I am unsure if we need to go as far as putting it in a separate module since I don't feel the syntax package would be that big. 50~75 methods? Are we expecting it to dramatically grow? Or is there another reason you'd want p

[2017-09-15 19:59] pakoito commented on #276
Okay, I don't want to get ahead of myself. Let's take the next release and do some metrics on it to see our current size and method count.

[2017-09-15 23:00] #253 closed

[2017-09-15 23:17] pakoito opened #280 "Rx2 Flowable Kategory Wrapper"
Duplicate ObservableKW for rx.Flowable, in https://github.com/kategory/kategory/tree/master/kategory-effects-rx2/src/main/kotlin/kategory/effects/data

[2017-09-15 23:19] pakoito commented on #280
Assigned to @anstaendig

[2017-09-15 23:28] pakoito commented on #207
Closed by #241

[2017-09-15 23:28] #207 closed

[2017-09-15 23:31] pakoito commented on #160
Duplicated #213

[2017-09-15 23:31] #160 closed

[2017-09-15 23:32] pakoito commented on #104
We've gotten as far as we wanted. Special thanks to @tonilopezmr, @Guardiola31337 and @JorgeCastilloPrz

[2017-09-15 23:32] #104 closed

[2017-09-16 14:27] pakoito opened #282 "Order typeclass"
As seen in https://leanpub.com/fpmortals/read#leanpub-auto-objecty-things

[2017-09-16 14:30] pakoito opened #283 "Invariant and Contravariant Functors"
https://leanpub.com/fpmortals/read#leanpub-auto-variance

[2017-09-16 14:31] pakoito opened #284 "Apply and Divide typeclasses"
https://leanpub.com/fpmortals/read#leanpub-auto-everything-but-pure

https://leanpub.com/fpmortals/read#leanpub-auto-divide-and-conquer

[2017-09-19 09:32] pakoito opened #291 "Foldable and Traverse instances for Rx2 datatypes"
Model after SequenceKW: https://github.com/kategory/kategory/pull/290#discussion_r139573486

[2017-09-19 10:55] pakoito opened #292 "Review our Monad Transformers stack"
We currently have several MonadTransformers embedded in the library, like `Either#toOption()`. If we're encouraging people to adopt MTL style we should provide with a new module containing some common MonadTransformers between our classes, along with syntaxis.

[2017-09-19 12:34] pablisco opened #294 "Improve the deployment process"
Need to improve the way the deployment script resolved the version.

Some suggestions are to use this:
https://github.com/mockito/shipkit

Other suggestions welcomed.

[2017-09-19 14:12] #292 closed

[2017-09-19 17:12] pablisco opened #295 "Use Kotlin for build files"
It would be nice to use Kotlin for the build files because the tooling is must better. This gradle feature is still experimental, but may be worth a shot.

[2017-09-19 17:16] pablisco opened #296 "Enable caching"
We may be able to speed up the builds (a little) with some Travis cache.

[2017-09-21 10:00] raulraja opened #300 "Add typealiases for public APIs currently nested in their datatypes."
Currently in order to call `Some` directly in code we need to first `import kategory.Option.*`.
Ideally one can use all the nested public datatypes without imports.
We should:
[code]
And same for `Left`, `Right` and others that are part of the public API.
Also all current references inside Kategory that use the extended names such as `Option.Some` should be refactored to use the new type aliases.

[2017-09-21 13:37] raulraja opened #303 "Compile list of additional sources for each one of the typeclasses and data types"
To be provided as additional reference at the end of each doc.

[2017-09-22 11:15] pakoito opened #307 "Add integration library for Kovenant"
Kovenant is one of the up-and-coming libraries for concurrency on Kotlin. We'd like to support it!

[2017-09-22 22:06] raulraja opened #309 "Introduce KDoc in all classes as is done in `kategory-optics`"
@nomisRev thanks for the good examples

[2017-09-24 21:07] #254 closed

[2017-09-24 22:01] raulraja opened #311 "Documentation Status"
Steps to contribute documents:
1. Pick a section not already :heavy_check_mark:  and claim it with a comment on the issue.
2. Clone this repository `git clone git@github.com:arrow-kt/arrow.git`
3. Docs are at `arrow-docs/docs/docs`
4. Build docs with `./gradlew clean :arrow-docs:clean :arrow-docs:runAnk`
5. Preview site with `~/.gem/ruby/2.4.0/gems/jekyll-3.5.2/exe/jekyll serve --source arrow-docs

[2017-09-24 22:02] raulraja opened #312 "`Try` Docs"

[2017-09-24 22:03] raulraja opened #313 "`Ior` Docs"

[2017-09-24 22:04] raulraja opened #314 "Reader (and ReaderT) docs"
They must be added **using kdocs** over the data type.

[An old PR](https://github.com/arrow-kt/arrow/pull/1062/files) got closed because of no changes in a very long time but had some `Reader` docs that we could use as a reference to write kdocs for `Reader` and `ReaderT`.

[2017-09-24 22:06] raulraja opened #315 "`Kleisli` docs"

[2017-09-24 22:08] raulraja opened #316 "`State` docs"

[2017-09-24 22:08] raulraja opened #317 "`StateT` docs"

[2017-09-24 22:10] raulraja opened #318 "`WriterT` docs"

[2017-09-24 22:10] raulraja opened #319 "`Trampoline` docs"

[2017-09-24 22:10] raulraja opened #320 "`Coproduct` docs"

[2017-09-24 22:11] raulraja opened #321 "`NonEmptyList` docs"

[2017-09-24 22:11] raulraja opened #322 "`ListKW` docs"

[2017-09-24 22:12] raulraja opened #323 "`SequenceKW` docs"

[2017-09-24 22:12] raulraja opened #324 "`SetKW` docs"

[2017-09-24 22:12] raulraja opened #325 "`Free` docs"

[2017-09-24 22:13] raulraja opened #326 "`FreeApplicative` docs"

[2017-09-24 22:13] raulraja opened #327 "`Cofree` docs"

[2017-09-24 22:13] raulraja opened #328 "`Coyoneda` docs"

[2017-09-24 22:13] raulraja opened #329 "`Yoneda` docs"

[2017-09-24 22:14] raulraja opened #330 "`FunctorFilter` docs"

[2017-09-24 22:14] raulraja opened #331 "`ApplicativeError` docs"

[2017-09-24 22:14] raulraja opened #332 "`Foldable` docs"

[2017-09-24 22:14] raulraja opened #333 "`Traverse` docs"

[2017-09-24 22:14] raulraja opened #334 "`TraverseFilter` docs"

[2017-09-24 22:16] raulraja opened #335 "`Monad` docs"

[2017-09-24 22:17] raulraja opened #336 "`MonadFilter` docs"

[2017-09-24 22:17] raulraja opened #337 "`MonadReader` docs"

[2017-09-24 22:17] raulraja opened #338 "`MonadWriter` docs"

[2017-09-24 22:17] raulraja opened #339 "`MonadState` docs"

[2017-09-24 22:17] raulraja opened #340 "`MonadCombine` docs"

[2017-09-24 22:18] raulraja opened #341 "`MonadError` docs"

[2017-09-24 22:18] raulraja opened #342 "`SemigroupK` docs"

[2017-09-24 22:18] raulraja opened #343 "`MonoidK` docs"

[2017-09-24 22:18] raulraja opened #344 "`Bifoldable` docs"

[2017-09-24 22:18] raulraja opened #345 "`Bimonad` docs"

[2017-09-24 22:19] raulraja opened #346 "`Comonad` docs"

[2017-09-24 22:19] raulraja opened #347 "`Order` docs"

[2017-09-24 22:19] raulraja opened #348 "`Eq` docs"

[2017-09-24 22:19] raulraja opened #349 "`IO` docs"

[2017-09-24 22:19] raulraja opened #350 "`Async` docs"

[2017-09-24 22:20] raulraja opened #351 "`Iso` docs"

[2017-09-24 22:20] raulraja opened #352 "`Optional` docs"

[2017-09-24 22:20] raulraja opened #353 "`Prism` docs"

[2017-09-24 22:23] raulraja opened #354 "`Monad Comprehensions` docs"

[2017-09-24 22:23] raulraja opened #355 "`Comonad Comprehensions` docs"

[2017-09-24 22:24] raulraja opened #356 "`Applicative Builder` docs"

[2017-09-24 22:24] raulraja opened #357 "`Polymorphic programs` docs"

[2017-09-24 22:24] raulraja opened #358 "`Free Algebras` docs"

[2017-09-24 22:24] raulraja opened #359 "`Error Handling` docs"

[2017-09-24 22:25] raulraja opened #360 "`Dependency Injection` docs"

[2017-09-24 22:25] raulraja opened #361 "`Monad Transformers` docs"

[2017-09-24 22:25] raulraja opened #362 "`Concurrency` docs"

[2017-09-24 22:25] raulraja opened #363 "`Rx2` docs"

[2017-09-24 22:25] raulraja opened #364 "`Credits` docs"

[2017-09-24 22:26] raulraja opened #365 "`License` docs"

[2017-09-24 22:27] raulraja opened #366 "`Quick Start` docs"

[2017-09-24 22:36] raulraja opened #367 "`Ank` docs"
To be hosted under `kategory-docs` for now.

[2017-09-24 22:52] raulraja commented on #324
/cc @victorg1991

[2017-09-24 22:53] raulraja commented on #323
/cc @pt2121

[2017-09-24 23:51] pt2121 commented on #323
will do :+1:

[2017-09-25 11:13] ahdezma commented on #312
Si nadie se opone, me lo pido 😛

[2017-09-25 22:01] #359 closed

[2017-09-26 14:31] pakoito opened #371 "Add kategory-effects-kovenant"

[2017-09-26 14:32] pakoito opened #372 "Add kategory-effects-architecturecomponents"

[2017-09-28 09:38] pakoito commented on #307
Duplicated from #371

[2017-09-28 09:38] #307 closed

[2017-09-28 09:38] pakoito commented on #282
Completed by @nomisRev!

[2017-09-28 09:38] #282 closed

[2017-09-28 09:39] pakoito commented on #280
Completed by @anstaendig! Cheers :D

[2017-09-28 09:39] #280 closed

[2017-09-28 09:40] pakoito commented on #220
Completed by #290

[2017-09-28 09:40] #220 closed

[2017-09-28 09:41] pakoito commented on #118
Completed by #264

[2017-09-28 09:41] #118 closed

[2017-09-28 09:42] pakoito commented on #203
Closed by #247

[2017-09-28 09:42] #203 closed

[2017-09-28 09:43] pakoito commented on #204
Closed by #310

[2017-09-28 09:43] #204 closed

[2017-09-29 21:49] raulraja opened #374 "Support type args bounds in @higherkind"
upperbound/lowerbounds constrains are currently not respected when generating kinds representations:
[code]
Generates:
[code]
Which does not include the `D: SuperHeroesContext` failing to compile

[2017-09-29 21:55] raulraja opened #375 "Support type args bounds in @instance"
For an instance with type args that includes bounds constrains like the one below:
[code]
It generates:
[code]
which does not include the bound constrains `D: SuperHeroesContext`

[2017-10-01 20:24] pakoito opened #383 "Add missing Eq instances"
Several Eq instances are missing, i.e. Option, Either...

https://github.com/kategory/kategory/pull/382#discussion_r142039693

[2017-10-02 00:35] #348 closed

[2017-10-03 16:59] nomisRev commented on #351
Fixed by PR #376

[2017-10-03 16:59] #351 closed

[2017-10-03 17:08] nomisRev opened #388 "`Setter` docs"

[2017-10-03 17:09] nomisRev opened #389 "`Getter` docs"

[2017-10-03 17:10] nomisRev opened #390 "`Fold` docs"

[2017-10-03 17:10] nomisRev opened #391 "`Traversal` docs"

[2017-10-03 17:20] nomisRev opened #392 "`Optics` docs"

[2017-10-03 17:45] #353 closed

[2017-10-05 22:34] raulraja opened #396 "Improve `ank` output when `eval` hangs because snippets contain coroutines or inline reified"
Certain valid Kotlin code makes the script engine hang for a long time internally trying to resolve variable scopes on an infinite loop. We can improve `ank` to have reasonable timeouts monitoring the job and warn to the terminal periodically while the job hangs. Some of them eventually complete even after a minute.

[2017-10-08 15:27] pakoito commented on #154
I've created laws for Eq in this ticket: https://github.com/kategory/kategory/pull/382 The progress to add missing instances can be followed in #383

[2017-10-08 15:27] #154 closed

[2017-10-09 14:47] #313 closed

[2017-10-10 16:40] #352 closed

[2017-10-10 23:15] pakoito opened #402 "Bimonad for Eval"
Implement Bimonad for Eval. The only requirement is to add Bimonad to the @derived clause in Eval.kt, and add the methods extract and coflatmap as done in cats:

https://github.com/typelevel/cats/blob/dab28d71a7a106767fe557f3647ab03d4721466f/core/src/main/scala/cats/Eval.scala#L378-L385

[2017-10-11 22:06] #323 closed

[2017-10-13 15:38] #389 closed

[2017-10-13 16:31] #291 closed

[2017-10-20 06:01] aedans commented on #402
[https://github.com/kategory/kategory/pull/409](url)

[2017-10-20 06:46] krishnarb3 commented on #205
Hello, I would like to take this up. Can you explain what exactly is to be done, I am new to this project.

[2017-10-20 06:56] krishnarb3 commented on #274
Is this issue done?

[2017-10-20 08:59] #402 closed

[2017-10-20 09:01] pakoito commented on #402
Thank you very much for your contribution! I see that you've got our version of deriving and laws nailed down first try :D

[2017-10-20 09:05] pakoito commented on #274
Hi Krishna! It isn't done yet, no. Feel free to take it, although I have to warn you, it is a challenging task for your first contribution!

[2017-10-20 09:08] pakoito commented on #402
I've checked your background, you seem quite experienced with this kind of project. Ping us on our gitter (https://gitter.im/kategory/Lobby) if you'd like to chat about internals or work on larger tickets :D

[2017-10-20 09:19] pakoito commented on #205
Hi @krishnarb3! Sure, the PR will be quite similar to the wrapper for regular maps. @victorg1991 completed that some weeks ago, so you can take a look at his job: https://github.com/kategory/kategory/pull/310/files

[2017-10-20 10:13] victorg1991 commented on #205
@krishnarb3 If you have any question about it I'll be happy to answer it :D

[2017-10-20 10:16] krishnarb3 commented on #205
Thanks both of you, I'm going through the operator and the PR. Will definitely ask you once I'm done 😁 @victorg1991

[2017-10-20 10:17] krishnarb3 commented on #205
Also do we have an irc/slack channel/mailing list for kategory?

[2017-10-20 10:20] pakoito commented on #205
Yes, try https://gitter.im/kategory/Lobby!

[2017-10-20 22:10] aedans commented on #375
#410

[2017-10-20 22:43] #375 closed

[2017-10-20 23:36] aedans commented on #374
#411

[2017-10-21 00:53] #374 closed

[2017-10-21 09:20] #390 closed

[2017-10-21 21:39] pakoito commented on #175
Done

[2017-10-21 21:39] #175 closed

[2017-10-21 21:43] pakoito commented on #354
I've taken a stab at this one in the patterns folder.

[2017-10-22 09:00] #388 closed

[2017-10-22 13:34] #391 closed

[2017-10-22 13:43] pakoito commented on #354
Merged https://github.com/kategory/kategory/pull/414

[2017-10-22 13:43] #354 closed

[2017-10-22 19:05] nomisRev commented on #392
Any1 can guide me in a good direction? Perhaps some good reads for inspiration? This is one of the best examples of Optics I know https://github.com/circe/circe/blob/master/modules/optics/src/main/scala/io/circe/optics/JsonPath.scala

[2017-10-22 19:52] raulraja commented on #392
@nomisRev I'd encourage you to talk directly to @travisbrown and @julien-truffaut. They are some of the nicest guys I've had the chance to meet in the Scala community and may be able to point you to some examples or direction on where to get those.

[2017-10-23 23:06] pakoito commented on #312
@ahdezma me gustaría tener Try antes del viernes. Te ves fuerte, o te la mango descaradamente? :D

[2017-10-23 23:10] pakoito commented on #396
Temporary fix to avoid timeouts: https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received

[2017-10-23 23:14] pakoito opened #423 "Follow-up: travis timeout"
I've directly pushed to master a change to force CI to wait up to 30 minutes for the build to finish: https://github.com/kategory/kategory/commit/ddcccafc0f48ffe7e53517583682e617af73b16c

This is because at the moment runAnk can spend 10+ minutes without returning any input, causing the build to timeout. See https://github.com/kategory/kategory/issues/396

This PR is to check tomorrow morning whet

[2017-10-24 07:35] ahdezma commented on #312
Entre hoy y mañana subo un draft de lo que tengo, para que le eches un vistazo :)

[2017-10-24 13:46] pakoito commented on #423
It broke the builds even worse. I've reverted it.

[2017-10-24 13:46] #423 closed

[2017-10-24 13:46] pakoito commented on #423
Commit: https://github.com/kategory/kategory/commit/152bb692f4105c3acfca44ab3c78c5626143d99e

[2017-10-24 14:25] #383 closed

[2017-10-26 19:46] nomisRev opened #425 "Invalid table markdown in optics docs"
It seems that markdown I used for tables is incorrect.

http://kategory.io/docs/optics/getter/#composition

[2017-10-28 09:06] #316 closed

[2017-10-28 12:10] aballano commented on #425
@nomisRev I checked in Github and [it renders fine](https://github.com/kategory/kategory/tree/master/kategory-docs/docs/docs/optics/getter), any idea why should it fail? Do we know what kind of markdown are we using for the page, like, is it different from Github's?

[2017-10-29 01:35] #349 closed

[2017-10-29 18:38] pakoito commented on #350
Closed by https://github.com/kategory/kategory/pull/415

[2017-10-29 18:38] pakoito commented on #363
Closed by https://github.com/kategory/kategory/pull/426

[2017-10-29 18:39] #363 closed

[2017-10-29 18:39] #350 closed

[2017-10-30 02:49] dgoetsch opened #430 "Documentation maven url is incorrect"
Creating an issue for continuity..

I noticed that the documentation has the wrong maven url for setting up a project, `https://kotlin.bintray.com/kotlinx` should be `https://dl.bintray.com/kategory/maven`

I've created an MR to fix the docs:
https://github.com/kategory/kategory/pull/429

Cheers!

[2017-10-30 02:54] pakoito commented on #213
The point where functions should be deduplicated is here: https://github.com/kategory/kategory/blob/9c81e7a0d0964502fbdd748b23169e80f2022c6e/kategory-test/src/main/kotlin/kategory/UnitSpec.kt#L12

Make testLaws take a vararg of List<Law> that removes duplicates based off Law#name: https://github.com/kategory/kategory/blob/9c81e7a0d0964502fbdd748b23169e80f2022c6e/kategory-test/src/main/kotlin/kateg

[2017-10-30 02:56] dgoetsch opened #431 "Dependency Injection Documentation"
I've been reading through the kategory documentation.  I found this page for dependency injection:
http://kategory.io/docs/patterns/dependency_injection/

Unfortunately, its still labeled as TODO.  I found the `Inject` interface, but I still haven't figured out how to use it.

I'd be happy to propose some docs and create some examples, but I think that first I need to have a conversation - I'm not

[2017-10-30 02:59] pakoito commented on #431
Our current focus is documentation, we've been mostly on feature lockdown for the whole month. Dependency Injection should be available soon, as tracked in (https://github.com/kategory/kategory/issues/360)

Meanwhile, @JorgeCastilloPrz has a good intro to DI with reader monad on Medium: https://medium.com/@JorgeCastilloPr/kotlin-dependency-injection-with-the-reader-monad-7d52f94a482e

[2017-10-30 03:50] dgoetsch commented on #431
Thanks @pakoito!

[2017-10-30 03:50] #431 closed

[2017-10-30 09:06] ColinHebert opened #432 "Native kotlin null management to Option conversion"
Would it make sense to have tools to allow a quick conversion from kotlin native way of handing nulls (`Object?`) to kategory's way of dealing with it (`Option<Object>`).

It's pretty trivial to do and can allow easy conversions:

[code]

Arguably it could also be `fun <T : Any> T?.toOption(): Option<T> = Option.fromNullable(this)` for the first one, but really anything will do.

[2017-10-30 10:40] pakoito commented on #432
We'd happily accept a PR with it, and IIRC @ffgiraldez already proposed it. If you don't want to make the PR yourself, any of our maintainters will happily do it, as it's short :D

[2017-10-30 10:55] ColinHebert commented on #432
Awesome, I wanted to sanity check that change in case someone else already suggested it and it was refused for good reasons I might ignore.

[2017-10-31 14:24] nomisRev opened #436 "Multi-thread Observables should run on their required threads FAILED"
Second time I have encountered this in 1 week.

kategory.effects.ObservableKWTest > ObservableKWTest.Multi-thread Observables should run on their required threads FAILED
    java.lang.AssertionError

[2017-10-31 14:25] pakoito commented on #436
Is it intermittent or consistent? Could you please run with -i to get the full stack.

[2017-10-31 14:28] nomisRev commented on #436
It is intermittent. I restarted build because it was release build on master.
I shall add the `-i` flag in the after deploy commit so we can monitor it.

[2017-11-04 05:27] pakoito opened #440 "Prototype: support for Kotlin JS"
Just as a fun proof of concept see what would be required to make the library compatible with kotlin-js: https://github.com/JetBrains/kotlin/tree/master/js

Places where we use JVM classes:
https://github.com/kategory/kategory/search?utf8=%E2%9C%93&q=import+java.&type=

[2017-11-04 05:27] pakoito commented on #440
Dual of https://github.com/kategory/kategory/issues/186

[2017-11-05 22:39] NathanQuinn commented on #425
It's rendering the same html in both locations, the difference is just in the css between github and that of the doc site.

@israelperezglez looking at https://github.com/kategory/kategory/blob/master/kategory-docs/docs/css/kategory.css#L102-L107 seems like you may be the person to discuss modifying this with.

[2017-11-05 22:47] #336 closed

[2017-11-06 08:44] groodt commented on #213
We should be able to close this now?

[2017-11-06 09:43] #213 closed

[2017-11-06 09:50] #300 closed

[2017-11-06 19:40] Cotel commented on #205
@krishnarb3 Are you still working on this Issue? I would like to take it if you dont mind 😄

[2017-11-06 21:44] raulraja commented on #425
Talked to @israelperezglez , he is gonna help us fix it.

[2017-11-09 04:48] nomisRev commented on #425
fixed by #450

[2017-11-09 04:48] #425 closed

[2017-11-09 23:14] #347 closed

[2017-11-11 06:30] pakoito opened #452 "Add talks & conferences in the documentation"
Add a new section with talks & conferences about Kategory and its uses

[2017-11-11 06:32] pakoito opened #453 "Add example apps & libraries in the documentation"
Add a new section in the documentation that links to known projects & examples using Kategory

[2017-11-11 06:33] pakoito opened #454 "Add Kategory example to googlesamples/android-architecture"
Add an example of how to build an FP architecture in Android to https://github.com/googlesamples/android-architecture

[2017-11-11 06:33] pakoito commented on #454
@JorgeCastilloPrz is this something you'd be excited about? :D

[2017-11-11 09:51] JorgeCastilloPrz commented on #454
Definitely. I'll open the first [required issue](https://github.com/googlesamples/android-architecture/blob/master/CONTRIBUTING.md) asking for "permission" to build it.

[2017-11-11 10:12] JorgeCastilloPrz commented on #454
[Here](https://github.com/googlesamples/android-architecture/issues/461) it is @pakoito . Please provide any further comments that you find important on the issue, if I forgot to mention anything!

Also, take into account that this would be the "formal approach" to start the development flow over that repo, so we need to wait for them to give permission.

Hooray!

![crazy dance](https://media.giph

[2017-11-11 10:54] JorgeCastilloPrz commented on #452
I guess it should be part of the website?

[2017-11-11 16:36] nomisRev commented on #440
Perhaps we could start with moving syntax #276?

I think our biggest issue is the lookup system, so we have to move all reified methods to a jvm module and we have to think about `@JvmStatic` that is used in `deriving` and `instance` although if I remember correctly `@JvmStatic` is available in kotlin-js (???).

I am afraid it's not just `import java`.

[2017-11-11 16:49] JorgeCastilloPrz commented on #454
Ok. @JoseAlcerreca gave the green light. The idea is to take a look at the resting samples and try to implement something equivalent using Kategory. Architecture samples seem to be quite basic but understandable enough, so the main concern is to make the sample readable and didactic.

[2017-11-11 17:02] pakoito commented on #454
Cool, let's have a chat later with @raulraja about which style we'd like to have represented.

[2017-11-11 17:03] JorgeCastilloPrz commented on #454
One question. I guess the most basic and didactic approach could be a stack of transformers? Not sure if going further for tagless final or Free is a good idea for a blueprint. Ideas?

[2017-11-11 17:05] JorgeCastilloPrz commented on #454
Also, feels like they don't integrate all the PRs but mainly link to them as "external samples". Not sure if then we might want to push it under the kategory org or what. [Mostly following this](https://github.com/googlesamples/android-architecture/issues/412)

[2017-11-11 18:06] JorgeCastilloPrz commented on #454
Ok they clarified now: Separate repo to link it from README.
https://github.com/googlesamples/android-architecture/issues/461#issuecomment-343681827

So it would be time to discuss what the sample should be showcasing, and if we want to write a new one under the kategory org, or we might just use my sample KotlinAndroidFunctional repo to keep the work over it (which already provides different appr

[2017-11-11 18:10] pakoito commented on #454
I'd rather it was within the org, so I can work on it too (legal requirements etc)

[2017-11-11 23:18] JorgeCastilloPrz commented on #454
No problem with that. Let's work on it here.

[2017-11-12 00:18] pakoito opened #455 "Implement Comonad Store and StoreT"

[2017-11-12 00:21] pakoito opened #456 "Implement Comonad Stream"

[2017-11-12 16:23] raulraja commented on #454
I think the Monad transformers style with a thin wrapper over the `typealias` based on extension functions is what it would be easier for users to understand. I'd preffer tagless but given how complex the inline reified biz is at the moment for type classes it's gonna be easier to do a :
[code]
where each extension exposes the API the user needs to operate and hides any explicit instances required

[2017-11-12 16:28] JorgeCastilloPrz commented on #454
Sounds good 👍

[2017-11-12 18:40] krishnarb3 commented on #205
Sorry for the late response, i wasn't online for a while.
Also amazing work on the PR, I'll look into some other issue that I can contribute to.
Cheers :D

[2017-11-13 10:41] pakoito opened #459 "Rename instances of apply to operator invoke"
In some of the classes ported from cats, like Yoneda and Coyoneda, we're using Scala's apply instead of Kotlin's invoke.

Yoneda: https://github.com/kategory/kategory/search?utf8=%E2%9C%93&q=Yoneda.apply&type=

Coyoneda: https://github.com/kategory/kategory/blob/master/kategory-core/src/main/kotlin/kategory/free/Coyoneda.kt#L26-L28

[2017-11-13 13:23] raulraja opened #460 "Ensure all instances of `Semigroup` and `Monoid` are tested with laws"
Laws available since:
https://github.com/kategory/kategory/pull/451

[2017-11-13 13:25] Cotel commented on #460
I can take care of this 💪

[2017-11-13 13:51] voghDev commented on #459
I'll go with this one

[2017-11-13 20:36] #459 closed

[2017-11-14 08:27] nomisRev opened #462 "Error message autofold"
Improve error messages for sealed classes that fold can not be generated for.

[code]

[code]

[2017-11-16 15:34] JorgeCastilloPrz opened #465 "Add HK emulation explanation to the docs and link it on readme"
I knew this guy on the Kotlinconf and even if he is an OOP developer he has a good average knowledge on FP. He is trying to use the lib after seeing our talks and reading some posts etc, and he had big doubts on how to align types properly because he wasn't aware of what's HK for us and how we emulate them.

This is the conversation we had today:
<img width="1346" alt="captura de pantalla 2017-11-

[2017-11-16 20:15] pakoito opened #466 "New module: kategory-nullable"
Based off this gist, it can be proved that null types have the same capabilities as Option, it's just a case of writing the instances.

https://gist.github.com/pakoito/91c01237217483b7be509996b243cf28

The only tricky part is that we cannot provide an isomorphism using subclassing to be used in instances, so a hack may be required:

[code]

[2017-11-18 08:40] JorgeCastilloPrz commented on #454
@kategory/maintainers [the repo](https://github.com/kategory/kategory/issues/454) is ready to start working on top of it.

Some basic but key things to notice (those are already described in the readme, but I'll paste them here):
* We want to cover the same use cases and replicate the same screens the original repo has (already implemented on this repo by Google but under a basic Kotlin style). So

[2017-11-19 14:54] pakoito opened #469 "Add bindIn(CoroutineContext, AsyncContext)"
Helper function to avoid having to write an extra suspend constructor in bindIn blocks.

Thanks @JcMinarro for inspiring me to writing it.

[2017-11-19 15:11] pakoito commented on #469
Also add a note on IO docs about runAsync that it doesn't start executing immediately as it returns another unstarted IO instance.

[2017-11-22 22:53] raulraja opened #472 "Provide support to bypass the ScriptEngine and just compile with `kotlin:ank:compile`"

[2017-11-23 13:29] pakoito opened #474 "MonadIO/MonadBaseControl"
Taken from: http://www.parsonsmatt.org/2017/11/21/monadbasecontrol_in_five_minutes.html

[2017-11-23 21:02] #317 closed

[2017-11-23 21:05] nomisRev commented on #312
Closed by #458

[2017-11-23 21:05] #312 closed

[2017-11-25 21:00] #469 closed

[2017-11-26 10:30] JorgeCastilloPrz commented on #466
But wouldn't we end up creating Option again? Option is already the way to represent explicit nullability with a type.

[2017-11-26 12:38] pakoito commented on #466
Yes, after tinkering with it I thought it wouldn't be a good idea.

[2017-11-26 12:38] #466 closed

[2017-11-26 22:10] pakoito opened #481 "Add google analytics to kategory.io & docs"
https://stackoverflow.com/a/43574656/1266326

https://github.com/jekyll/minima/blob/master/_includes/google-analytics.html

https://github.com/jekyll/minima/blob/master/_config.yml

[2017-11-27 00:44] #481 closed

[2017-11-27 08:54] israelperezglez opened #483 "Fix style.css"
We will delete style.css in docs folder, because we don't use this file

[2017-11-27 09:35] #483 closed

[2017-11-27 15:19] jmfayard opened #486 "Examples-based tests"
Hello,
kategory.io has not yet complete documentation for everything, which is ok since Rome was not built in one day
So I dived into the tests to try to grasp how this works and discovered that you have powerful laws-based testing. But since we learn first by seeing an example and then generalizing, why not combine that with more traditional examples-based unit tests? Those more concrete examples

[2017-11-27 16:35] pakoito commented on #486
@jmfayard we'd be happy to add a new module kategory-examples containing such tests, snippets, and larger examples. Would you be willing to become a contributor and add them as you learn more about the lib? I could have a skeleton done for you to start in this week.

[2017-11-27 16:51] jmfayard commented on #486
yes! @pakoito

[2017-11-27 17:08] pakoito commented on #486
Cool, I'll get on it and update you here :D

[2017-11-28 11:49] pakoito opened #488 "Make `ev()` and Higher Kind support a typeclass"
Pros:
No need for wrappers unless strictly necessary and the glue code can be implemented directly on the instances
No need to remember subclassing
Trivial codegen implementation under our control

Cons:
Instance lookup on every downcast, perf hit

[2017-11-29 00:30] raulraja commented on #488
Show me the code :tada: !
What would this look like from the point of view of what we have now usage wise?

[2017-11-29 00:36] pakoito commented on #488
Nevermind, just PoC in the online codepad and it wouldn't work.

[2017-11-29 00:36] #488 closed

[2017-12-02 18:24] pakoito commented on #486
PR sent, I'll get it approved ASAP and feel free to start hacking now :D

[2017-12-02 18:37] #486 closed

[2017-12-02 22:08] raulraja opened #493 "Add `Inclusiveness` section to Quick Start"
Add `Inclusiveness` section to Quick Start to direct beginners and guide them trough the most simple concepts to the most complex ones at a reasonable learning pace. TBD with Arrow

[2017-12-02 22:19] raulraja opened #494 "Adopt comparative style old Vs FP in docs"
Similiar to how we show traditional ways to deal with the concerns we are trying to solve in https://github.com/kategory/kategory/blob/master/kategory-examples/src/test/kotlin/kategory/DataTypeExamples.kt#L86 each doc where possible should include a comparison where a piece of `traditional` code or simple problem is laid out as solved in a OOP or imperative style Vs what the FP alternative is.

[2017-12-02 22:43] raulraja opened #495 "Add `Edit` button in docs"
Add `Edit` button to docs with link to github's editor

[2017-12-02 22:45] raulraja opened #496 "Tag docs sections with `beginner`, `intermediate`, `advanced`"
So that users know when it's natural to feel lost when they are starting and they get relevant links to continue literature around concepts considered more advanced.

[2017-12-05 16:57] fgaule opened #498 "traverse sample code"
It would be really useful for beginners to have an example of how to traverse, for example a `Try`
from: Try<Sequence<List<Try<Int>>>>  to Try<Sequence<Try<Int>>>

I have tried to find an example in docs or kdoc without success :(

Thanks!

[2017-12-05 20:24] pakoito commented on #452
Done by #479

[2017-12-05 20:24] #452 closed

[2017-12-05 20:24] pakoito commented on #453
Done by #479

[2017-12-05 20:24] #453 closed

[2017-12-05 20:25] pakoito commented on #366
Done by #479

[2017-12-05 20:25] #366 closed

[2017-12-05 20:25] pakoito commented on #365
Done by #479

[2017-12-05 20:25] #365 closed

[2017-12-05 20:26] pakoito commented on #498
I believe @JorgeCastilloPrz worked the most with it, as he also has the docs ticket: https://github.com/kategory/kategory/issues/333

[2017-12-08 02:05] vdubedout opened #499 "Android Proguard - Can't find references method 'kategory.EitherT fromEither"
Hi,

First of all thanks for the library, I'm trying to get the hand of it :)

For now, When I'm trying to compile with proguard I get this error.

[code]

I have only used `implementation 'io.kategory:kategory:0.3.11'` in my app.gradle with Android Studio 3.0

Any idea how I can solve this?

[2017-12-08 02:09] pakoito commented on #499
Hello! Have you made sure to keep all companion objects for all classes in kategory?

[2017-12-08 02:11] raulraja commented on #499
@pakoito what those methods also seem to share in common is `inline reified. A few of them are annotated with `@JVMStatic`

[2017-12-08 02:18] vdubedout commented on #499
@pakoito What do you mean by keeping the companion objects?

[2017-12-08 02:22] pakoito commented on #499
According to https://jebware.com/blog/?p=418 you'd need to add a rule to `-keep class kategory.** { *; }`. We can get more granular later.

[2017-12-08 02:25] raulraja commented on #499
I think this is related to the conversation we had regarding Proguard and us providing a set of basic proguard rules recommendations for users. Perhaps we should add these to the docs if this is going to turn up to be a common issue on Android

[2017-12-08 02:29] raulraja opened #500 "Provide set of common proguard rules"
Relates to #499

[2017-12-08 02:29] vdubedout commented on #499
Unfortunately it doesn't solves it

[2017-12-08 02:29] pakoito commented on #499
@raulraja We need some real world usage to understand the pitfalls, yes.

[2017-12-08 02:30] pakoito commented on #499
@vdubedout Add this and check again:

[code]

[2017-12-08 02:32] pakoito commented on #499
@vdubedout Try adding this snippet on top of keep and see if at least some of the errors disappear:

[code]

[2017-12-08 02:42] vdubedout commented on #499
[code]

Same problem (invalidated cache and restarted Android Studio 3.0 just before)

[2017-12-08 02:45] pakoito commented on #499
Okay, I'll need to repro it myself to continue investigating it. Do you have a minimally reproducible example?

[2017-12-08 02:46] vdubedout commented on #499
[code]

No mini repro example. I will create one but it will take some time.

[2017-12-08 03:13] vdubedout commented on #499
https://github.com/vdubedout/crash-kategory-proguard

I can reproduce with this basic project

[2017-12-08 16:33] vdubedout commented on #499
As @raulraja mentioned it, all of those methods have this in common
* `@higherkind` main class
* `@JvmStatic` java compatibility
* `fun <reified>`

[code]
[code]

[code]

[2017-12-08 21:53] pakoito commented on #499
There's probably something in the bytecode generated that's not proguard happy. I'll make a spot for it this weekend. Thank you for investigating it :D

[2017-12-08 23:17] raulraja commented on #499
I'm pretty sure it's the @JVMStatic biz mixed with inline reified. We don't generate any bytecode in the @higherkind codegen step. Isn't @JVMStatic just for Java interop which we don't yet care to support?
We should get rid of those if they are not buying us anything new at the moment and do a minor release if testing with a snapshot having those compiled without the `@JvmStatic` makes this work h

[2017-12-09 20:50] vdubedout commented on #499
Hey ☺
I tried to make kategory compile yesterday to do this but wasn't able to make it compile. Is there any documentation I missed for those steps. I only use android studio so it's maybe the problem.

[2017-12-09 21:00] pakoito commented on #499
You have to defer compilation to Gradle. Try doing `./gradlew test` from CLI.

[2017-12-09 23:57] vdubedout commented on #499
@pakoito @raulraja removing `@JvmStatic` actually removes the error, even when removing the `-keep class kategory.** rules`. That's a quick "fix" if you don't care about Java interop.

[2017-12-10 00:00] pakoito commented on #499
The addition IIRC was on request by @aballano. I'm happy to revert it to non-@JvmStatic, else let's figure out the solution by looking at the bytecode. I didn't have time for it today.

[2017-12-10 03:47] aballano commented on #499
@vdubedout @pakoito we actually don't care about Java interoperability AFAIK, at least is not worth from my point of view. So removing all of them should be fine.

[2017-12-10 03:49] aballano commented on #499
@pakoito I can take care now btw, i needed some motivation to code something useful today :D

[2017-12-10 03:50] pakoito commented on #499
Go for it!

[2017-12-10 14:37] #499 closed

[2017-12-10 19:04] pakoito opened #504 "Add Show typeclass"
Entry level ticket for the Show typeclass. Show has a single method that does the same as Java's `toString()`. We need to define the typeclass, laws, and add a default instance similar to `Eq.any()`.

[2017-12-10 19:13] #218 closed

[2017-12-11 19:57] ituaijagbone commented on #324
@raulraja can I pick this up and work on it? I spoke to @pakoito about it.

[2017-12-11 20:09] raulraja commented on #324
Sounds great, thanks!

On Mon, Dec 11, 2017, 8:57 PM Itua Ijagbone <notifications@github.com>
wrote:

[2017-12-11 23:47] vdubedout commented on #499
Awesome, thanks Guys :)

[2017-12-12 02:06] pakoito commented on #474
Stretch goal: `MonadBracket` for resource management https://www.fpcomplete.com/blog/2017/02/monadmask-vs-monadbracket

[2017-12-14 06:53] rdiaz82 opened #511 "Signed apk error due to combination between Either an livedata"
Hi!
I'm using Either types in combination with LiveData doing something like this:

[code]
At running time all works as expected but when I create a signed release version I'm getting the following error, anyway the signed file is created:

`Error:java.lang.IllegalStateException: Recursive call in a lazy value under LockBasedStorageManager@4d091785 (<unknown creating class>)`

Any ideas how to sol

[2017-12-14 12:26] pakoito commented on #511
I'd be surprised that this is related to Either, as you're not using any of the internal APIs. Let's check whether it's just that line. Try doing this:

[code]
And see what happens.

[2017-12-14 17:25] pakoito opened #512 ""ObservableKWTest.Multi-thread Observables should run on their required threads" is flaky"
kategory.effects.ObservableKWTest > ObservableKWTest.Multi-thread Observables should run on their required threads FAILED

[2017-12-15 00:33] rdiaz82 commented on #511
This is curious, I tried with the fold but token and user were not resolved inside the fold. I tried a simple approach:
[code]
With this approach the error disappear, from this class and appear in the activity which is observing the request. I'm getting the error now when I try to get the error message. I tried with the same approach but it doesn't work in this case and the error is still there ¬¬

[2017-12-15 00:41] pakoito commented on #511
I need a more in-depth discussion of what you mean with this. "Not resolved" means not available, or null, or the execution never continued?

Chacho, necesito entender ésto mejor. Pásate por el gitter y hablamos: gitter.im/kategory/Lobby

[2017-12-17 14:46] raulraja opened #514 "Introduce `Parallel` type class, docs and instances for `IO`, `DeferredKW` and `ObservableKW`"

[2017-12-17 15:04] pakoito commented on #514
I believe MonadSuspend & Async are the requirements: https://github.com/kategory/kategory/blob/d9eec59cd8086896c2c0cd2d71b75faee297c83a/kategory-effects/src/main/kotlin/kategory/effects/typeclass/MonadSuspend.kt

We can formalise bindingFibers over it.

[2017-12-23 11:09] pakoito commented on #511
After chatting with @rdiaz82 it seemed unrelated to the lib. Closing.

[2017-12-23 11:09] #511 closed

[2017-12-23 11:11] pakoito commented on #372
I created a PR for it https://github.com/kategory/arrow/pull/475 that won't pass the test suite due to timeouts. There's no place to improve perf from our side, so I'll keep it around in case ArchComp gets an overhaul sometime.

[2017-12-28 23:42] pakoito opened #535 "Rename Ior.Left-Right to avoid collision with the post-refactor Either.Left-Right"

[2017-12-30 09:48] jmfayard opened #537 "Videos not shown on kategory.io"
Bug report: while the links themselves are still perfectly valid, the two last youtube videos are not displayed for me on  http://kategory.io/docs/quickstart/blogs/

macOS High Sierra / chrome & safari

Building a DSL… in Kotlin => https://www.youtube.com/watch?v=kr8iWE4Jfhc

Functional approach to Android architecture using Kotlin => https://www.youtube.com/watch?v=qGef3sFAIxU

![image](https://u

[2017-12-30 11:33] pakoito commented on #537
@ersin-ertan added them in #532!! Could you please take a look?

[2017-12-30 17:52] ersin-ertan commented on #537
Yes that's right, @jmfayard to follow the other videos format can you add the `?rel=0` query at the end of the link to prevent auto suggestions for #538

[2018-01-04 19:40] pakoito commented on #537
It's fixed now!

[2018-01-04 19:40] #537 closed

[2018-01-04 19:41] pakoito commented on #465
Done!

[2018-01-04 19:41] #465 closed

[2018-01-07 10:06] pakoito opened #557 "Refactor Eval to new stack-safe version"
https://github.com/typelevel/cats/pull/1888/files

I just compared implementations with cats and they introduced changes in September to improve stack safety. cc @aedans

[2018-01-07 11:04] israelperezglez opened #558 "Review style arrow-docs"
1. New assets
2. Review size text in code tags and documentation

[2018-01-08 11:16] #558 closed

[2018-01-08 13:05] israelperezglez opened #560 "Review styles code + footer text"
- [x] Change color in code tags
- [x] Add subtitle in footer content
- [x] Meta tags

[2018-01-08 20:31] MaureenElsberry commented on #560
@israelperezglez  - just noticed that the favicon needs updating to the new logo also, not sure if that is in another issue or not.

[2018-01-08 21:22] israelperezglez commented on #560
@MaureenElsberry We updated the favicon in other issue and we merged this change. Thanks

[2018-01-08 21:24] israelperezglez commented on #560
@MaureenElsberry https://github.com/arrow-kt/arrow/pull/559

[2018-01-08 21:24] MaureenElsberry commented on #560
you're the best! thanks

[2018-01-08 21:28] israelperezglez commented on #560
;)

[2018-01-12 23:14] jasonab opened #567 "Discussion area"
I'm trying to use Arrow in a new project, but unsurprisingly I have a few questions about how best to use it. What's the best place to discuss that?

[2018-01-12 23:20] pakoito commented on #567
We haven't claimed the new gitter channel after the migration. For now, please come by https://gitter.im/kategory/Lobby and we'll answer your questions. Take into account that most current maintainers are in CET and GMT :D

[2018-01-12 23:24] jasonab commented on #567
Damn it, I demand that you answer my homework questions immediately! :-)

Thanks, I'll check it out.

[2018-01-12 23:40] pakoito commented on #567
We have the arrow-kt channel open and we'll merge #568 to include a widget on the docs.

[2018-01-12 23:41] #567 closed

[2018-01-13 13:15] Cotel commented on #504
I'm taking this 😄

[2018-01-13 23:08] #512 closed

[2018-01-14 00:02] raulraja opened #571 "Add maven central badge to README and doc site quick start"
[![Maven Central](https://maven-badges.herokuapp.com/maven-central/io.arrow-kt/arrow-core/badge.svg)](https://maven-badges.herokuapp.com/maven-central/io.arrow-kt/arrow-core)

[2018-01-15 11:22] #560 closed

[2018-01-15 12:06] israelperezglez opened #576 "Stars in header section"
We will show in the header section repo stars

[2018-01-15 16:27] pakoito opened #577 "Extract Either's Left and Right, move Ior syntax to module"
https://kotlinlang.slack.com/archives/C5UPMM0A0/p1516033404000561

https://kotlinlang.slack.com/archives/C5UPMM0A0/p1516033562000065

[2018-01-16 00:54] pakoito commented on #364
Done

[2018-01-16 00:54] #364 closed

[2018-01-16 10:10] raulraja opened #581 "Extract extensions properties for nested ADT values in core and data"
Many nested values have their own identifiers:
[code]
This issue is to track the creation of extension syntax for all those datatypes that bring a unified access to the inner property through property extension.
Ex taken from slack where @hastebrot proposed:
[code]
All these property should live in `arrow.syntax.[datatype]` for consistency.

[2018-01-16 21:03] raulraja opened #582 "Join the discussion about Λrrow and its internal development"
We have created #arrow-contributors in kotlinlang.slack.com to discuss about the development and internals of the library. If you are interested you are welcome to join us there for a more fluid dialog. Cheers :beers:

/cc @arrow-kt/maintainers

[2018-01-16 21:05] pakoito commented on #582
:trollface:

[2018-01-16 21:05] raulraja commented on #582
@pakoito thanks bro :smile:

[2018-01-18 11:02] #576 closed

[2018-01-20 15:27] jereksel opened #586 "Annotation processing doesn't work on Kotlin 1.2.20"
Due to changes in Kotlin 1.2.20: https://github.com/JetBrains/kotlin/commit/f93f502ebea11765b4a269cb4a443a4fb2162c98#diff-fd324f36c4d489e031db8193f98daf94R34 annotation processing doesn't work anymore.

[code]

[2018-01-20 15:34] pakoito commented on #586
It's weird because we've been using the other annotation processors without issue in the repo itself. I've notified @Takhion and we'll see what we can do to get it back.

For reference, which annotation were you trying to use?

[2018-01-20 15:34] jereksel commented on #586
"@lenses"

[2018-01-20 16:16] JorgeCastilloPrz commented on #586
I've precisely been discussing this with @raulraja this morning since got the same problem on my samples repo after upgrading to 1.2.20.

[2018-01-20 17:07] jereksel commented on #586
PR was opened: https://github.com/Takhion/kotlin-metadata/pull/2, I'll check if lenses works now.

[2018-01-20 17:24] Takhion commented on #586
Thanks for the report! I just fixed it and pushed a new version (`1.2.1`) :)

[2018-01-20 17:27] pakoito commented on #586
Cool, I've just pushed a PR to update it, to be merged as soon as it propagates :D

[2018-01-20 19:25] #586 closed

[2018-01-20 20:12] pakoito opened #590 "MonadDeferLaws"
A port of these laws:

https://github.com/typelevel/cats-effect/blob/master/laws/shared/src/main/scala/cats/effect/laws/SyncLaws.scala

in here:

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-test/src/main/kotlin/arrow/test/laws/MonadDeferLaws.kt#L23

(Sync is called MonadDefer in Arrow)

[2018-01-21 14:11] #495 closed

[2018-01-21 14:31] pakoito opened #593 "Edit docs fails for urls with underscores"
For example. http://arrow-kt.io/docs/patterns/error_handling/ points to https://github.com/arrow-kt/arrow/edit/master/arrow-docs/docs/docs/patterns/error_handling/README.md but it should point to https://github.com/arrow-kt/arrow/edit/master/arrow-docs/docs/docs/patterns/errorhandling/README.md

[2018-01-21 14:32] pakoito commented on #593
@jereksel would you like to take a lookie? :D

[2018-01-21 20:17] pakoito commented on #341
Done in #594

[2018-01-21 20:17] #341 closed

[2018-01-21 22:22] #593 closed

[2018-01-22 09:50] sbuettner opened #600 "Plans for reactor integration"
Hey there,
glad to have a project that unifies functional programming for kotlin.

Curious whether there are plans to support other reactive libraries beside rx2 like [reactor](http://projectreactor.io/)?

As reactor is the foundation for of the new spring (and spring boot) version I can imagine that a lot of server-side projects would benefit from such an integration.

[2018-01-22 09:54] MarioAriasC commented on #600
We don't have it now but isn't difficult to implement. I already had a look at Reactor API and seems doable.

[2018-01-22 10:12] christophsturm opened #601 "gradle build fails with a nullpointer exception"
this is with a clean checkout of master
[code]

[2018-01-22 10:20] pakoito commented on #600
Reactor copies RxJava's API and we already have those, so it shouldn't take long.

I'll make this into a feature ticket and either I'll do it when I have some time, or ask anyone interested in doing it themselves.

[2018-01-22 10:21] pakoito commented on #601
This is a weird one because it should fail on CI and our local machines and it doesn't. Lemme take a look, meanwhile do `./gradlew clean test` and see what happens.

[2018-01-22 10:22] MarioAriasC commented on #600
@pakoito depending on time, I can help

[2018-01-22 10:23] christophsturm commented on #601
same!
maybe it needs some properties set that I'm missing?

[2018-01-22 10:23] pakoito commented on #601
Okay, the line that fails is `testCompile files(Jvm.current().getToolsJar())` which tells me there's something wrong with your Java install.

[2018-01-22 10:25] pakoito commented on #600
Go for it. It needs instances up to Effect, and I believe it has Traversable too.

[2018-01-22 10:28] christophsturm commented on #601
it seems that it works with jdk 1.8 but not with jdk 9.0.1

this works:
`JAVA_HOME=$(/usr/libexec/java_home -v 1.8) ./gradlew clean test `

this fails:
`JAVA_HOME=$(/usr/libexec/java_home -v 9) ./gradlew clean test`

[2018-01-22 10:37] pakoito commented on #601
I don't believe we're ready to support Java 9 yet because of modules, so I'm okay with this.

[2018-01-22 10:38] christophsturm commented on #601
yeah, maybe a more friendly error message or document it in the readme.

[2018-01-22 10:40] pakoito commented on #601
I've added it to the setup part of the docs 👍

[2018-01-22 10:40] christophsturm commented on #601
what do you think about something like this:
https://github.com/tbroyer/gradle-errorprone-plugin/commit/8aa08a87f42848e6532133697e10276f9d06f4ae

[2018-01-22 10:41] pakoito commented on #601
If you'd like to PR it I'll add it!

[2018-01-22 11:07] christophsturm commented on #601
done!

[2018-01-22 15:46] mkobit commented on #181
Some issues now is that if you run `./gradlew build`, and then another `./gradlew build`:

* build will fail on second execution of detekt
* detekt executions are never up-to-date

[2018-01-22 16:24] pakoito commented on #181
It is a known issue, we always run clean builds and use commands other than build.

Updating detekt to the latest version added a bunch of issues and new behaviors we'd had to account for, so the current state was good enough.

If you'd like to help us update that'd be great.

[2018-01-24 08:18] nomisRev opened #605 "Replace all optics annotation with one annotation."
One annotation `@optics` with a parameter for granular control. Similar to `@deriving`, by default it will generate all optics applicable to the structure.

While doing so we should deprecate the existing annotations.

[2018-01-27 12:05] jereksel commented on #605
@nomisRev My idea for api: https://gist.github.com/jereksel/f302bc67e11072b5fe2fbab77c244e49

[2018-01-27 18:48] aedans commented on #557
Sorry about the late reply; the notification got lost somewhere along the line. I'm working on this now.

Side note: do we care about renaming Call and Compute to Defer and FlatMap? I prefer Defer and FlatMap, and it's what cats uses, but it does technically break compatibility.

[2018-01-27 18:53] pakoito commented on #557
It doesn't necessarily as those are just internal classes. In any case we don't care yet about retrocompatibility.

[2018-01-28 23:00] #557 closed

[2018-01-29 07:29] nomisRev commented on #605
@jereksel properties are allowed for kotlin annotations like so

[code]

API question would be for the API @raulraja @pakoito @jereksel thoughts?

If you annotate a `sealed class` with `@optics` does it also generate `LENS`, `ISO` and `OPTIONAL`, `PRISM` for its nested types.

[code]

Would we generate 4 prisms: `Prism<Json, JsString>`, `Prism<Json, JsNumber>`, `Prism<JsNumber, JsInt>`, `Prism<JsN

[2018-01-29 09:15] jereksel commented on #605
API: targets in optics must be empty by default - and we should treat empty array as "everything that can be generated".

I think generating for every subclass makes more sense than generating only for direct subclass

[2018-01-29 14:47] israelperezglez opened #619 "Disabled search + edit button"
In this moment we will disable the search bar and we will edit the style to edit button

[2018-01-29 17:46] jereksel opened #620 "Combining Optional with Traversable causes stack overflow"
To reproduce: https://gist.github.com/jereksel/6b8991b5ecd510e251123a831b1226a0

[2018-01-29 20:12] #620 closed

[2018-01-30 12:00] jereksel opened #623 "Research unit testing for annotation processor"
Google's testing library doesn't work on kotlin, but kapt doesn't remove its stubs (they're in build/tmp/kapt3/stubs/debug). We should be able to use them with `compile-testing`.

This may not be required for now, but it will be for #605

Please assign this to me

[2018-01-30 12:03] pakoito commented on #623
You got it!

[2018-01-30 13:03] raulraja commented on #619
Fixed in #624

[2018-01-30 13:03] #619 closed

[2018-01-30 13:05] calvellido opened #625 "[Docs] Videos embedding"
For a smooth integration for video series into each docs section, we will have a _media_ section at the bottom of the page, not disrupting the direct access to information for an user.

For the user to notice that they can get a full video explanation, an icon/button will be shown at the top, that on click will scroll you to the embedded videos section.

[2018-01-30 13:18] calvellido opened #626 "[Docs] Main media section reorganization"
Due to a bigger amount of media content available, a revision for [this section](http://arrow-kt.io/docs/quickstart/blogs/) is needed to allow an easier navigation and information finding for any user.

[2018-01-30 14:31] benfleis opened #628 "Option.forall(<empty>) returns false, should be true"
In general, by definition, `all(<empty>) → true` and `any(<empty>) → false`.

In arrow's Option impementation, `Option.forall` is `Option.exists`, giving these both a default of `false`.

PR coming shortly.

[2018-01-30 16:01] calvellido commented on #625
The way we have though it could work best for now is by having a `video` YAML parameter in the markdown files. This param, if set, will be the YouTube video ID, e.g.
[code]

And with these settings for an specific doc page, the button/link at the top and the media section at the bottom will be shown, with its proper YouTube video embedded.

[2018-01-30 20:29] pakoito commented on #628
Done here. Thank you @benfleis!!

[2018-01-30 20:29] #628 closed

[2018-01-31 01:03] pakoito commented on #331
Merged straight to Master because I'm not a smart person.

[2018-01-31 01:03] #331 closed

[2018-01-31 01:17] pakoito opened #632 "Codecov is broken"
tl;dr misconfigured after the merge

https://codecov.io/gh/arrow-kt/arrow/commit/b7f952bb65054d86370ca5aaea08cc59a93da6ba

[2018-01-31 10:09] richard-gibson commented on #332
Happy to take this if nobody is working on it

[2018-01-31 10:55] pakoito commented on #332
@richard-gibson Perfect! Thank you :D You can check the format we use in other typeclass docs:

* We have a short intro mentioning what behavior they abstract, and which other typeclasses it inherits from
* sometimes a section depicting the main use case is placed here, i.e. Applicative has a long desctiption of applicative builders
* then go through the main combinators/operators/functions with a

[2018-01-31 10:57] pakoito opened #634 "`arrow module description` docs"
A document describing all the modules in Arrow, what they can be used for, what do they depend in and what constructs they provide.

[2018-01-31 21:48] israelperezglez opened #636 "Padding video section"
We will fix padding in video tutorial section

[2018-01-31 23:11] raulraja commented on #636
Fixed in #637

[2018-01-31 23:11] #636 closed

[2018-02-01 17:22] pakoito opened #638 "`mapkw` and `sortedmapkw` docs"

[2018-02-01 17:22] pakoito opened #639 "`weak` docs"

[2018-02-02 08:34] calvellido commented on #625
Closed by #627 ✌

[2018-02-02 08:35] calvellido commented on #625
Closed by #627 ✌

[2018-02-02 08:35] #625 closed

[2018-02-02 19:03] #324 closed

[2018-02-03 17:51] tkaden4 commented on #456
I'll begin work on this now.

[2018-02-03 23:30] pakoito opened #648 "`weak` tests are flaky for flatMap"
Found one case!

https://travis-ci.org/arrow-kt/arrow/builds/336981704#L6774

[2018-02-04 00:43] pakoito commented on #638
@iferca is taking these! Good luck Israel :D

[2018-02-04 01:54] #623 closed

[2018-02-04 20:36] qradimir opened #654 "Idea for propery-based syntax for lenses"
This approach allows threat lenses as extension properties.

Consider following code:
[code]

This allows to define lens as follows:
[code]

Let's take more complicated example

[code]

And write lenses:

[code]

Note that lenses above may are considered to be generated via annotating processing like original optics. So it shouldn't be written manually.

But we gain pretty nice syntax:
[code]

Any

[2018-02-04 20:51] raulraja commented on #654
@qradimir I think this syntax is amazing and will be an excellent complement in the optics module. We probably would want to look into supporting other optics beside lenses, @nomisRev thoughts?

[2018-02-05 08:27] jereksel commented on #654
Love this, but there would be issues with nullables and lists (if we will generate traversals in the future).
Should it look like this?:
[code]

[2018-02-05 10:48] nomisRev commented on #654
Absolutely love this syntax but couple of things we should try out and take into consideration.
1.  We'd be building new optics instead of using the existing ones. `BoundLens` vs `Lens`. Any way to work around that?
2. Curious to how composition would work with different optics i.e. `companyNullable` as @jereksel mentioned. Or see example below for another example.
3. If we are fine with 1 and can

[2018-02-05 10:59] jereksel commented on #654
I don't like idea of new Lens - especially when `BoundLens` is just copy. ".field" should be syntactic sugar for   `compose fieldLens`. Also I don't see reason for including `prisming()` and `lensing()` - I would just add `optics()` as extension method.

[2018-02-05 11:05] nomisRev commented on #654
@jereksel I totally agree but having played with it a little bit I currently don't know a way how to pull that off :D

As `BoundLens` serves a different purposes as `Lens` since `BoundLens` is bound to the instance you call it on. `BoundLens::set (A) -> S` vs `Lens::set (S) -> (A) -> S`

[2018-02-05 20:29] qradimir commented on #654
@nomisRev I've made sample with other optics where `sumA.optics().toA.optStr.some.set("new-value")` syntax is achieved. You might take a look on it [here](https://gist.github.com/qradimir/f89275f6798a06b4e0af5e9c7caa904f)

Also, it works on the top of original optics so I think there is no sense in replacing one optics with another. My idea is just for introducing syntax sugar, not for rewriting t

[2018-02-05 20:50] jereksel commented on #654
@qradimir @nomisRev Here's my idea: https://github.com/jereksel/arrow/commit/c18a817705c46ec6efb2758cfb88d77cc9a9fdec

[2018-02-05 22:17] qradimir commented on #654
@jereksel @nomisRev
Another consideration is that this syntax will be only for **setting** and **modifying** values. Reading values can be done with regular properties `myDataObject.myField.myOtherField` so there is no need in `lensing()` or any other syntax sugar.

So we can safely replace `BoundLens` with `BoundSetter`. The good point of it that any optic (lens, prisms, optionals, traversals) ca

[2018-02-06 08:21] nomisRev commented on #654
I really like where this is going @qradimir! 👏

Your last snippet is perfectly in line with I had in mind when I initially saw your idea yesterday. I updated the last example to include `Traversal` as well [here](https://gist.github.com/nomisRev/8017570f2adbb744e9eaed5d21b0131a). And it works amazing!

I am not sure this belongs in Optics tho. This is something that is build on top of Optics.  Use

[2018-02-06 11:19] raulraja commented on #654
I'd just have this in the optics library under a `syntax` package or under `dsl` to be consistent with the approach in other arrow libraries. Other examples of this is `map` and `tupled` or binding where we provide higher level DSLs to deal with `ap`, `product` and `flatMap`

[2018-02-06 12:01] israelperezglez opened #667 "Thumbnail"
We create thumbnail to the videos.

@benjymontoya can you add the title to the videos please?

[2018-02-06 12:10] benjymontoya commented on #667
Sure! Here is the link: https://docs.google.com/spreadsheets/d/1M4IEKCV-3gYeaBbrjdcIUHD44iLU-HfOZ6-ZFF3mvhs/edit?usp=sharing

Thanks!

[2018-02-06 13:46] nomisRev commented on #654
@raulraja just separate package or separate module?

[2018-02-06 17:28] raulraja commented on #654
If it isn't huge it'd be better in the same optics module IMO

[2018-02-07 11:06] #667 closed

[2018-02-07 12:20] israelperezglez opened #672 "Add Either video"
We will ad in the documentation Either video

[2018-02-07 14:53] #672 closed

[2018-02-08 00:36] pablisco opened #674 "Ordering type"
Needs more research, but basically something like this:

https://try.kotlinlang.org/#/UserProjects/67t0neksq2nuu9riqd1cchm6ds/hmji7priqofkibqoaeqosau4j0

For any `Foldable` or `Traversable` containing `Order` instances. This would add a property `ordering` of a type like:
[code]

[2018-02-08 15:58] pakoito commented on #276
@raulraja already did this :D

[2018-02-08 15:58] #276 closed

[2018-02-08 16:00] pakoito commented on #252
Fixed by https://github.com/arrow-kt/arrow/pull/618

[2018-02-08 16:00] #252 closed

[2018-02-08 16:00] pakoito commented on #205
Completed by #451 . Thanks @Cotel !!!

[2018-02-08 16:00] #205 closed

[2018-02-08 16:02] pakoito commented on #170
Completed a while ago

[2018-02-08 16:02] #170 closed

[2018-02-08 16:02] pakoito commented on #155
Fixed by the merge with funktionale!

[2018-02-08 16:02] #155 closed

[2018-02-08 16:12] pakoito commented on #430
Fixed and merged! Thanks @dgoetsch

[2018-02-08 16:12] #430 closed

[2018-02-09 23:59] pakoito opened #687 "Hash typeclass"
We have equals in `Eq`, toString in `Show`. Let's do hashCode in `Hash`!

https://github.com/typelevel/cats/blob/master/kernel/src/main/scala/cats/kernel/Hash.scala

[2018-02-10 00:50] raulraja opened #688 "Show type class dagger instances"
The new `Show` type class should expose it's known instances in `arrow-dagger`.

[2018-02-10 02:40] pakoito commented on #577
@raulraja close?

[2018-02-10 02:40] pakoito commented on #504
Boom! Fukken done. Thanks @Cotel

[2018-02-10 02:40] #504 closed

[2018-02-10 02:46] pt2121 commented on #687
i'd like to take a stab at this

[2018-02-10 02:49] pakoito commented on #229
Done!

[2018-02-10 02:49] #229 closed

[2018-02-10 14:27] pakoito commented on #371
@Cotel is going to implement this one!

[2018-02-10 14:40] pakoito commented on #460
The task is now up for grabs! #463 already has a bunch of the required code, if anyone'd like to take a look.

[2018-02-10 15:59] Cotel commented on #600
I'm taking this ✋

[2018-02-11 04:08] pakoito opened #691 "Fix FlowableKW instances"
After refactoring the Effects hierarchy, what used to be permutations of 2 dimensions (map type and backpressure strategy) with 3 & 5 values each (flat, switch, concat & buffer, drop, error, latest, missing) ended up not being tested: https://github.com/arrow-kt/arrow/blob/master/modules/effects/arrow-effects-rx2/src/test/kotlin/arrow/effects/FlowableKTests.kt#L55-L73

The instances need to be rew

[2018-02-11 19:10] jmodrako opened #693 "Can't find Show typeclass."
I can't find `Show` typeclass in the library. I'm using `0.6.1` version for simple Kotlin project.

[2018-02-11 19:13] pakoito commented on #693
Show will be added on the next release!

[2018-02-12 14:05] israelperezglez opened #695 "Add Try video"
We will add in the documentation Either video

[2018-02-12 14:26] israelperezglez opened #696 "Anchor link documentation"
We will create a anchor links in header section

[2018-02-15 08:46] #695 closed

[2018-02-16 09:07] #696 closed

[2018-02-19 10:28] israelperezglez opened #705 "Add NonEmptyList video"
We will add in the documentation NonEmptyList video

[2018-02-19 15:18] KhoaSuperman opened #707 "Error when use Option.applicative().tupled"
Hi everybody, please help me to work out this issue. I tried using arrow in Android and Intellij project, Datatypes "Option" works fine but if I use Option.applicative().tupled then this error happen.
I tested on example project [https://github.com/dcampogiani/AndroidFunctionalValidation](url) but didn't work.

Exception in thread "main" java.lang.ClassNotFoundException: arrow.core.Tuple3MonoidIns

[2018-02-19 15:28] raulraja commented on #707
@KhoaSuperman Arrow does not yet declare `Monoid` instances for `Tuple3`. Can you provide some code that reproduces the example?

[2018-02-19 15:41] KhoaSuperman commented on #707
@raulraja Thank for quick reply

**Intellij Project:**
Here is my code:
[code]

my build.gradle:
[code]

**Android project:**
You can checkout the official example [ https://github.com/dcampogiani/AndroidFunctionalValidation](url) then paste snippet below, the error will be throw in logcat
[code]

[2018-02-19 15:48] raulraja commented on #707
@KhoaSuperman I presume you are importing: `arrow.typeclasses.Foldable#fold` as an extension and that is why you are getting that error. We plan on removing those extensions that use the type class runtime lookup from arrow. I believe what you are trying to do here is:
[code]

[2018-02-19 15:59] KhoaSuperman commented on #707
I tried your code and it works but actually here is what I'm doing:
[code]
Here is my source code if you need more details
[kotlin_arrow.zip](https://github.com/arrow-kt/arrow/files/1737391/kotlin_arrow.zip)

[2018-02-19 22:01] sanogueralorenzo commented on #590
I'll take this one 😄

[2018-02-21 12:05] vibinr opened #709 "Selectively catching exceptions with Try"
Hi, I tried converting my below imperative try-catch code to use Arrow's Try.

Before:

[code]

After:

[code]

But these two don't exactly behave the same way, as the latter one catches Throwable itself.

(sorry if this question is too rudimentary! I read Try's API and docs, but they didn't help)

[2018-02-21 12:09] pakoito commented on #709
Try this:

[code]

You're not supposed to let exceptions propagate anymore else it defeats the point of using `Try` in the first place, so the else case inside that `when` has to do something about them.

[2018-02-21 12:30] vibinr commented on #709
Makes sense, thank you!

[2018-02-21 12:30] #709 closed

[2018-02-21 13:28] pakoito commented on #709
Cheers! We do have a gitter channel if you'd like to ask more questions: https://gitter.im/arrow-kt/Lobby

[2018-02-21 13:54] pakoito commented on #600
PR in #706

[2018-02-22 00:44] pakoito opened #714 "Typeclass: shallow copy or clone"
A new typeclass (or lens?) that allows you to copy or clone objects. Create the laws, documentation, and instances for relevant datatypes too. It should be an amount of work similar to what `Hash` or `Eq` required.

[2018-02-22 00:53] #714 closed

[2018-02-22 00:54] pakoito commented on #714
Can be done with `Lenses`

[2018-02-22 06:27] #705 closed

[2018-02-22 08:58] israelperezglez opened #716 "Style list element"
We will create a style to list elements in documentation page

[2018-02-24 08:33] grabstepango commented on #186
@pakoito I want to help with that. The current implementation is AP heavy, what we could extract to `common` kotlin module to share between JS/JVM/Native?

[2018-02-24 11:07] pakoito commented on #186
@grabstepango IIRC coroutines are not available in Kotlin Native yet, so that's a limitation on monad comprehensions. Everything else, happy for someone to give a hand!

I would start with the basics, making the datatypes in core work on Native, then move to typeclasses and instances. The boilerplate written by the AP doesn't have any magic to it, so you should be able to either write it manually

[2018-02-25 08:47] neilcronin opened #719 "Try class"
Hi,

I am attempting to use the Try class with a maven project.

This is the class:

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core/src/main/kotlin/arrow/core/Try.kt

There are basically no docs for using this library with maven.

I added this to my pom.xml:

        <dependency>
            <groupId>io.arrow-kt</groupId>
            <artifactId>arrow-core</artifactId>

[2018-02-25 09:55] pakoito commented on #719
In 0.6.1 `Try` is inside arrow-data. We just recently moved it to arrow-core because it's quite liked, but for some people bringing arrow-data was a bit too much.

[2018-02-25 18:23] raulraja commented on #707
@KhoaSuperman you can't do this at the moment because Arrow does not provide a `Tuple3` instance for `Monoid` yet. You can add you own though to your project if you want until Arrow ships with one probably in a couple of releases around 0.8.0.

We have not created those instacnes as part of Arrow because they are just boilerplate and we don;t want to incresae the size of the library adding instanc

[2018-02-25 18:31] KhoaSuperman commented on #707
Nice. I will try and wait version 0.8.0. Thank for your help & support

[2018-02-25 18:31] #707 closed

[2018-02-25 18:43] raulraja commented on #707
No problem! Cheers :beers:

[2018-02-27 07:49] aedans opened #720 "Free Foldable and Traverse Instances"
Just as it sounds, Free doesn't have Foldable and Traverse instances when it should.

[Cats Implementation](https://github.com/typelevel/cats/blob/5861210bec55b000d1e4962f4002edfdea627c0b/free/src/main/scala/cats/free/Free.scala#L286`)

I'm not really sure how to approach this, as I'm not too familiar with the free monad. I'll take it if I manage to figure it out though.

[2018-02-27 21:57] israelperezglez opened #721 "Add Validated video"
We will add in the documentation Validated video

[2018-03-02 20:07] #721 closed

[2018-03-05 10:41] raulraja opened #723 "Move syntax extensions to their modules and remove `arrow-syntax`"
In order to ease dependency use for users we should move syntax extensions to each of their corresponding module in cases where they target core, data and type class types.
Once this move is completed the `arrow-syntax` module can be removed.

[2018-03-05 10:55] raulraja opened #724 "Split instance module to avoid transitive `arrow-data` dependency."
Add a `*-instances` module for each logical module:
[code]
This will allow us to activate comprehensions and other interesting syntax without depending transitively in `arrow-data` through `arrow-instances` since the latter currently includes all instances including those for `arrow-data`

[2018-03-05 14:34] #716 closed

[2018-03-05 15:21] pakoito opened #725 "`As` typeclass"
https://www.reddit.com/r/ProgrammingLanguages/comments/823y9e/implementing_rusts_stdconvertinto_in_scala_in/

We could provide default implementations for Option <--> Either <--> Try

It needs laws & documentations.

[2018-03-05 16:02] raulraja commented on #725
For those kinds this type class already exist as `FunctionK` and works out of the box both in Dagger and Runtime lookups: For non kinded values this would be `Function1#map` where an Implicit value of `Function1<A, B>` exist in scope. The missing piece is the implicits which Keep-87 or our new type-class encoding can take care off automatically.

[2018-03-05 16:48] pakoito commented on #725
I'd suggest just making it available for non-kinded types.

[2018-03-06 13:32] israelperezglez opened #726 "Add summary video"
We will add in the documentation summary video

[2018-03-06 16:13] pakoito commented on #726
What is the content of this video?

[2018-03-06 16:27] calvellido commented on #726
@pakoito probably something around these slides here:

https://github.com/47deg/fp-with-arrow-videos/blob/master/Typeclasses.md

[2018-03-08 08:25] #726 closed

[2018-03-08 09:39] evantill opened #728 "Code in documentation for the State datatype"
Hi,

I am trying to reproduce the for comprehension in the documentation http://arrow-kt.io/docs/datatypes/state/

[code]

But I can not find the `fix()` method.

Is there some special import or something else ?

Thank you.

[2018-03-08 09:43] evantill commented on #728
here the gist

https://gist.github.com/evantill/a547e96cfd599f6cf296883afd4999f0

[2018-03-08 10:15] pakoito commented on #728
The docs are for `master`, which has a rename of several methods: https://github.com/arrow-kt/arrow/pull/671

If you're using 0.6.1, the method is called `ev()`.

[2018-03-08 10:18] evantill commented on #728
This is it. I am using 0.6.1.

Thank you very much

[2018-03-08 10:18] #728 closed

[2018-03-09 10:22] pakoito opened #729 "Add operator overloads to Syntax classes"
Syntax modules enable functions that weren't possible before. In this case we could define Kotlin's operators:
* plus() in SemiGroup
* equals() in Eq
* compareTo() in Order

And any others in here: https://kotlinlang.org/docs/reference/operator-overloading.html

[2018-03-10 12:30] Guardiola31337 opened #730 "NonEmptyList :: foldLeft slide from Youtube video series has typos"
- NonEmptyList :: foldLeft slide (5) from [Youtube video](https://www.youtube.com/watch?v=TC6IzE61OyE#t=1m7s) series has typos 👀

![nonemptylist_foldleft_slide5](https://user-images.githubusercontent.com/1668582/37242262-aff58682-2466-11e8-94e4-c985614f2df6.png)

Wondering if we could fix them and render the video again.

cc @raulraja @israelperezglez

[2018-03-10 12:39] raulraja commented on #730
@Guardiola31337 https://github.com/47deg/fp-with-arrow-videos/blob/master/NonEmptyList.md if you submit a PR there with the changes we can re-render the slides and video /cc @benjymontoya

[2018-03-10 13:34] Guardiola31337 commented on #730
Sure thing! Didn't know about that repo 😅

[2018-03-10 20:41] Guardiola31337 commented on #730
@raulraja

There you go https://github.com/47deg/fp-with-arrow-videos/pull/18 😉

[2018-03-13 14:51] calvellido opened #731 "[Docs] Enable HTTPS"
Github pages is silently trialing Let's Encrypt support for some GitHub Pages sites. Here can be checked whether Arrow has been lucky or not:

https://github.com/arrow-kt/arrow/settings

If not, there are some other ways to go, also. IMO it would be nice have this on the docs site, even if we don't treat sensitive info there.

[2018-03-13 20:43] pakoito commented on #731
HTTPS provides a layer of encryption that prevents others from snooping on or tampering with traffic to your site. When HTTPS is enforced, your site will only be served over HTTPS.

[2018-03-13 22:49] israelperezglez opened #732 "Add Id video"
We will add in the documentation Id video

[2018-03-14 05:26] jesseschalken opened #734 "Catch exception into an Either"
I expected to find a function that will run a function, or a `Try`, and catch a specified type of exception as the left side of an `Either`, but I can't find it anywhere.

Something like this (convert a `Try` to an `Either` for a specific exception type):

[code]
[code]

or this (run a function catching a specific exception type into an `Either`):

[code]
[code]

Is there already a way to do this?

[2018-03-14 05:45] jesseschalken commented on #734
I also can't seem to find a way to go the other way. Eg:

[code]
[code]

[2018-03-14 08:46] calvellido commented on #731
So it seems that we don't have the option available yet, let's wait for this feature to get fully rolled out then :+1:

[2018-03-14 10:02] pakoito commented on #734
`Try { myParse("{ some json }") }.toEither()`

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core/src/main/kotlin/arrow/core/Try.kt#L134

Is that what you want?

[2018-03-14 10:09] pakoito commented on #734
This is the tricky part. We do not provide operators that throw internally, as they're unsafe and not in the style of FP so your implementation of `catchEither` could not be part of the lib.

What I suggest instead is to `fold` the `Try` into a sensible value for unwanted exceptions. Something like:

[code]

Try { myParse("{ some json }") }.fold({ if (it is E) { Either.Left(Known(it)) } else { Eit

[2018-03-14 21:51] jesseschalken commented on #734
Yes you do. [`Try.get()` throws if it is a `Try.Failure`](https://github.com/arrow-kt/arrow/blob/5da58615131b2f0eceea3cb66cbe9a9821dee461/modules/core/arrow-core/src/main/kotlin/arrow/core/Try.kt#L148), for example. Or is that allowed because it's just re-throwing an exception that was thrown by code outside of the lib? If so then the same applies to my `tryEither` and `TryCatch` functions.

I agr

[2018-03-14 22:37] pakoito commented on #734
It's marked as deprecated. It's a left-over from when we merged with FunKtionale. It's going away soon.
https://github.com/arrow-kt/arrow/blob/5da58615131b2f0eceea3cb66cbe9a9821dee461/modules/core/arrow-core/src/main/kotlin/arrow/core/Try.kt#L114-L115

[2018-03-14 22:38] pakoito commented on #734
@jesseschalken have you looked into the other solution I proposed? What it does is convert your errors from known types, while also covering unknown types. That way the function is safe and you get what you need :D

https://github.com/arrow-kt/arrow/issues/734#issuecomment-372968642

[2018-03-14 22:44] jesseschalken commented on #734
Ah, it is too. Sounds like you don't want Arrow to be throwing any exceptions, even exceptions that were originally thrown from outside of the library.

I'm happy using the functions I posted above, I was just hoping they already existed in Arrow in some form, or could be added to help users translate between `Either` and throwing exceptions, but if that's not within scope of the library that's fi

[2018-03-14 22:50] pakoito commented on #734
The gist of it is moving away from modeling errors as exceptions. Exceptions have an indeterminate number of possible inheritors, most of them outside your control. Regular try/catch does the job well for those. If you're hoping to move into FP you limit exceptions to the ones gotten from external APIs, and treat them as I did on my example by partitioning their space between the ones you want and

[2018-03-16 09:53] pakoito opened #735 "Add KDoc documentation to the site"
Adrian in Gitter suggested using https://github.com/Kotlin/dokka to generate them. It allows `jekyll` style markdown too: https://github.com/Kotlin/dokka#output_formats

[2018-03-21 17:19] pakoito commented on #719
@neilcronin did my answer solve your issue?

[2018-03-21 22:26] israelperezglez opened #738 "Add ListK video"
We will add in the documentation ListK video

[2018-03-22 08:58] #738 closed

[2018-03-22 09:25] israelperezglez opened #740 "FIx video"

[2018-03-22 09:51] #740 closed

[2018-03-22 10:05] #315 closed

[2018-03-22 15:43] israelperezglez opened #742 "Add Eval video"
We will add in the documentation Eval video

[2018-03-25 11:27] eduardbosch commented on #186
Will be great to support JS/JVM/Native to use this library in Kotlin multiplatform projects.

Does Arrow currently work only on JVM projects?

[2018-03-25 11:30] pakoito commented on #186
Yes, although we're taking steps to remove the largest dependencies like instance lookup using JVM's reflection APIs, and isolating all platform-dependent constructs.

Right now it'd be great if someone took ownership of the multiplatform project split, and I'll happily contribute with anything that's necessary.

[2018-03-25 14:08] raulraja commented on #186
I think after 0.7.0 which will eliminate the runtime reflection system most of the lib would be compatible and we can modularize accordingly. Perhaps moving comprehensions and any non native supported syntax to its own module.

[2018-03-25 17:19] calvellido commented on #742
Closed by #743

[2018-03-25 17:19] #742 closed

[2018-03-28 15:47] israelperezglez opened #748 "Add OptionT video"
We will add in the documentation OptionT video

[2018-03-30 08:44] calvellido commented on #748
Closed by #749

[2018-03-30 08:44] #748 closed

[2018-03-30 13:44] pakoito opened #752 "Make Coreader more like Reader"
See https://github.com/arrow-kt/arrow/pull/745#discussion_r178138593

[2018-03-30 17:43] pakoito commented on #723
Done in #746. The only remaining syntax is the one related to functions.

[2018-03-30 17:43] #723 closed

[2018-03-30 17:44] pakoito commented on #719
Closing for now. 0.7 will sync the docs too.

[2018-03-30 17:44] #719 closed

[2018-03-30 17:45] pakoito commented on #577
The context is lost because the slack messages are gone. #746 moved the syntax to their datatypes.

[2018-03-30 17:45] #577 closed

[2018-04-01 00:07] pakoito opened #755 "Profunctor and Bifunctor"
https://typeclasses.com/profunctors

[2018-04-02 21:14] pakoito commented on #724
Done in #758

[2018-04-02 21:14] #724 closed

[2018-04-05 08:13] israelperezglez opened #760 "Add SetK video"
We will add in the documentation SetK video

[2018-04-05 09:17] #760 closed

[2018-04-06 12:45] JorgeCastilloPrz opened #765 "Generate classes on target class packages"
Processors should ideally generate classes on target class package, being target the annotated class. This should be updated for all of them. Explanations here.

https://github.com/arrow-kt/arrow/pull/747#discussion_r179699753

[2018-04-06 12:47] JorgeCastilloPrz opened #766 "Do not throw on processors"
Some processors are throwing errors instead of using the messager for that. Ideallly they should use the messager which we're already using on different parts. Explanations [here](https://github.com/arrow-kt/arrow/pull/747#discussion_r179699753)

[2018-04-06 12:53] JorgeCastilloPrz opened #767 "Refactor instances"
Based on [this](https://github.com/arrow-kt/arrow/pull/747#discussion_r179702780) discussion and given that there's no more runtime lookup, we'd probably want to discuss whether we wanna keep or remove the `**Instance` suffix from instances that we added just by convention in the beginning.

Initial proposal to start discussion:
<img width="637" alt="captura de pantalla 2018-04-06 a las 14 52 50"

[2018-04-06 22:41] pakoito commented on #734
@jesseschalken do you believe this issue was solved? I would like to close it :)

[2018-04-07 13:57] #605 closed

[2018-04-07 17:16] raulraja opened #771 "All typeclass requirements should be the first parameter in data types"

[2018-04-07 18:50] #654 closed

[2018-04-08 22:24] pakoito commented on #771
Boom, done!

[2018-04-08 22:24] #771 closed

[2018-04-10 01:51] pakoito opened #781 "Remove references to bindAsync in docs"
https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/docs/docs/effects/async/README.md#syntax-available-inside-monad-comprehensions

https://github.com/arrow-kt/arrow/blob/4995bdf7e94afeee72c623cfd066397a01b7aebe/modules/docs/arrow-docs/docs/docs/patterns/monadcomprehensions/README.md#cancellation-and-cleanup-of-resources

https://github.com/arrow-kt/arrow/blob/1020e06f350fec005db

[2018-04-12 09:52] #632 closed

[2018-04-13 09:37] nomisRev commented on #766
Actually, in [AbstractProcessor](https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-annotations-processor/src/main/java/arrow/common/utils/AbstractProcessor.kt) we catch `KnownException` and use the messager.

Still not ideal but better than not using it I guess. I was looking into how we could offer better error messages but this requires quite some changes.

i.e. `@autofold` for an

[2018-04-14 14:02] pakoito opened #795 "ManagedT datatype"
https://www.iravid.com/posts/resource-management.html

https://github.com/iravid/managedt/blob/master/core/src/main/scala/com/iravid/managedt/ManagedT.scala

[2018-04-16 07:55] israelperezglez opened #797 "Blogs & Presentations"
We have to redesign the page [Blogs & Presentations](http://arrow-kt.io/docs/quickstart/blogs/)

[2018-04-16 08:12] calvellido commented on #797
Hi! -> https://github.com/arrow-kt/arrow/issues/626

[2018-04-16 13:36] jereksel opened #798 "Links to typeclasses on kotlinx.coroutines docs doesn't work"
http://arrow-kt.io/docs/integrations/kotlinxcoroutines/#available-instances

[2018-04-16 14:35] pakoito commented on #798
It's just a case problem, they need to be lower cased. The same happens in the rx docs.

I also believe there were more issues with those docs that need to be checked.

[2018-04-16 14:35] pakoito opened #799 "Infix `then` function"
These simple pipeline function can be added to arrow-syntax

https://twitter.com/pacoworks/status/985888397523935232

[2018-04-16 17:29] jereksel opened #801 "Annotation processor doesn't handle files with no packages"
It includes `package 'unnamed package'` instead of no package.

[2018-04-16 22:08] JorgeCastilloPrz commented on #799
How different is this from andThen? If it applies the same sequentiality but on top of types and not functions it might also be called andThen?

[2018-04-16 22:11] pakoito commented on #799
`andThen` lazily chains functions. `then` eagerly chains values.

[2018-04-16 22:15] JorgeCastilloPrz commented on #799
And what's the value on the discarding overload? Can you give a sample use case where it's useful?

[2018-04-16 22:33] pakoito commented on #799
What I'm trying to achieve is emulating the pipeline operator in F# and OCaml, so we can have expression bodies that looks like comprehensions for imperative code that isn't monadic.

[code]

[2018-04-16 22:38] pakoito commented on #799
Edit: just remembered you cannot take function references from extension functions. Second revision:

[code]

[2018-04-16 22:45] pakoito commented on #799
Open for discussion

[2018-04-17 00:31] raulraja commented on #799
What would that same code looks like with?
[code]

[2018-04-17 00:38] pakoito commented on #799
[code]

[2018-04-17 01:02] raulraja commented on #799
From a value we can derive a function. The identity function. I agree with Jorge and think this should be called andThen or rename `andThen` to `then`. I like it but dislike the different names.

[2018-04-17 05:38] dtchepak commented on #731
Maybe consider Cloudflare to get https over all of arrow-kit.io?

[2018-04-17 06:37] JorgeCastilloPrz commented on #799
I like what you're trying to achieve here, but in the end it's chaining dependant operations vs chaining dependant values. Even if this is eager this time, it looks like the concept behind it is the same than `andThen` so would probably be easier for the end user to have both named equally.

I also find the discarding variant a bit "side effect-y", since discarding previous values on the chain pro

[2018-04-17 08:52] MarioAriasC commented on #799
We have a `pipe` function already

[code]

[2018-04-17 09:40] pakoito commented on #799
That solves it then :D

[2018-04-17 09:40] #799 closed

[2018-04-17 09:46] MarioAriasC opened #802 "API coming from funKTionale isn't documented"
None of the functions and utilities coming from funKTionale is documented.

[2018-04-17 09:47] MarioAriasC commented on #802
First of all, where is a good place to put those new docs on the Arrow site?

[2018-04-17 10:11] pakoito commented on #802
A new section in the menu between `Patterns` and `Datatypes` (https://github.com/arrow-kt/arrow/blob/master/modules/docs/arrow-docs/docs/_data/menu.yml#L31-L34) called `Syntax` or `Function Helpers` or something similar. In that section of the menu, feel free to do a subdivision however makes sense.

[2018-04-19 18:55] jrgonzalezg opened #807 "Arrow 0.7.x causes builds to fail on Android projects"
Just adding the Arrow dependencies on an Android project with Java 8 features enabled causes the builds to fail due to a missing traverse related class / lambda during the desugar task.

Sample repo here: https://github.com/jrgonzalezg/arrow-android-failing

[2018-04-20 08:34] JorgeCastilloPrz opened #808 "Searchbar for docs"
Whenever I get into http://arrow-kt.io/docs/ I miss having a search bar for "fast search" with autocomplete, so whenever I start typing right after loading the page It searches for typeclasses, data types, patterns or any other concrete section in the docs.

This would mimic the search on github (clicking `T`) and start typing. In our case we don't have any need to type on the docs page as a user,

[2018-04-20 08:47] calvellido commented on #808
Much needed IMO. I guess offering results from the docs themselves won't be hard at all to add. If we want to also show code results a la API search, I'm not sure the best way to approach that.

[2018-04-20 09:12] JorgeCastilloPrz commented on #808
Yeah that would be even cooler but we probably don't need to go that far for an initial release of the feature. I'd probably leave that for further iterations :)

[2018-04-20 09:53] calvellido commented on #808
There are some 3rd party options out there, the most widely used seems to be Algolia. They ask to include its name on the search bar to use it for free. You can see an example here:

https://material-ui-next.com/

An _inhouse_ solution is not that hard, but we would have to restrict _searchable_ elements to title, tags, category, and things like that, but not the full page content, if we want to b

[2018-04-20 13:08] JorgeCastilloPrz commented on #808
I don't have a good scope on the frontend libs ecosystem, but the Algolia one looks quite good to me and it uses material guidelines so how could I not like it? 🥒

Putting effort on an in-house approach is probably not gonna provide much value compared to using an already created one that actually looks that good, and we probably want to put those efforts in other stuff. If we can fit one of those

[2018-04-20 17:14] israelperezglez opened #809 "Add Kleisli video"
We will add in the documentation SetK video

[2018-04-23 09:07] AdrianRaFo commented on #765
Hi, @JorgeCastilloPrz  I'm going to work on this issue, so, Can you please assign it to me?

[2018-04-23 09:26] JorgeCastilloPrz commented on #765
All yours! :) welcome to the maintainers team 🎉 Thanks for taking this!

[2018-04-23 13:08] johanhaleby opened #814 "Partial function application with multiple arguments?"
I cannot seem to find a way to provide multiple arguments when creating a partial function.

Consider this example:

[code]

which I believe is quite verbose. An alternative is to use currying:

[code]

I'd like just do something like this:

[code]

Is something like this already possible?

[2018-04-23 13:38] pakoito commented on #814
Yes, it's in the module `arrow-syntax`. Check this file: https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-syntax/src/main/kotlin/arrow/syntax/function/partials.kt

[2018-04-23 13:38] pakoito commented on #814
cc #802

[2018-04-23 13:40] johanhaleby commented on #814
@pakoito Thanks but I already managed to find that file. Unfortunately I cannot seem to figure out how it's done regardless of the `partials.kt` file. Are you referring to the `invoke` operator?

[2018-04-23 13:41] pakoito commented on #814
Hmmm you're right. I'll defer to @MarioArias for this one.

[2018-04-23 14:31] MarioAriasC commented on #814
You can use
[code]

The current implementation of partially applied functions doesn't allow multiple parameters.

The reason is simple, Space. Partially applied functions are generated with a script from `Function2` to `Function22` and currently is the biggest file in the project.

Creating all possible combinations of multiple parameters will be impossible to write and compile.

Alternatively, we

[2018-04-23 14:58] johanhaleby commented on #814
@MarioAriasC Thanks for you help and suggestions!

I'm probably a bit biased since I'm used to Clojure where you typically do:

[code]

This is why I'd appreciate something similar in arrow.

This would probably work although I personally I would prefer not to have to add `@partially`. Perhaps it would be possible to support multiple parameters for the most used combinations that you imply and for

[2018-04-23 17:33] jtonic opened #815 "[v-0.0.7] arrow.syntax.tuples.plus operator fun no more available in version 0.0.7"
Hi,

After the migration from 0.6.1 to 0.7.0 I noticed that the arrow.syntax.tuples.plus is no longer available.
More or less its signature looked like:

`operator fun Tuple2<A,B>.plus(c: C): Tuple3<A,B,C> {...}`

And I think it was available for all Tuples (even if I used it only for Tuple2, and Tuple3).

It would be better to have it back in arrow, I found it very useful.

Kind regards

[2018-04-24 08:14] #809 closed

[2018-04-28 08:52] jrgonzalezg commented on #807
Did a bit more research and it seems this also affected other projects even with fairly standard lambdas like this one: https://stackoverflow.com/questions/49866403/gradle-build-failure-couldnt-find-outer-class-xxxx

After that I checked again with Kotlin 1.2.41 and Android Gradle Plugin 3.2.0-alpha12 and the build succeeded. So maybe it was a bug either in Kotlin compiler fixed on 1.2.41 or the d

[2018-04-28 15:00] raulraja commented on #807
@jrgonzalezg asked @jereksel to bump up to latest so we can test it in the upcoming release. I still have no idea why this is showing up. I suspect this is some kind of inlining compiler bug by the error message but would be good to `javap` those files to see if `arrow.data.ListK$traverse$1$2` is actually there.

[2018-04-28 15:45] jrgonzalezg commented on #807
@raulraja How would that be done? What I can see is that if you download the arrow-data-0.7.1.jar from http://search.maven.org/remotecontent?filepath=io/arrow-kt/arrow-data/0.7.1/arrow-data-0.7.1.jar and unzip it, you get a `arrow/data/ListK$traverse$1$2$1.class` but not a `arrow/data/ListK$traverse$1$2.class`. The full list of ListK classes on that artifact is:
[code]
Using `javap *.class` for al

[2018-04-28 16:00] jrgonzalezg commented on #807
I have also tried compiling jereksel branch to try to see if the artifacts there do not have this problem but I can't get that one to compile, I keep getting:
[code]

[2018-04-28 16:29] jrgonzalezg commented on #807
Also tested against a rebased master removing some of the commits that cause issues but raising to Kotlin 1.2.41 and the contents of `arrow-data-0.7.2-SNAPSHOT.jar` are the same I reported above for the currently published version, so maybe that update will not help for the issue here :disappointed:

[2018-04-28 17:02] JorgeCastilloPrz commented on #807
Deletion of the infographic.txt file is intended on clean. That's the expected behavior. It's interesting, because I've pulled `master` right now and run `./gradlew clean build` on the root arrow dir and it's a successful build. `Travis` [is also green](https://travis-ci.org/arrow-kt/arrow/builds) on master branch.

[2018-04-28 21:43] jereksel commented on #807
@jrgonzalezg Arrow source code must be in "arrow" directory: https://github.com/arrow-kt/arrow/commit/40baca826f26fc433651ef2b3af9f19c75e8a531#diff-ea6113863a28ffe3f15442a287e31dadR103

[2018-04-28 22:01] jrgonzalezg commented on #807
Thanks @jereksel I noticed that this afternoon and even commented it on Slack but it still failed when I renamed my repo root directory from arrow-jrgonzalezg to arrow. But I tried again now and it worked, so I'm not sure if I made a typo on the first renaming attempt or what happened.

Anyway, couldn't the root directory be determined from gradle or something similar instead of hardcoding it? git

[2018-04-28 22:11] jereksel opened #823 "Directory with source code must be name "arrow"

[2018-04-28 22:12] jereksel opened #824 "Directory with source code must have name "arrow" or Renzu will fail"
https://github.com/arrow-kt/arrow/commit/40baca826f26fc433651ef2b3af9f19c75e8a531#diff-ea6113863a28ffe3f15442a287e31dadR103

[2018-04-28 22:12] jereksel commented on #807
@jrgonzalezg I'm sure this can be done another way (i like idea with parent of modules). I've created another issue for that problem: #824

[2018-04-28 22:14] #823 closed

[2018-04-29 17:54] #824 closed

[2018-05-01 20:35] jrgonzalezg commented on #807
I have updated the sample repository with another branch to show builds failing also when Java compatibility is set to Java 7. For that new case it fails on the ProGuard task instead of the desugar one. I have also updated the sample repo README.md with instructions for triggering the build problem in both cases. See https://github.com/jrgonzalezg/arrow-android-failing

[2018-05-02 07:50] calvellido commented on #731
:fire: :fire: :fire:

[2018-05-02 08:50] israelperezglez opened #828 "Add State video"
We will add in the documentation State video

[2018-05-02 23:06] raosuj commented on #729
can i take this ?

[2018-05-03 03:24] pakoito commented on #729
Sure! Go ahead, and ask any questions on the gitter channel.

[2018-05-03 07:49] #828 closed

[2018-05-03 16:17] pakoito opened #830 "Constructor functions for Show to use receiver function"
From gitter, current encoding

[code]

with proposed encoding

[code]

[2018-05-04 12:39] calvellido commented on #731
The `A` records for the domain have been updated and the DNS changes have been propagated, the last step is to re-add the custom domain info in the repo, which I'm gonna do it now :+1:

[2018-05-04 12:51] calvellido commented on #731
...and done! :ok_hand:

https://arrow-kt.io/

@pakoito you might want to enforce all browsing now to use HTTPS on that GitHub option, now it should let you do it.

[2018-05-04 13:35] pakoito commented on #731
Aaaaand done! Thank you to everyone for keeping an eye on this ^^

[2018-05-04 13:35] #731 closed

[2018-05-05 01:30] nayak232 opened #834 "ClassCastException when using state transformer with ListK"
I am using a state transformer with ListK. I see a ClassCastException that I can reproduce with the minimum failing code below.

Kotlin version: 1.2.41
Arrow version: 0.7.1

[code]

Please let me know if you need more information.

[2018-05-05 04:27] pakoito commented on #834
Can you please paste the full stacktrace? I'd like to see which types are being casted. That `Any` doesn't look great, specially inside coroutines :D

[2018-05-05 05:03] nayak232 commented on #834
Thanks for your quick response! I wasnt aware of issues with Any in coroutines.

Here is the stack trace.

`Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to arrow.typeclasses.MonadContinuation
	at ExampleKt$main$3$1.doResume(example.kt:24)
	at kotlin.coroutines.experimental.jvm.internal.CoroutineImpl.resume(CoroutineImpl.kt:54)
	at arrow.typeclasses.Monad

[2018-05-05 05:08] pakoito commented on #834
Let's rule out coroutines. Can you please rewrite the comprehension to use `flatMap` instead?

[2018-05-05 17:49] nayak232 commented on #834
Thats a great suggestion. I rewrote with `flatMap`. This doesnt throw the exception!

`fun intStackOperations() =
         genList("a", "d", listOf(Tuple2(0, "h"))).flatMap(ListK.monad()){
            genList("b", listOf(1, 2, 3)).flatMap(ListK.monad()){
                genList("c", (0 until it).toList())
            }
        }`

FWIW, I see that the following implementation with comprehensions w

[2018-05-05 17:58] pakoito commented on #834
Can you please hint the types for `(a,d)`? It may be a case where inference just farts.

[2018-05-05 18:02] nayak232 commented on #834
Thanks for your time! Sorry for the absurd names of the variables.

I tried your suggestion and still see an exception.

[code]

[2018-05-05 18:17] pakoito commented on #834
Try not to destructure it.

[2018-05-05 18:32] pakoito commented on #834
Okay, I believe with this info you can raise a ticket to JetBrains :D Try here: https://youtrack.jetbrains.com/issues/kt

[2018-05-05 18:55] nayak232 commented on #834
Done. https://youtrack.jetbrains.com/issue/KT-24285

[2018-05-05 22:31] pakoito commented on #830
`Show` cannot have receivers for two parameters, silly me :P

[2018-05-06 22:00] pedrovgs opened #838 "Measure build time"
As a developer, I'd like to know how long our contributors are building arrow or just waiting for the compiler or the tests execution 😃

[2018-05-08 10:32] routis opened #840 "Annotation processor doesn't work with maven"
It seems that the annotation processor doesn't work in maven.

In particular, attempting to use the annotation processor, compilation fails with a null pointer exception thrown by  **arrow.instances.InstanceProcessor.onProcess(InstanceProcessor.kt:38)**, while trying to access the property **generatedDir** defined in its ancestor class **me.eugeniomarletti.kotlin.processing.KotlinAbstractProcessor

[2018-05-08 15:14] nayak232 commented on #834
FYI,  the JetBrains ticket got a response. To summarize, they say "Basically, the issue is caused by unconventional use of coroutines in the library (even if this particular bug is fixed on the library side, this use case of coroutines anyway seems to be rather unsupported)."

[2018-05-08 19:54] pakoito commented on #834
Cool, I spoke to them and there may be a solution here: https://github.com/h0tk3y/probabilistik/blob/master/src/main/kotlin/com/github/h0tk3y/probabilistik/ContinuationUtils.kt

[2018-05-09 07:32] raulraja commented on #834
@pakoito looking forward to hearing more about it.

[2018-05-09 15:37] pakoito opened #841 "Add remaining Monoid and Semigroup instances"
At the moment several instances from Scala are not available in Arrow, like the one for `Try`. The task is to do a pass on the codebase and write them.

[2018-05-12 05:24] radityagumay opened #844 "Add `asSequence()` functions"
Hi Folks!

i am not sure this should belong to `arrow` or `rxjava`.

Anyway, I have an idea to a function asSequence(),  my idea is like this. Btw, i am speaking in android world, but this should be can implemented in another platform. Supposed, we have an view which is an Activity, that calling multiple function in certain callback.

[code]

ini `onCreate` callback we call a functions from `prese

[2018-05-12 16:38] raulraja commented on #844
@radityagumay a few things in mind:
- Sequences are iterable only once and presumably if you wanted a result back from `greatWorkSuccess` or any of those functions you'd have to provide it in a sync away as well.
- We have started building `arrow-stream` which will power `arrow-android`, an integration layer to handle the lifecycle callbacks in Contexts in a purely functional way.
- `Stream<F, A>`

[2018-05-14 04:26] radityagumay commented on #844
@raulraja Ya, i means is a stream abstraction.

So, in implementation detail we have two constructs. that using RxJava subscribe or / and coroutine suspended functions.

[code]

[2018-05-16 11:38] #830 closed

[2018-05-16 11:39] pakoito commented on #830
Closed by #835 . Thanks @ersin-ertan

[2018-05-16 11:40] pakoito commented on #283
@ersin-ertan is working on Invariant Functors.

[2018-05-16 18:45] ersin-ertan commented on #283
@raulraja :eyes:
- [ ] Ok, almost done - `KleisliFunctorInstance` has:  `fun FF(): Functor<F>` declared within them and the overridden method `fix().map(FF(), f)` uses `FF()`, because `Kleisli` has `map(FF: Functor<F>, f: (A) -> B)` does `Kleisli` and `EitherT, OptionT, Coproduct, StateT, WriterT` require two new function definitions?

- [ ] Are there are any functions that take `Functor` as the a

[2018-05-16 19:18] raulraja commented on #283
I don't think that they require any changes. All those functions use the Covariant Functor. I could not find in cats either the use of Invariant inside those.Unless we have a use case by which to add them I think they are not required

Yes please, add any new instances to all modules and docs possible where they make sense.

No, but we need `Whatever.invariant()`, etc. in the same way we can do no

[2018-05-17 07:59] israelperezglez opened #845 "Add EitherT video"
We will add in the documentation EitherT video

[2018-05-18 03:40] ersin-ertan commented on #283
https://github.com/ersin-ertan/arrow/tree/add_typeclass_invariant_contravariant Is feature complete(except for Invariant's monoid instance)
https://github.com/ersin-ertan/arrow/tree/invariant_monoid_instance Branches off of above, [showcasing two ways](https://github.com/ersin-ertan/arrow/blob/invariant_monoid_instance/modules/core/arrow-instances-core/src/main/kotlin/arrow/instances/invariant.kt#

[2018-05-18 06:47] nomisRev opened #848 "Improve Optics processor"
- Re-enable grained control for DSL.
- Reduce # of generated files by aggregating generated code for an annotated element. i.e. `isos.arrow.optics.account`, `lenses.arrow.optics.account`, `optionals.arrow.optics.account` & `dsl.arrow.optics.account` become `optics.arrow.account`

[2018-05-18 09:10] Eternity-Yarr commented on #840
It appears that this was fixed in next releases of kotlin plugin. I've created a pull request with changes to your repository which compiles successfully,

[2018-05-18 09:10] Eternity-Yarr commented on #840
https://github.com/routis/kaptdemo/pull/1

[2018-05-18 20:05] pakoito commented on #283
@ersin-ertan now make a Pull Request so we can review the code: https://github.com/arrow-kt/arrow/compare/master...ersin-ertan:add_typeclass_invariant_contravariant?expand=1

[2018-05-19 03:42] routis commented on #840
Indeed, problem does not appear when using  korlin plugin 1.2.41 and by adding the companion object.
@Eternity-Yarr Thanks for the solution

Perhaps, it would be nice to have in the "Quick Start" page of the Arrow documentation a section for maven.

[2018-05-20 18:06] raulraja opened #850 "Visual differentiatior in docs for `Beginner` vs `Advanced` content."
Often times like in the case of `Validation` there are certain snippets and paragraphs that are considered advanced and for people that may already be familiar with FP. We need a visual way to structure and differentiate areas that are beginner friendly from others that are considered more advance. Perhaps a badge or page / content separator that we can use as divider. Ideas are more than welcome,

[2018-05-20 18:17] JorgeCastilloPrz commented on #850
Aren't doc snippets per datatype / typeclass kind of already ordered from most trivial examples to more complex ones from top to bottom? Maybe it's just a matter of gradually increasing complexity for each docs page. If there's a big complexity gap then it could mean we're lacking some intermediate examples.

[2018-05-21 08:30] bassjacob commented on #841
I'd be happy to help with this

[2018-05-21 21:51] raulraja opened #854 "Update to latest KotlinTest and use their provided arrow matchers"
https://medium.com/@sam_57450/kotlintest-pro-tips-54ce19c32c68

[2018-05-22 00:37] pakoito opened #855 "Parallelise tests"
Look for Parallel Test Execution in here https://medium.com/@sam_57450/kotlintest-pro-tips-54ce19c32c68

[2018-05-22 08:29] calvellido commented on #850
Trying to find some examples, but all libraries I check got differentiated sections between basic and advanced content from a higher point of view, like Scala, Angular, ReactJs or MDN ones:

https://reactjs.org/docs/hello-world.html
https://docs.scala-lang.org/
https://angular.io/docs
https://developer.mozilla.org/en-US/docs/Web/JavaScript

Or doesn't make any difference in content level (which ar

[2018-05-22 14:27] raulraja commented on #850
Sounds good, can you coordinate with Isra to get a preview of what those
may look like in a documentation page like the ones we have now?

On Tue, May 22, 2018 at 10:29 AM Juan Valencia <notifications@github.com>
wrote:

--
Raul

[2018-05-22 14:48] calvellido commented on #850
Will do! :+1:

[2018-05-22 21:42] raulraja commented on #854
Related: https://github.com/arrow-kt/arrow/issues/855

[2018-05-24 11:25] #462 closed

[2018-05-24 16:49] JorgeCastilloPrz opened #856 "Add RxJava Single wrapper"
The same way we're adding wrappers for `Flowable`, `Observable` and other types, we should have one for `Single`.

[2018-05-25 04:47] iirekm opened #859 "NoClassDefFoundError on Kotlin 1.2.41"
[code]

[2018-05-25 04:51] iirekm commented on #859
now this class seems to be in package org.jetbrains.kotlin.metadata.jvm.deserialization

[2018-05-25 09:34] pakoito commented on #859
We probably need to release a new version to fix this :) Ping @raulraja @JorgeCastilloPrz @nomisRev this weekend?

[2018-05-25 09:37] JorgeCastilloPrz commented on #859
Definitely. Wasn't it already fixed on current `master` branch? (potential 0.7.2). I think @Takhion has the clues on where's the problem.

[2018-05-25 12:18] Takhion commented on #859
It was fixed in #821 and yeah apparently it's not released yet 😁

[2018-05-25 13:16] JorgeCastilloPrz opened #860 "Add RxJava Maybe wrapper"
The same way we're adding wrappers for `Flowable`, `Observable`, `Single`, and other types, we should have one for `Maybe`.

[2018-05-25 13:17] JorgeCastilloPrz commented on #859
I'd love to wait for #860 and #856 if possible. I want to give those types a try along with `FlowableK` and `ObservableK` in a client project.

[2018-05-25 13:28] JorgeCastilloPrz commented on #859
Yeah I'll work on it today most likely.

[2018-05-25 14:11] #856 closed

[2018-05-27 07:50] #860 closed

[2018-05-28 07:13] israelperezglez commented on #850
We have a final design proposal. Now we can implement in doc ;)
- https://invis.io/UZJL42WCX3W#/298806497_Arrow-Documentation

[2018-05-28 11:54] JorgeCastilloPrz commented on #850
looks good! :)

[2018-05-28 11:55] JorgeCastilloPrz commented on #859
`SingleK` and `MaybeK` are already in so I don't need anything else from my side. Can we proceed on releasing? How are released done? Anything special to do other than tagging master? (Was it automatized @Guardiola31337?)

[2018-05-28 17:52] dgoetsch commented on #859
I was able to temporarily get a round t his by setting my project kotlin  version to `1.2.31`, seems to be caused by  something other than arrow. I didn't see this issue until I added kapt as a gradle plugin AND added annotations to generate higherkinds or optics.

The exemplar in this bug ticket includes the kapt plugin, but  I didn't see a dependency  on arrow:
https://youtrack.jetbrains.com/oau

[2018-05-28 18:11] Takhion commented on #859
@dgoetsch have you tried [this](https://github.com/Takhion/kotlin-metadata/issues/8#issuecomment-385331329)?

[2018-05-28 18:31] Takhion commented on #859
@dgoetsch the problem is that `kotlin-metadata` is not just being used by arrow, but also by other libraries (like Room)

[2018-05-29 23:45] pakoito opened #866 "Make Optics into scoped extension functions"
For example, reencode https://github.com/arrow-kt/arrow/blob/master/modules/optics/arrow-optics/src/main/kotlin/arrow/optics/Optional.kt#L239 as

[code]

That way you can write

[code]

[2018-05-31 13:03] pakoito opened #869 "Write stack-safe functions for HList"
Ideally we'd like `fold` and `map` and from that we can write the others :D

[2018-05-31 13:33] JorgeCastilloPrz commented on #869
Thanks.

[2018-06-02 02:10] pakoito commented on #322
Closed by #870

[2018-06-02 02:10] #322 closed

[2018-06-02 08:27] JorgeCastilloPrz opened #871 "Upgrade Dagger to 2.5"
We are using a quite old version (`2.15`) and they've changed a couple of things lately that are causing some trouble when trying to compile client projects using both Arrow 0.7.2 and Dagger 2.5

[2018-06-02 17:20] pakoito commented on #321
CLosed by #713 a while ago :D

[2018-06-02 17:20] #321 closed

[2018-06-05 21:44] raulraja commented on #866
I think we should provide alternative functions, meaning exposing it both ways since the snippet below is valid in Arrow and considered good style as well. There are sometimes you may not want the extra nesting and indirection just to achieve `.` property syntax.
[code]
Another alternative would be:
[code]

[2018-06-06 02:05] pakoito opened #873 "Add a "since" metadata field on the docs"
Reason: https://twitter.com/_shimada/status/1004177440363565056

Maybe we should add a badge or indicator in docs merged pre-release to avoid these confusions.

[2018-06-06 09:13] israelperezglez opened #874 "Add Functor video"
We will add in the documentation Functor video

[2018-06-06 12:08] nomisRev commented on #866
@pakoito I agree with @raulraja that I'd prefer to enable both by adding alternative functions. As I've expressed earlier I sometimes miss the old API of type classes such as `FF.map(fa, f)` but that could be a force of habit.

Side-note that the second snippet uses a method called `lift`. Original reasoning was that you can use it to lift a function `(String) -> String` to `(Person) -> Person` us

[2018-06-06 14:22] kayedavi opened #878 "ClassCastException when using ListK.monadFilter().bindingFilter"
I am trying to use a list comprehension with a guard. When I run the following code, I get a ClassCastException where none seems to be relevant.

    data class CharWrapper(val value: Char)

    @Test
    fun `isolate bug`() {
        val wrappedChars = listOf(CharWrapper('Y'), CharWrapper('K'))
        val chars = listOf('Y')

        val result: List<Pair<Char, CharWrapper>> = ListK.monadFilter(

[2018-06-06 16:27] pakoito commented on #878
It's the same as https://github.com/arrow-kt/arrow/issues/834

I should fix it for 0.7.4 in ~3/4 weeks -.-

[2018-06-06 17:42] soberich opened #879 "Provide a self-explanatory example by re-writing Kotlin-Fullstack app"
Hi,
(Former) Kategory could be a technology of the choice for teams like our if such popular and well known example as [Kotlin-Fullstack](https://github.com/Kotlin/kotlin-fullstack-sample) could demonstrate it's top abilities (particularly coroutines usage) in comparison to the original one sample mentioned.
This would've fill the empty space in your "samples" stack where there is nothing for back

[2018-06-06 20:22] leandroBorgesFerreira opened #880 "Either fold - Function that runs anyway"
Hi. Thanks for this amazing library!

I have a suggestion.

It would be nice to see an implementation of `fold` with a function that run independently of the result. Like:

[code]

That would be useful for a code that one would like to run independently of the result, like: Stop showing a loading spinner. Of course this can be achieved in other ways, but I think this option would be a nice add to

[2018-06-06 21:54] pakoito commented on #880
You can build it if your client code as an extension to arrow, as it fits great with your use cases :D Using existing blocks to build new blocks is what the library is about. You already have it!

In this case, this function has two downsides why we shouldn't include it in the library: the first one is that it's more of a need that's specific to your use case. You can build it and have it in your

[2018-06-06 22:10] pakoito commented on #880
Putting both together

[code]

[2018-06-06 22:11] pakoito commented on #880
Woops misclick

[2018-06-06 23:17] pakoito commented on #879
Github is a snitch.

I don't have the background to help with this one, as backend work is something I've never engaged with. Maybe another maintainer will be more helpful here.

[2018-06-10 18:27] JorgeCastilloPrz opened #881 "Add Semigroup Instance for Either"
Create a `Semigroup` Instance for `Either` with the following behaviour:
* SG from Left & Right = Right, just the combination of Left & Left would be = Left

[2018-06-10 23:09] #848 closed

[2018-06-11 03:38] ersin-ertan opened #882 "Add Semigroupal typeclass"
A typeclass that allows combining independent contexts of `F<A>` and `F<B>`
Using `Semigroupal<F>` you form `F<Tuple2<A,B>>`
The primary method is: `fun <A,B>product(fa:F<A>, fb:F<B>):F<Tuple2<A,B>>`

_P.S. using `Tuple2` instead of `Pair` right?_

[2018-06-11 08:34] calvellido commented on #874
Closed by #875

[2018-06-11 08:34] #874 closed

[2018-06-11 08:35] calvellido commented on #845
Closed by #846

[2018-06-11 08:35] #845 closed

[2018-06-11 19:30] pakoito opened #884 "Use awaitAll for DeferredK"
Apply `awaitAll` to the implementation of DeferredK where it applies https://github.com/Kotlin/kotlinx.coroutines/pull/323/files

[2018-06-11 22:56] jereksel commented on #871
Wait, but dagger 2.15 is never than 2.5

[2018-06-12 15:16] calvellido commented on #850
WIP:

![captura de pantalla de 2018-06-12 17-14-17](https://user-images.githubusercontent.com/7753447/41299664-3dac653a-6e64-11e8-90f0-7dd1bb4ac94b.png)

[2018-06-13 07:32] israelperezglez commented on #850
@calvellido good work ;)

[2018-06-14 08:02] #850 closed

[2018-06-14 09:14] Eternity-Yarr opened #889 "IllegalStateException is thrown by kapt on 0.7.2"
The compilation fails:
[code]

if version is set to 0.7.1 everything works fine. I've tried with kotlin 1.2.41 and 1.2.50

[2018-06-14 09:52] pakoito commented on #889
It's a Renzu issue it seems. Is this even something we should be running on users? cc @JorgeCastilloPrz ?

[2018-06-14 09:55] JorgeCastilloPrz commented on #889
This was caused by Renzu some patches ago since it expected the root dir to be named `arrow`. If you cloned it with a different name it could fail. [It was discussed here](https://github.com/arrow-kt/arrow/issues/807). There's a fix by @jereksel for this on #827 which is already integrated and should be enough to fix the issue. I assume it's a change not released yet?

[2018-06-14 09:59] jereksel commented on #889
Because my fix was for Gradle. I wasn't expecting that anyone would be using Arrow with Maven.

[2018-06-14 10:03] JorgeCastilloPrz commented on #889
Alright I see now that you were crawling for `settings.gradle`. Maybe you can add an OR to the condition that you can find on any maven repos (like the root pom or something)?

[2018-06-14 10:04] jereksel commented on #889
Yeah, I'll do it and add ant and kobalt for good measure.

[2018-06-14 10:10] JorgeCastilloPrz opened #890 "Renzu iteration 2: Pull it out from standard builds"
Renzu is an annotation processor included in the processors artifact. It requires running for any modules providing `@instance`so it can crawl upwards starting on those.

But still there's not a strong need by the user to run it, and for the end user this is just a side effect. So it would be nice to find the way to run it manually by us and move it out from the standard builds.

Ideas so far:
* C

[2018-06-14 10:10] JorgeCastilloPrz commented on #889
I've also added #890 @pakoito. We can discuss there.

[2018-06-14 11:39] maxcruz opened #891 "Can't find arrow-recursion dependency"
I get an error when trying to synchronize the project with the package arrow-recursion

Failed to resolve: io.arrow-kt:arrow-recursion:0.7.2

Android Studio: 3.2 Canary
Gradle: 4.6-all

[2018-06-14 14:36] jereksel opened #892 "Sort classes in Renzu infographic"
[There are a lot of changes to Renzu](https://github.com/arrow-kt/arrow/commits/master/infographic/arrow-infographic.txt), but most of them are just copying caused by non-deterministic class traversal.

[2018-06-14 19:13] pakoito commented on #891
This is my fault. The artifact wasn't included in the release, it'll be available for 0.7.3 alongside docs.

[2018-06-15 16:13] calvellido commented on #808
This is coming along nicely, it will be probably ready on Monday or Tuesday   :slightly_smiling_face:

![captura de pantalla de 2018-06-15 18-10-01](https://user-images.githubusercontent.com/7753447/41478315-850ed812-70c7-11e8-8a80-45723ffa58a7.png)

[2018-06-17 19:25] JLLeitschuh opened #893 "Lens Laws link Broken"
The link at the bottom of this page to LensLaws is broken.
https://arrow-kt.io/docs/optics/lens/

[2018-06-17 19:51] JLLeitschuh commented on #893
Same for Prisim

[2018-06-17 20:15] nomisRev commented on #893
Thanks a lot for letting us know! Will be fixed in #895

[2018-06-17 21:24] #893 closed, assigned to nobody

[2018-06-17 21:40] pakoito commented on #893
@JLLeitschuh Thank you for reporting!

[2018-06-18 10:09] JLLeitschuh commented on #893
Wow. Awesome turnaround on this, thanks all!

[2018-06-19 07:27] richard-gibson commented on #884
Hey, I can take this one

[2018-06-19 17:57] pakoito commented on #884
I believe @sanogueralorenzo is already looking into it. I really don't know where it could benefit us, maybe just for `ap`, but if it's better than what's there I won't say no :D

[2018-06-20 07:43] nhaarman opened #897 "Destructuring Option instances"
The `Option` class currently does not define a `component1()` function to be able to destructure it.

A common use case is wrapping a nullable type in an `Option` because RxJava does not allow `null` values in its streams:

[code]

Instead, when destructuring:

[code]

[2018-06-20 08:39] pakoito commented on #897
Some implements `component1()`, so you need to have it resolved as a `Some` first.

[2018-06-20 08:43] pakoito commented on #897
Meanwhile, have you tried defining it as an extension function instead?

[2018-06-20 10:04] nhaarman commented on #897
That was my intention, yes. I didn't see `Some.component1()`, so that may cause some conflicts.

Yes, that works, but requires an explicit import (e.g. `import com.myapp.util.component1()`). Intellij does not autosuggest the import.

[2018-06-20 11:08] richard-gibson commented on #884
no problem,
looks like awaitAll() could br implemented for any Traverse<DeferredK<A>> by  just using sequence followed by await on the result
(as you said whether its worth having)

[2018-06-20 11:22] #808 closed

[2018-06-20 11:51] JorgeCastilloPrz commented on #897
Koptional implemented this. I suggest to take a look at their discussions and code of the PR.
https://github.com/gojuno/koptional/pull/20

[2018-06-20 14:29] pakoito commented on #897
KOptional took a month to reluctantly accept it, and it's the only operator in the library :/

The `it.orNull()` option isn't really that long to write, and the behavior isn't implicit on whether you wrap a variable in parenthesis or not.

In the past we also had the chance to override operators instead of using functions like `extensions` or `bind`, and we went for the longer function version to

[2018-06-20 14:42] pakoito commented on #884
If you have a PR then first come first serve! :D

[2018-06-20 17:05] nhaarman commented on #897
Sounds reasonable to me. :+1:

[2018-06-23 23:06] leandroBorgesFerreira opened #904 "How can I create a Writer?"
Hello, folks.

I'm trying to create a Writer, so I can log my computation without side effects. I was looking for something like:
[code]
But I don't see this behaviour. There's still no documentation for the MonadWriter =/. I am studying the code to get how it works, but it would be great if there was an extension function that just creates the Writer.

[2018-06-24 10:47] pakoito commented on #884
Completed and done, thanks @richard-gibson !!!

[2018-06-24 10:47] #884 closed

[2018-06-24 10:48] #781 closed

[2018-06-24 10:48] pakoito commented on #600
Aaaaaand merged! Thanks @Cotel, I am very excited to support the Spring ecosystem better.

[2018-06-24 10:48] #600 closed

[2018-06-24 10:49] pakoito commented on #436
It seems to be gone now.

[2018-06-24 10:49] #436 closed

[2018-06-24 10:49] pakoito commented on #275
Done by @aedans

[2018-06-24 10:49] #275 closed

[2018-06-24 12:50] pakoito opened #906 "Doc links don't jump to anchor points"
Links like this one have stopped working: https://arrow-kt.io/docs/patterns/monad_comprehensions/#synchronous-sequences-of-actions

I suspect it may be caused because of the default focus on the search field, but my web-fu isn't as good. @calvellido do you have any insight?

[2018-06-24 13:18] pakoito commented on #904
Hi Leandro! I believe you'll need WriterT for this, which is sadly undocumented and I'm not too familiar with. Can you please ping @raulraja in one of our channels, like [gitter](http://gitter.im/arrow-kt) or #arrow in Kotlinglang slack?

[2018-06-24 13:56] pakoito opened #907 "Remove @RestrictsSuspension"
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-typeclasses/src/main/kotlin/arrow/typeclasses/MonadContinuations.kt#L13:2

I have learned a bit more about the use of `@RestrictsSuspension`. Apparently it doesn't allow for you to await on suspended functions that aren't the ones defined by your continuation. I'm not entirely sure whether we'd like for people to mix and match `await

[2018-06-24 13:57] leandroBorgesFerreira commented on #904
Thanks Pakoito! I will do that.

[2018-06-24 18:22] richard-gibson opened #909 "@product code generation fails for Data classes with generic fields"
example, code generated bu product annotation processor won't compile
[code]

Happy to take a look at this if its not on anyone's radar but may need some guidance

[2018-06-24 18:30] nomisRev commented on #909
That would be great. If you need guidance feel free to ask on [gitter](http://gitter.im/arrow-kt) or #arrow in [kotlinlang slack](https://kotlinlang.slack.com/messages/C5UPMM0A0/) .

[2018-06-24 19:16] pakoito commented on #909
`@product` needs static resolution to create the generics, so my first intuition is that it shouldn't to work.

[2018-06-24 19:28] #834 closed

[2018-06-24 19:28] #878 closed

[2018-06-24 22:40] richard-gibson commented on #909
I took the code currently generated by the product annotation processor for a data class with 2 generic fields and made modifications by hand before looking at generator updates
You can see the diff here
https://github.com/richard-gibson/arrow/commit/88c0254e54ea56ea7ab632f3640d133cd7d9d637

Any feedback or corrections welcome
I think it looks like the only problems will be to bring semigroups and

[2018-06-24 22:59] raulraja commented on #909
@richard-gibson I invite you to give it a shot and try to contribute those changes to the `ProductProcessor` and `ProductFileGenerator`, only then we are going to discover what the limitations are. Deriving type classes will be soon moved to a la carte `@product(deriving = ...)` where users will list which type classes or generic functionalities to derive so it's not the end of the world if we try

[2018-06-25 08:56] richard-gibson commented on #909
Thanks @raulraja will look at the processor and file generator in the meantime.

[2018-06-25 10:59] raulraja opened #910 "Missing ReaderT extensions including the ones in Effect hierarchy"
ReaderT's can provide instances for any type class for which their inner monad provides instances for. Currently we lack any extensions for `ReaderT` in Arrow. We are missing instances such as `ReaderT.monadDefer` that are possible provided the Monad that ReaderT is wrapping also provides a `MonadDefer` instance. Same for `Concurrent` or any other type classes.

[2018-06-25 22:22] #906 closed

[2018-06-28 08:55] Northburns opened #914 "Publish arrow-validation to maven"
https://github.com/arrow-kt/arrow/blob/884ad98a9a33130f9a1998bfa1663e15e93c733b/modules/core/arrow-validation/build.gradle#L14

We're migrating from funktionale to arrow. I couldn't find a reference to the `arrow-validation` module in issues or pull requests. It seems that its maven artifact isn't being deployed along the rest, as it is missing the following gradle apply (found in other modules):

[2018-06-28 09:44] pakoito commented on #914
That was an oversight, on the other hand the library is so underused that this is the first time someone has noticed lol We'll fix it for next release.

My suggestion regardless is to migrate over to the `Validated` datatype and `Validated.applicative()#map` to construct new values.

https://arrow-kt.io/docs/datatypes/validated/
https://arrow-kt.io/docs/typeclasses/applicative/#applicative-builder

[2018-06-28 10:51] Northburns commented on #914
Thank you for the pointers! I looked into the links, and once I wrapped my head around semigroups, I think I got it.

So, if I understood it correclty

* `Validated` is kinda like a new and improved `Disjunction`
  * well, `Either`  filled that hole, but at least from the perspective of `arrow-validation`, which previously used it as a sort of valid/invalid object
* `Validated.applicative()` requi

[2018-06-28 11:18] pakoito commented on #914
I'll keep the issue open, if you don't mind me changing the title to be more task-oriented.

[2018-06-28 11:19] Northburns commented on #914
I don't mind at all! Thanks again 👍

[2018-07-01 23:46] #889 closed

[2018-07-02 19:25] jereksel opened #921 "[at]Optics generates invalid file for classes without packages"
[code]

Package declaration shouldn't be there

[2018-07-03 11:37] soberich commented on #879
Great, there is a Spring 5 backend example listed in [examples tab](https://arrow-kt.io/docs/quickstart/projects/) now https://github.com/istonikula/realworld-api now

[2018-07-03 12:15] JorgeCastilloPrz commented on #807
I've tried to add Arrow to a repo with plain Android and targeting java 8. This is a very standard configuration for Android projects:
[code]

And as @jrgonzalezg said many times, you get a compile time error because of desugaring:

[code]

So yeah, there's a problem on this, since Arrow can't be used on Android like this. (People does not target jdk7 anymore if they can avoid it, since Android su

[2018-07-03 12:18] jereksel commented on #807
Google bug report: https://issuetracker.google.com/issues/72750890#comment10 points to this bug report: https://youtrack.jetbrains.com/issue/KT-16084 which is "in progress".

[2018-07-03 12:20] pakoito commented on #807
We can rewrite the classes not to use that pattern, right? It's caused by a let so it should be fixable.

[2018-07-03 12:21] pakoito commented on #879
Right, I forgot to ping you :D

[2018-07-03 16:33] richard-gibson commented on #460
Happy to take this

[2018-07-03 16:37] pakoito commented on #460
Please do ;_____;

[2018-07-05 07:42] jereksel opened #927 "Deploy ends with failure"
And what's worse travis shows build as successfull:
https://travis-ci.org/arrow-kt/arrow/builds/400204130#L7844

[2018-07-05 09:30] pakoito commented on #807
Waiting to see how many more instances of the issue pop up.

[2018-07-10 22:09] andrzejressel opened #934 "Classpath warnings are shown during compilation"
[code]

Only warnings for now, but we should fix that asap.

[2018-07-11 11:54] pakoito commented on #360
Done!

[2018-07-11 11:54] #360 closed

[2018-07-11 11:54] pakoito commented on #927
Did we figure out why?

[2018-07-11 11:55] pakoito commented on #881
@bassjacob is taking a look at this ticket already!

[2018-07-11 11:56] pakoito commented on #879
Is is worth keeping this issue around, or can I close it?

[2018-07-11 11:56] jereksel commented on #927
I don't think so. It just started to work properly: https://travis-ci.org/arrow-kt/arrow/builds/402291277#L8084. But I think we should add `set -e` to deploy scripts just in case.

[2018-07-11 12:03] pakoito commented on #634
Fixed in https://github.com/arrow-kt/arrow/pull/900

[2018-07-11 12:03] #634 closed

[2018-07-11 13:43] soberich commented on #879
Yes, full stack I believe will appear as well.

[2018-07-12 00:21] bassjacob commented on #881
Yep, I've got it. Will update with a PR here for Either and Try

[2018-07-13 14:36] pakoito commented on #807
Posted in gitter:

[code]

[2018-07-13 15:44] jrgonzalezg commented on #807
Just found the way to update the sample repo to Arrow 0.7.3-SNAPSHOT: https://github.com/jrgonzalezg/arrow-android-failing

[2018-07-13 15:50] jrgonzalezg commented on #807
This is for Arrow 0.7.3-SNAPSHOT on the repo above java7 branch:
[code]

[2018-07-13 15:51] jrgonzalezg commented on #807
So it seems the fix for ListK may have worked, but we got a few extra occurences too :sweat_smile:

[2018-07-13 15:53] jrgonzalezg commented on #807
Seems java7 reporting the issues in ProGuard gives more info than the master java 8 branch which fails in desugar with just these reported:
[code]
but I suspect it may be giving up before reporting all the errors like ProGuard.

[2018-07-15 15:42] jereksel opened #937 "Coverage is not sent to codecov"
![image](https://user-images.githubusercontent.com/1307829/42735547-5bb380ac-8856-11e8-8ecb-aa5a657afb29.png)

Was propably caused by 0fc7cb46a0e8b1fa3fa3fdc5ea0ccba386008529

[2018-07-15 20:21] #937 closed

[2018-07-15 21:41] jereksel commented on #934
Seems to be caused by kotlintest
[code]

So it's related to #912

[2018-07-15 22:00] jereksel opened #939 "MonadSuspendCancellableContinuations.kt shows a lot of compilation warnings"
[code]

[2018-07-15 22:04] jereksel opened #940 "Change A -> B -> C functions in Optics to (A, B) -> C"
Breaking change so former must be deprecated (Fortunatelly there won't be any issues with generic erasure)

[2018-07-15 22:04] raulraja commented on #939
I think we will benefit from moving the `binding` syntax outside of being an extension to be an actual method in `Monad` and their corresponding sub types. The reason is that as discussed with @Takhion `@instance` is going to generate specialized extensions based on the type class definition for the implementing data type and that will give us specialized versions of `binding` as well that don't n

[2018-07-15 22:06] raulraja commented on #939
We plan on pushing that syntax enhacement out in 0.8.0 where you will no longer need the `ForX extensions` since all data types will have the syntax baked in as part of the `@instance` codegen phase.

[2018-07-16 00:09] jereksel opened #941 "Remove deprecated methods for 0.8.0"
Like `Disjunction` and `Either.get()`

[2018-07-16 01:05] pakoito commented on #939
That class is long due for a refactor, that'll undertake at some point soon :D There was an attempt in an old effects branch.

[2018-07-16 16:57] maxcruz commented on #891
Thanks @pakoito

[2018-07-16 19:59] pakoito commented on #891
We should be releasing soon, we're blocked on an Android only issue :) Try a snapshot meanwhile!

[code]

[2018-07-17 16:09] pakoito opened #943 "Replace BooleanInstances with Boolean companion object"
Starting in Kotlin 1.3, Boolean now has a companion object: https://youtrack.jetbrains.com/issue/KT-7922

We can start the deprecation process for BooleanInstances:

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core/src/main/kotlin/arrow/core/boolean.kt#L3

https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-instances-core/src/main/kotlin/arrow/instances/boolean.kt

[2018-07-19 11:36] pakoito commented on #841
Neat, we got `Try` and `Either` now :D

What's left?

[2018-07-19 22:51] bassjacob commented on #841
Still to come:

* [ ] function0/ function1 -https://github.com/scalaz/scalaz/blob/series/7.3.x/core/src/main/scala/scalaz/std/Function.scala
* [ ] char
* [ ] id
* [ ] boolean
* [ ] const which can reuse some functions from the typeclasses file
* [ ] eval - I'm not sure what the semantics to choose for eval would be

I'll get started on id next

[2018-07-20 00:00] bassjacob commented on #841
Do you want arrow-data-instances as part of this issue or a separate one?

[2018-07-20 00:12] pakoito commented on #841
I'm not sure I follow.

[2018-07-20 00:13] pakoito commented on #841
Let's do a live session when you reach it, I have an idea but would need to be in front of the code.

[2018-07-20 00:13] bassjacob commented on #841
The data types I listed above are from arrow-instances-core. There's also a few missing I think from arrow-instances-data that we might want to add?

[2018-07-20 05:52] israelperezglez opened #946 "Add StateT video"
We will add in the documentation StateT video

[2018-07-20 07:43] calvellido commented on #946
Closed through #947

[2018-07-20 07:43] #946 closed

[2018-07-22 18:07] ersin-ertan commented on #882
The state is no assignees, please feel free. Yes I believe so, in Arrow the Kind extension method will be used.

[2018-07-22 23:52] pakoito commented on #904
@leandroBorgesFerreira Worth closing this ticket?

[2018-07-24 14:01] #904 closed

[2018-07-24 18:12] AregevDev commented on #186
Is there any new about it, looking forward to see it

[2018-07-24 20:41] pakoito commented on #186
Not much progress currently, we're still at

[2018-07-28 18:15] pakoito commented on #807
Segun mis ultimos tests, el fix de #955 lo ha arreglado todo. Puedes comprobarlo, @jrgonzalezg ??

[2018-07-29 03:18] pakoito opened #958 "Look into FingerTrees"
https://chrispenner.ca/posts/intro-to-finger-trees

[2018-07-30 15:34] Cotel commented on #755
I'm taking this ✋

[2018-07-31 20:40] IgorGanapolsky commented on #859
Setting Kotlin to version 1.2.31 has no effect on this error

[2018-07-31 20:48] pakoito commented on #859
@IgorGanapolsky have you updated to Arrow 0.7.2?

[2018-07-31 20:51] IgorGanapolsky commented on #859
@pakoito The strange thing is I'm not even using Arrow in my project.  Still getting this error...

[2018-07-31 20:53] pakoito commented on #859
...

what

[2018-07-31 20:54] pakoito commented on #859
Update Eugenio's kotlin-metadata, or update any transitive libraries that use it. Check with gradle deps or another similar subcommand.

[2018-07-31 20:54] IgorGanapolsky commented on #859
@pakoito There is no kotlin-metadata in my project whatsoever

[2018-07-31 21:09] pakoito commented on #859
Happy to hear that solved it. It's a weird issue indeed.

[2018-07-31 21:25] JorgeCastilloPrz opened #962 "Fix markdown bold style on docs"
Following #961 I've found bold text style is not supported on our markdown based docs. We'd need to fix it since I've actively used it on that post for some important text highlighting.

I've tried all the bold styling usual variants:
* `**asd**`
* `*asd*`
* `__asd__`

None are working. Ultimately I've left the post ready using the `**highlighted text**` variant even if it's still not working. So

[2018-07-31 21:55] pakoito commented on #890
It should go there instead:

https://github.com/arrow-kt/arrow/blob/master/.travis.yml#L10

[2018-08-01 07:53] erickok commented on #807
@pakoito This fixed by Proguard-enabled Android project release build (tested using JitPack build of master branch).

[2018-08-01 09:44] Takhion commented on #859
related: https://github.com/Takhion/kotlin-metadata/issues/8#issuecomment-409517076

[2018-08-01 22:06] pakoito opened #966 "Inline functions create additional anonymous class declaration"
Each inline declaration of a function, i.e. `pipe`, it may force callsites to create an anonymous class to capture the scope. This is an issue in Android land, due to the dex format and its limitations around method count and size.

If we can validate this assumption in the bytecode viewer, it's worth consider doing a pass on the codebase and remove many unnecessary inline annotations.

What'cha t

[2018-08-02 01:02] MarioAriasC commented on #966
I'll have a look

[2018-08-02 01:15] pakoito commented on #335
Closed by #956

[2018-08-02 01:15] #335 closed

[2018-08-02 01:55] pakoito opened #970 "Fix monadlawsource and applicativelawsource in docs"
TBD tomorrow

[2018-08-02 23:31] soberich opened #973 "Migrate to non-".experimantal.." coroutine package. Conflict with new 1.3-M1 and 0.24.0-eap13. "Can't use .experimental package""
I guess it's already on the list. Can't use it now with arrow relevant module.
When should this be migrated?

[2018-08-02 23:47] pakoito commented on #973
Should we wait out for the release? I don't think we're ready to support the pre-release as it is, it'll take some months for them to stabilize it.

[2018-08-02 23:50] soberich commented on #973
Thank you. This is, of course, reasonable.

[2018-08-02 23:55] pakoito commented on #973
Let's keep this open as a reminder.

[2018-08-04 08:49] Cotel commented on #755
Merged! 🎉

[2018-08-04 08:49] #755 closed

[2018-08-08 10:27] #357 closed

[2018-08-09 01:05] pakoito opened #982 "Update Jacoco to 0.8.2"
https://twitter.com/AlanMenant/status/1027076597147422721

[2018-08-14 00:14] #962 closed

[2018-08-20 13:40] jrgonzalezg commented on #807
Seems this is fixed with Arrow 0.7.3, so we can finally close this :tada:

[2018-08-20 13:40] #807 closed

[2018-08-21 00:13] pakoito opened #993 "Rename MonadSuspendLaws to MonadDeferLaws"
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-test/src/main/kotlin/arrow/test/laws/MonadSuspendLaws.kt

Ooops?

[2018-08-23 09:55] adithep opened #996 "Compose a list of function."
Currently one can compose 2 functions together by

`val func3 = func1 compose func2`

I am suppose to be able to compose list of function by

`val func4 = listOf(func1, func2, func3).reduce {a, b -> a compose b}`

but currently this is impossible due to various type error.

Am I missing something? Is there a way to somehow achieve this. Or is there a way for me to write my own compose that accept

[2018-08-23 21:44] pakoito commented on #996
It sounds like something that should be possible. Can you please re-do the example, this time with type annotations for each function and the whole list?

[2018-08-24 05:42] adithep commented on #996
[code]

Error:

So I try:

`val composed = listOf<(Any) -> Any>(::isOdd, add5, multiplyBy2).reduce { x, y -> x compose y }`

Error:

[2018-08-24 06:08] pakoito commented on #996
This is hard to explain but it's just not possible to do `List<(Any) -> Any>` and compose any two functions together. I'm just glad it's a compile time error rather than a runtime ClassCastException.

Try using TupleN or HList instead, although I'm not sure those are reducible :/

[2018-08-27 18:31] AregevDev commented on #186
Kotlin native has support for coroutines (single threaded code though)
And what modules should be included in the `common` module?

[2018-08-27 18:38] AregevDev commented on #186
At the moment I can try and work with the `core` module producing a .klib and trying to make a simple template project from it.
Is it fine?

[2018-08-28 07:35] pakoito commented on #186
Yeah, it'd be great to know how many of the modules are currently compatible with Kotlin Native. Thanks! Put a PR with your findings, maybe in a new module in the docs folder: https://github.com/arrow-kt/arrow/tree/master/modules/docs

[2018-08-28 07:43] AregevDev commented on #186
Started working now, I cloned the repo, but there are few "Unresolved reference" errors in classes
TryOf, EitherOf ect...
What should I do?

[2018-08-29 00:24] toxxmeister opened #1000 "Flipped infix Applicative::ap"
Current signature of `Applicative`'s `ap` is:
[code]

By flipping the receiver and parameter signature to:
[code]
and making the function infix, we could achieve pretty nice syntax for working with curried functions:
[code]

Do you think it'd make sense to change the signature of `ap`, or even just include an infix version alongside the existing one?

[2018-08-29 15:18] pakoito commented on #1000
I'd be happy with a new infix `ap` alongside the existing one, yeah.

[2018-08-29 16:57] toxxmeister commented on #1000
@pakoito Great!

What would you recommend as a name for the infix version?

There is a platform declaration clash between the original and infix version, and since it's an infix function, we cannot add a dummy parameter to resolve the issue, nor can we add a `@JvmName` annotation since it's an interface method.
This means that we'd either have to drop the original version, which I suppose is not a

[2018-08-29 19:42] pakoito commented on #1000
`apply` is already a language construct, so let's go with something else. `apPipe` maybe?

[2018-08-30 10:00] toxxmeister commented on #1000
@pakoito
I wouldn't consider `apply` a language construct (it's merely a scoping function), and there are no cases I can foresee where there'd be confusion between the two.
I'd definitely be open to `apply` as I think it makes the most sense semantically.

I'm not entirely satisfied with `apPipe` as, in my opinion, piping implies some kind of left-to-right functional composition, while this is fun

[2018-08-30 11:07] pakoito commented on #1000
We decided not to cross the operator abuse line a while ago, even if we had multiple chances to do it in the past :D I'm open to more name suggestions, apPipe was just what came to my mind.

[2018-08-30 12:27] raulraja commented on #1000
I think we are still in time to flip the receiver and args in `ap` as suggested by @toxxmeister and have the single infix in `Applicative`. There are no strong reasons AFAIK why the current layout of receiver and params can't be switched besides the obvious bin. Compat issues of people having to migrate if they are using ap explicitly today.

[2018-08-30 14:33] toxxmeister commented on #1000
@raulraja
Shouldn't the next release (0.8.0) have some breaking changes either way? If so, it'd be a good opportunity to include the new `ap`.
Also, I doubt the current implementation was used too much, mostly due to its clunkiness which this new approach tries to solve.

[2018-08-30 14:40] raulraja commented on #1000
@toxxmeister yeah, we can just flip it and leave it infix as single `ap` function in `Applicative`. @pakoito any concerns about that?

[2018-08-30 18:37] fabriciorissetto opened #1002 "Arithmetic extension functions for Options"
Hi guys, I'm really noob in FP and just have started to use some Arrow features (currently I'm using `Options`, `Try` and Modad Comprehensions).

In my current project we ended up creating some helper functions like the ones I'll show below, but I'm concerned if we have created it based on our ignorance about some other possible solutions. So I would like to know if you think it makes sense and, i

[2018-08-30 21:26] raulraja commented on #1002
@fabriciorissetto Arrow supports already the notion of combination through `Semigroup` and the notion of generically mapping over values that are wrapped by a type constructor such as `Option`.
Additionally Arrow [supports polymorphic definitions](https://arrow-kt.io/docs/patterns/polymorphic_programs/) that allows you to write the code that performs the kind of wrapped sum you are doing over Opti

[2018-08-30 23:46] Laimiux commented on #966
Is there any update on this?

[2018-08-31 03:06] pakoito commented on #966
I did a pass on some of the core datatypes: https://github.com/arrow-kt/arrow/pull/971

For `arrow-syntax` we'll do it if necessary.

[2018-09-02 20:26] wadejensen opened #1007 "Kotlin JS / multi-platform support"
I went to use Arrow for a frontend application transpiled from Kotlin to JavaScript and realised that it Arrow doesn't support the JS platform due to explicit Java dependencies.
It would be awesome to see Arrow migrate to being a multiplatform library.

[2018-09-02 20:50] raulraja commented on #1007
@wadejensen I think this is everyone's desire as well but nobody currently pushing the lib has that use case. If you want to give it a shot the first thing we have to do is compile a shopping list of what needs to change currently in the code base to support Kotlin JS/Native and we can take it from there recommending approaches to tackle each one of the parts.

[2018-09-03 00:51] wadejensen commented on #1007
Thanks for the response @raulraja. My use case is very casual at the moment, so I don't have bandwidth to dedicate to this, but if that changes I will give it a red hot go.

[2018-09-03 01:10] pakoito commented on #1007
@AregevDev took a look for the Native port, and we're currently blocked on `kapt` and KindedJ.

[2018-09-03 10:48] pakoito commented on #1007
No, and no plans for it either.

[2018-09-03 13:07] toxxmeister commented on #1000
@pakoito If you agree with @raulraja , I could start with the implementation and docs.

[2018-09-03 17:28] pakoito commented on #1000
After experimenting on the sandbox I'd rather we created a new function instead. I believe that the most common use case will still be `a ap f ap g ap h`. It's just a case for a name, and given how we've handled this before `ap_` or `ap1` would work.

[2018-09-03 22:15] pakoito opened #1009 "Add .success() and .failure()"
https://github.com/arrow-kt/arrow/blob/master/modules/core/arrow-core/src/main/kotlin/arrow/core/Try.kt#L240

Similar to `left`, `right`, `some`, or `liftIO`, we need better constructor extfuns for `Try`.

[2018-09-03 23:12] toxxmeister commented on #1000
After talking to @pakoito , we've reached the following conclusion:
Current `ap` combinator would be renamed to `apPipe` and would provide the actual implementation.
Infix `ap` combinator would base its implementation on `apPipe`.

@raulraja Do you agree with this approach?

[2018-09-03 23:24] toxxmeister opened #1010 "Provide static instances for simple datatypes"
Instances for "simple" datatypes (simple as in the instances do not depend on other instances), could be statically created and cast to their appropriate types when needed.

The simpler case are datatypes with a single type parameter, such as `Option`:

[code]

Datatypes with more than one type parameter require some `Nothing` magic and casting:

[code]

We can't really use this for transformer in

[2018-09-04 01:41] jtuchek commented on #982
It looks like this already up to date at `0.8.2` https://github.com/arrow-kt/arrow/blob/0d50bad0edfac220fb2785ed2ede0240b3ce19b7/build.gradle

Could we call this completed?

[2018-09-04 02:03] pakoito commented on #982
Oh, nice catch. Thanks!

[2018-09-04 02:03] #982 closed

[2018-09-04 02:06] pakoito commented on #371
Kovenant has had 3 commits in almost 2 years: https://github.com/mplatvoet/kovenant/graphs/contributors?from=2017-01-01&to=2018-09-04&type=c

I don't believe the integration is necessary anymore.

[2018-09-04 02:06] #371 closed

[2018-09-04 02:08] pakoito commented on #496
Did it a while ago

[2018-09-04 02:08] #496 closed

[2018-09-04 02:10] pakoito commented on #973
Working on 1.3 on this PR https://github.com/arrow-kt/arrow/pull/1005

It all works now, we just need to wait for the final release.

[2018-09-04 02:12] pakoito commented on #892
I did an attempt on https://github.com/arrow-kt/arrow/pull/896. It didn't quite fix it but at least PRs are shorter now :)

[2018-09-04 02:12] #892 closed

[2018-09-04 12:20] raulraja commented on #1000
@toxxmeister agreed

[2018-09-04 12:26] raulraja commented on #1010
@toxxmeister this can be a great optimization. This would have to be implemented in the codegen section of `@instance` but I'm currently in the middle of a major refactor to introduce `arrow-meta` on 0.8.0 which includes a functional api and AST for annotation processing. https://github.com/arrow-kt/arrow/compare/rr-instance-syntax-extensions#diff-a96b46623a98f74340557dc3db4062c1

Once we have thi

[2018-09-04 12:27] alissonfpmorais commented on #1009
I'll take this one

[2018-09-04 14:03] toxxmeister commented on #1010
@raulraja Yes, I'd love to. Let me know once the refactor is done and I'll proceed.

[2018-09-04 15:35] #1009 closed

[2018-09-04 15:38] pakoito commented on #1010
@raulraja don't forget to at least add @autofold to the sealed classes without optics :D

[2018-09-04 18:11] AregevDev commented on #1007
Maybe try to generate the code and then call the compiler that will include the generated classes?

[2018-09-04 19:04] AregevDev commented on #1007
They are only generating a `class` and two `typealiases`...

[2018-09-06 10:02] calvellido opened #1013 "Arrow code snippets playground"
Our current code snippets in Arrow documentation lacks interactivity and it would be nice if the code in those sections are analyzed/treated by real Kotlin tools in real time.

Adapting JetBrains [Try Kotlin](https://try.kotlinlang.org) and other resources out there, this can be achieved, though some changes are needed to be made on our current docs rendering management.

[2018-09-07 14:48] toxxmeister opened #1015 "Array-backed generic tuples"
This is an attempt at implementing performant array-backed type-safe generic tuples.
It's very similar to `HList` on type-level, which due to its nature is not very performant.
Furthermore, convenience typealiases are introduced to make them more flexible than current `HList`s.

Do you find this useful? Could the API be improved/expanded?

## Implementation and API

Let's start by introducing `Tup

[2018-09-07 15:07] #914 closed

[2018-09-07 19:09] pakoito commented on #1015
![](https://i.imgur.com/mp6PNWI.png)

[2018-09-07 21:31] Laimiux commented on #966
I think it would be valuable to remove inline at least from `pipe` and `partially` functions (at least from our use cases). I could do a pass on `arrow-syntax`.

[2018-09-07 21:50] pakoito commented on #966
Go for it, thanks!

[2018-09-07 22:11] pakoito commented on #970
It took a bit more

[2018-09-07 23:14] toxxmeister commented on #1015
@pakoito The linked PR includes the currently defined API.
I think it definitely needs some work before it's ready, so I'm open for discussion.

[2018-09-08 00:56] #970 closed

[2018-09-10 14:26] fabriciorissetto commented on #1002
Thanks @raulraja, I learned a lot from your answer. I've improved my extension functions but I am still needing them:

### Sum that works for any applicative instance:

[code]

### Operators overrided for the types `Option<BigDecimal>` (`+` and `/`):

[code]

Do you think it makes sense to add functions like these in Arrow? If so I can dedicate some time to create an pull request with some of thes

[2018-09-10 14:53] raulraja commented on #1002
@fabriciorissetto Not specifically for `Option`.

what happens in the generic definition if you pass no arguments or one argument? That function with varargs is unsafe because empty lists may not be reduced unless you want mack an Option See `Foldable#reduceLeftToOption`. I think that may blow up and you need a non empty list as a argument or use the `Monoid<BigDecimal>` to return an empty value i

[2018-09-10 19:19] maruiz81 opened #1018 "Question about Blocking thread jumps In Android"
Hi, I am trying to do a code to perform an operation (in this case in an request to server) in background and the result in UI thread:

            IO.monadDefer().bindingCatch {
                val resultData = bindIn(CommonPool) { request }
                bindIn(UI) { resultData }.bind()
            }.fix()

The problem I am having is all the code is running in the UI thread, so I am getting an

[2018-09-10 19:55] pakoito commented on #1002
If the definition could be `map(this, other, ::plus)` it'd be great :)

[2018-09-10 19:56] pakoito commented on #1018
I'd need a longer example of what request and resultData do to assess this. The second `bindIn(UI) { resultData }.bind()` shouldn't need a call to `bind()` either.

I'd suggest going with the non-blocking version if at all possible. It's better designed and tested, and the blocking one will probably be deprecated.

[2018-09-10 20:20] #1018 closed, assigned to nobody

[2018-09-11 19:51] alissonfpmorais commented on #993
Working on it!

[2018-09-11 22:31] pakoito commented on #993
Thanks!

[2018-09-12 01:26] #993 closed

[2018-09-12 20:06] pakoito opened #1021 "Migrate to kotlinx.coroutines 0.26.0-eap13"
Re-design with CoroutineScope in mind: https://github.com/Kotlin/kotlinx.coroutines/releases/tag/0.26.0

I'd rather we rolled this out on 0.8.0 alongside the breaking change to Kotlin 1.3, and the new typeclass gen.

[2018-09-12 22:09] pakoito opened #1023 "Bracket"
https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Bracket.scala

https://github.com/scalaz/scalaz-zio/blob/master/microsite/src/main/tut/usage/bracket.md

Bracket models the standard imperative `try catch finally` block but as a Typeclass working over Higher Kinds. This ticket will unlock other typeclasses we need to work on, like `Concurrent`, since it's

[2018-09-13 10:17] pakoito opened #1026 "Day convolution for comonadic UIs"
https://blog.functorial.com/posts/2016-08-08-Comonad-And-Day-Convolution.html

https://functorial.com/the-future-is-comonadic/main.pdf

[2018-09-13 11:30] Cotel commented on #1026
I was planning to add it to #1020. Maybe I forgot to tag it as a Work in Progress 😅

[2018-09-13 11:59] pakoito commented on #1026
Gotcha, closing this then!

[2018-09-13 11:59] #1026 closed

[2018-09-13 12:08] pakoito opened #1027 "Comonadic UI: next steps"
As per this tweet: https://twitter.com/arthurxavierx/status/1040209220593954816

Some existing exploration around composing UIs and parent-child communication: https://arthurxavierx.github.io/RealWorldAppComonadicUI.pdf

[2018-09-21 12:21] jereksel commented on #940
I think we don't have to remove old ones: https://kotlinlang.org/docs/reference/java-to-kotlin-interop.html#handling-signature-clashes-with-jvmname

[2018-09-21 13:21] pakoito commented on #940
cc @nomisRev !!

[2018-09-24 21:17] fabriciorissetto commented on #1002
Sorry about the delay guys.

@pakoito thanks for the tip, but `map(this, other, ::plus)` didn't worked because the function `::plus` defined inside BigDecimal   receives just 1 parameter (it sums the current BigDecimal instance (`this`) with the supplied parameter).

@raulraja you were right. That `varargs` would produce runtime exception for empty lists.

About the extension functions inside `App

[2018-09-24 21:29] matheusca commented on #1002
@fabriciorissetto what do you think to turn your `Kind` more generic?

you could use:

[code]

You could use as I 've shown, because the types are `Number` too.

So, I don't know if it's work, but you could try. Let me know about.